.row
	.col-xs-12
		h3 För Þórs til Geirröðargarða
		p 
			| Þá mælti Ægir: 
		blockquote 
			| „Mikill þótti mér 
			span.has-tip title="mikill jötunn sem Þór lagði að velli" Hrungnir 
			| fyrir sér. Vann Þór meira þrekvirki nokkuð þá er hann átti við tröll?“
		p 
			| Þá svarar Bragi: „Mikillar frásagnar er það vert er Þór fór til Geirröðargarða. Þá hafði hann eigi hamarinn Mjöllni eða megingjarðir eða járngreipar og olli því Loki - hann fór með honum - því að Loka hafði það hent, þá er hann flaug einu sinni að skemmta sér með valsham Friggjar, að hann flaug fyrir forvitni sakir í Geirröðargarða og sá þar höll mikla, settist og sá inn um glugg. En Geirröður 
			| leit í móti honum og mælti að taka skyldi fuglinn og færa honum. En sendimaður komst nauðulega á hallarvegginn, svo var hann hár. Það þótti Loka gott er hann sótti erfiðlega til hans og ætlaði sér stund að fljúga eigi upp fyrr en hann hefði farið allt 
			span.has-tip title="torfæra" torleiðið
			|. En er maðurinn sótti að honum þá beinir hann 
			span.has-tip title="vængur" fluginn 
			| og spyrnir við fast og eru þá fæturnir fastir. Var Loki tekinn þar höndum og færður Geirröði jötni. En er hann sá augu hans þá grunaði hann að maður mundi vera og bað hann svara. En Loki þagði. Þá læsti Geirröður Loka í kistu og svelti hann þar þrjá mánuði.
		p 
			| En þá er Geirröður tók hann upp og beiddi hann orða þá sagði Loki hver hann var. Og til 
			span.has-tip title="lífgjöf" fjörlausnar 
			| vann hann Geirröði þess eiða að hann skyldi koma Þór í Geirröðargarða svo að hann hefði hvorki hamarinn né megingjarðir.
		p 
			| Þór kom til gistingar til 
			span.has-tip title="tröllkona" gýgjar 
			| þeirrar er Gríður er kölluð. Hún var móðir Víðars hins þögla. Hún sagði Þór satt frá Geirröði að hann var jötunn 
			span.has-tip title="stórvitur" hundvís 
			| og illur viðureignar. Hún léði honum megingjarða og járngreipa er hún átti og staf sinn er heitir Gríðarvölur.
		p 
			| Þá fór Þór til ár þeirrar er Vimur heitir, allra áa mest. Þá spennti hann sig megingjörðum og studdi 
			span.has-tip title="á móti straumi" forstreymis 
			| Gríðarvöl en Loki hélt undir megingjarðir. Og þá er Þór kom á miðja ána þá óx svo mjög áin að uppi braut á öxl honum. Þá kvað Þór þetta:
		.row.poem
			.col-xs-12
				ul
					li Vaxattu nú, Vimur,
					li alls mig þig vaða tíðir
					li jötna garða í.
					li Veistu ef þú vex,
					li að þá vex mér ásmegin
					li jafnhátt upp sem himinn.
		p 
			| Þá sér Þór uppi í gljúfrum nokkurum að Gjálp, dóttir Geirröðar, stóð þar tveim megin árinnar og gerði hún árvöxtinn. Þá tók Þór upp úr ánni stein mikinn og kastaði að henni og mælti svo: „Að ósi skal á stemma!“
		p 
			| Eigi missti hann þar er hann kastaði til. Og í því bili bar hann að landi og fékk tekið reynirunn nokkurn og steig svo úr ánni. Því er það orðtak haft að reynir er björg Þórs.
		p 
			| En er Þór kom til Geirröðar þá var þeim félögum vísað fyrst í geitahús til herbergis og var þar einn stóll til sætis og sat þar Þór. Þá varð hann þess var að stóllinn fór undir honum upp að 
			span.has-tip title="þak að innanverðu" ræfri
			|. Hann stakk 
			span.has-tip title="stafur Gríðar" Gríðarveli 
			| upp í 
			span.has-tip title="viðarstoðir í torfþaki" raftana 
			| og lét sígast fast á stólinn. Varð þá brestur mikill og fylgdi skrækur mikill. Þar höfðu verið undir stólinum dætur Geirröðar, Gjálp og Greip, og hafði hann brotið hrygginn í báðum.
		p 
			| Þá lét Geirröður kalla Þór í höllina til leika. Þar voru eldar stórir eftir endilangri höllinni. En er Þór kom í höllina 
			span.has-tip title="á móti" gagnvart 
			| Geirröði þá tók Geirröður með töng 
			span.has-tip title="járnklumpur" járnsíu 
			| glóandi og kastar að Þór. En Þór tók í móti með járngreipum og færir á loft síuna en Geirröður hljóp undir járnsúlu að forða sér. Þór kastaði síunni og 
			span.has-tip title="(hér) kastast" laust 
			| gegnum súluna og gegnum Geirröð og gegnum vegginn og svo fyrir utan í jörðina.“
		p 
			| Eftir þessi sögu hefur ort Eilífur Guðrúnarson í Þórsdrápu.