
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-signin' }) do |f|
	= devise_error_messages!
	.input-group.none
		span.input-group-addon
			i.fa.fa-user
		= f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Tölvupóstur'
	= f.submit "Senda mér staðfestingarleiðbeiningar", :class => 'btn btn-lg btn-primary btn-block'
	= render "devise/shared/links"
