upstream snedda {
    server unix:///var/tmp/puma/snedda.sock;
}
server {
  listen 80 default_server;
  server_name <%= server_name! %>;

  root <%= deploy_to %>/<%= current_path %>/public;

  access_log /srv/logs/<%= server_name! %>-access.log;
  error_log /srv/logs/<%= server_name! %>-error.log;

  charset utf-8;
  if (-f <%= deploy_to %>/<%= current_path %>/public/system/maintenance.html) {
      return 503;
  }
      
  error_page 503 @maintenance;
  location @maintenance {
      rewrite  ^(.*)$  /system/maintenance.html last;
      break;
  }
  location / {
    try_files $uri $uri/index.html $uri.html @app;
  }

  location @app {
      #all requests are sent to the UNIX socket
      proxy_pass http://snedda;
      proxy_redirect     off;

      proxy_set_header   Host             $host;
      proxy_set_header   X-Real-IP        $remote_addr;
      proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;

      client_max_body_size       10m;
      client_body_buffer_size    128k;

      proxy_connect_timeout      90;
      proxy_send_timeout         90;
      proxy_read_timeout         90;

      proxy_buffer_size          4k;
      proxy_buffers              4 32k;
      proxy_busy_buffers_size    64k;
      proxy_temp_file_write_size 64k;
  }

  # Based on https://gist.github.com/plentz/6737338
  server_tokens off;
  add_header Access-Control-Allow-Origin '*';
  # nginx sets these by default
  # add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
  # add_header X-Frame-Options SAMEORIGIN;
  # add_header X-Content-Type-Options nosniff;
  # add_header X-XSS-Protection "1; mode=block";
  # add_header Content-Security-Policy "default-src 'self'; \
  #   script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google-analytics.com https://ssl.google-analytics.com https://connect.facebook.net; \
  #   img-src 'self' https://ssl.google-analytics.com http://www.google-analytics.com https://s-static.ak.facebook.com; \
  #   style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; \
  #   font-src 'self' https://themes.googleusercontent.com; \
  #   frame-src https://www.facebook.com https://s-static.ak.facebook.com; \
  #   object-src 'none'";

  location ~ ^/(assets)/  {
    root <%= deploy_to %>/<%= current_path %>/public;
    gzip_static on; # to serve pre-gzipped version
    expires max;
    add_header Cache-Control public;
  }
  location ~ ^/(assets)/  {
    root <%= deploy_to %>/<%= current_path %>/public;
    gzip_static on; # to serve pre-gzipped version
    expires max;
    add_header Cache-Control public;
  }
}