div.row
	.col-xs-12.columns
		h3 42. Borgarsmiðurinn og Sleipnir

		p Þá spurði Gangleri: 
		blockquote
			|„Hver á hestinn Sleipni, kanntu einhverjar sögur af honum?“

		p Hár svarar: 
		blockquote
			|„Ef þú veist ekkert um Sleipni og með hvaða atburðum hann varð til þá mun þér þykja það efni í góða sögu.

		blockquote
			|Þegar goðin höfðu nýlokið við gerð Valhallar og Miðgarðs kom þar að smiður og bauðst til að reisa fyrir þá borgarvirki á þremur 
			span.has-tip data-tooltip="" title="hálft ár." misserum, 
			|virki sem væri svo gott og öruggt að bergrisar og hrímþursar kæmust ekki í gegnum það þótt þeir kæmu inn um Miðgarð. 
			|Að launum krafðist hann þess að eignast Freyju og fá sólina og tunglið í kaupbæti. 


		blockquote
			|Þá hittust æsirnir og réðu ráðum sínum og var gerður samningur við smiðinn þar sem goðin gengu að óskum hans, næði hann að byggja virkið á einum vetri. 
			|Væri verkinu ekki fulllokið hinn fyrsta dag sumars fengi smiðurinn ekki kaup sitt. 
			|Við verkið mátti hann ekki þiggja aðstoð frá neinum manni. 
			|Þegar þeir höfðu sett honum þessa kosti bað hann um að fá að njóta liðsinnis af hesti sínum, Svaðilfara. 
			|Loki fékk því ráðið að æsirnir samþykktu þessa tillögu.

		blockquote
			|Á fyrsta vetrardegi hófst smiðurinn handa við að reisa virkið og á næturnar dró hesturinn grjót til verksins. 
			|Æsirnir undruðust mjög hve stór björg hesturinn gat dregið en hesturinn vann helmingi meira þrekvirki en smiðurinn. 
			|Samningur þeirra var bundinn eiðum og að honum voru sterk vitni vegna þess að jötnum þótti ekki öruggt að vera í návígi við æsi án þess að njóta verndar ef Þór kæmi heim. 
			|Hann var þá farinn austur á bóginn að berja tröll. 
			|Smíðin gekk mjög vel eftir því sem leið á veturinn. 
			|Virkið var svo hátt og sterkt að ekki mátti finna á því nokkurn galla. 
			|Þegar þrír dagar voru til sumars var næstum komið að virkishliðinu.

		blockquote
			|Þá settust goðin á rökstóla og ráðguðust um hver hefði ráðið því að Freyja yrði gift í Jötunheima og að lofti og himni yrði spillt með því að gefa jötnum sólina og tunglið. 
			|Allir voru sammála um að sá ætti sök á þessu sem flestu illu veldur, Loki Laufeyjarson, og að hann ætti fátt annað skilið en hræðilegan dauðdaga nema hann fyndi ráð til að rifta samkomulaginu við smiðinn. 
			|Æsirnir þjörmuðu að Loka og varð hann svo hræddur að hann sór þess eið að hann skyldi gera allt sem í hann gæti til að smiðurinn fengi ekki kaup sitt.

		blockquote#heimsmynd-8x
			|Það var svo hið sama kvöld þegar smiðurinn var að sækja grjót með hestinum Svaðilfara að skyndilega kom meri hneggjandi út úr nálægum skógi og hljóp að hestinum. 
			|Er hesturinn fann hvers konar hross hér var á ferðinni þá varð hann óður, sleit í sundur reipin og hljóp til merarinnar. 
			|Hún tók á rás inn í skóginn og smiðurinn á eftir til að ná hestinum. 
			|Hrossin voru á hlaupum alla nóttina og tafðist smíðin á meðan. 
			|Næsta dag var ekki smíðað sem áður og þegar smiðurinn sá að verkinu myndi ekki ljúka í tæka tíð þá færðist hann í 
			span.has-tip data-tooltip="" title="æði sem veitir aukið afl. Hér er um sérstakt tilvik að ræða því smiðurinn tekur þarna á sig sinn rétta ham þegar hann breytist í bergrisa." jötunmóð. 
			|Æsirnir gengu nú á bak orða sinna og rufu samninginn um leið og þeir sáu að þarna var bergrisi á ferð, þeir kölluðu í Þór sem kom jafnskjótt. 
			|Því næst hóf hann hamarinn Mjöllni á loft og greiddi smiðnum ekki sól og mána fyrir verk sitt heldur högg sem varnaði honum að komast aftur heim til sín í Jötunheima, braut höfuð hans í mola og sendi hann niður í Niflheim.

		blockquote
			|En Loki hafði það upp úr ferð sinni til Svaðilfara þessa nótt að nokkru síðar kastaði hann folaldi. 
			|Það var grátt og hafði átta fætur og er það besti hestur meðal goða og manna, en svo segir í Völuspá: 

		.row.poem
			.col-xs-12
				h4 Vísa 49
				ul
					li Þá gengu regin öll
					li á rökstóla,
					li ginnheilög goð,
					li og um það gættust,
					li hver hefði loft allt 
					li lævi blandið
					li eða ætt jötuns
					li Óðs mey gefna.

		.row.poem
			.col-xs-12
				h4 Vísa 50
				ul
					li Á gengust eiðar
					li orð og særi,
					li mál öll meginleg
					li er á meðal fóru.
					li Þór einn þar vó
					li þrunginn móði,
					li hann sjaldan situr
					li er hann slíkt um fregn.“ 

