div.row
	.col-xs-12.columns
		h3 43. Skíðblaðnir

		p Þá spurði Gangleri: 
		blockquote
			|„Hvað getur þú sagt mér um Skíðblaðni, er það besta skip sem um getur? 
			|Er ekkert skip jafngott eða jafnstórt?“

		p 
			|Skíðblaðnir er besta skipið og smíðað af mestu hugviti en Naglfar er stærst. 
			|Það er í eigu Múspells. Dvergarnir Ívaldasynir smíðuðu Skíðblaðni og gáfu Frey. 
			|Skipið er svo stórt að allir æsir komast um borð með vopnum og herbúnaði og það hefur alltaf byr þegar segl er dregið upp, í hvaða átt sem fara skal. 
			|Hann er gerður af svo mikilli list og úr svo mörgum hlutum að það má brjóta hann saman eins og dúk og stinga honum í vasann.
