
= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :class => 'form-signin', :method => :put, :autocomplete => 'off' }) do |f|
  h2 Breyta Notanda
  = devise_error_messages!
  .input-group.none
    span.input-group-addon
      i.fa.fa-user
    = f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Tölvupóstur', :autocomplete => 'off'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for: 
      = resource.unconfirmed_email
  h3 Breyting á lykilorði
  .input-group.top
    span.input-group-addon
      i.fa.fa-lock
    = f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Lykilorð', :autocomplete => 'off'
  .input-group.center
    span.input-group-addon
      i.fa.fa-lock
    = f.password_field :password_confirmation, :required => true, :class => 'form-control', :placeholder => 'Lykilorð(aftur)', :autocomplete => 'off'
  .input-group.bottom
    span.input-group-addon
      i.fa.fa-lock
    = f.password_field :current_password, :required => true, :class => 'form-control', :placeholder => 'Núverandi lykilorð', :autocomplete => 'off'
  = f.submit "Breyta skráningu", :class => 'btn btn-lg btn-primary btn-block'
  = link_to "Til Baka", :back, :class => 'link'

/ h2
/   | Edit 
/   = resource_name.to_s.humanize
/ = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
/   = devise_error_messages!
/   div
/     = f.label :email
/     br
/     = f.email_field :email, :autofocus => true
/   - if devise_mapping.confirmable? && resource.pending_reconfirmation?
/     div
/       | Currently waiting confirmation for: 
/       = resource.unconfirmed_email
/   div
/     = f.label :password
/     i
/       | (leave blank if you don't want to change it)
/     br
/     = f.password_field :password, :autocomplete => "off"
/   div
/     = f.label :password_confirmation
/     br
/     = f.password_field :password_confirmation
/   div
/     = f.label :current_password
/     i
/       | (we need your current password to confirm your changes)
/     br
/     = f.password_field :current_password
/   div
/     = f.submit "Update"
/ h3
/   | Cancel my account
/ p
/   | Unhappy? 
/   = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete
/ = link_to "Back", :back
