
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-signin' }) do |f|
  = devise_error_messages!
  .input-group.top
    span.input-group-addon
      i.fa.fa-user
    = f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Tölvupóstur'
  .input-group.center
    span.input-group-addon
      i.fa.fa-lock
    = f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Lykilorð', :minlength => 2
  .input-group.bottom
    span.input-group-addon
      i.fa.fa-lock
    = f.password_field :password_confirmation, :required => true, :class => 'form-control', :placeholder => 'Lykilorð(aftur)'
  = f.submit "Nýskráning", :class => 'btn btn-lg btn-primary btn-block'
  = render "devise/shared/links"
