.row
  .col-xs-12
    h3 Skáldamjöðurinn

    p Og enn mælti Ægir: 
    blockquote „Hvaðan af hefur hafist sú íþrótt er þér kallið skáldskap?“

    p Bragi svarar: 
    p 
      | „Það voru upphöf til þess að goðin höfðu ósætt við það fólk er vanir heita, en þeir lögðu með sér friðstefnu og 
      span.has-tip title="semja frið" settu grið 
      | á þá lund að þeir gengu hvorirtveggju til eins kers og spýttu í hráka sínum. En að skilnaði þá tóku goðin og vildu eigi láta týnast það 
      span.has-tip title="tákn um frið" griðamark 
      | og sköpuðu þar úr mann. Sá heitir Kvasir. Hann er svo vitur að enginn spyr hann þeirra hluta er eigi kann hann úrlausn. Hann fór víða um heim að kenna mönnum fræði. Og þá er hann kom að heimboði til dverga nokkurra, Fjalars og Galars, þá kölluðu þeir hann með sér á einmæli og drápu hann, létu renna blóð hans í tvö ker og einn 
      span.has-tip title="suðupottur" ketil
      |, og heitir sá Óðrerir en kerin heita Són og Boðn. Þeir blönduðu hunangi við blóðið og varð þar af mjöður sá er hver er af drekkur verður skáld eða fræðamaður. Dvergarnir sögðu ásum að Kvasir hefði kafnað í mannviti fyrir því að enginn var þar svo fróður að spyrja kynni hann fróðleiks.

    p 
      | Þá buðu þessir dvergar til sín jötni þeim er Gillingur heitir og konu hans. Þá buðu dvergarnir Gillingi að róa á sæ með sér. En er þeir fóru fyrir land fram reru dvergarnir á 
      span.has-tip title="blindsker" boða 
      | og hvelfdu skipinu. Gillingur var ósyndur og týndist hann en dvergarnir réttu skip sitt og reru til lands. Þeir sögðu konu hans þenna atburð en hún kunni því illa og grét hátt. Þá spurði Fjalar hana ef henni mundi hugléttara ef hún sæi út á sæinn þar er hann hafði týnst. En hún vildi það. Þá mælti hann við Galar, bróður sinn, að hann skal fara upp yfir dyrnar er hún gengi út og láta 
      span.has-tip title="myllusteinn" kvernstein 
      | falla í höfuð henni og taldi sér leiðast óp hennar. Og svo gerði hann.

    p 
      | Þá er þetta spurði Suttungur, bróðurson Gillings, fer hann til og tók dvergana og flytur á sæ út og setur þá í 
      span.has-tip title="flæðisker" flæðarsker
      |. Þeir biðja Suttung sér lífsgriða og bjóða honum til sættar í föðurgjöld mjöðinn dýra og það verður að sætt með þeim. Flytur Suttungur mjöðinn heim og 
      span.has-tip title="geyma" hirðir 
      | þar sem heita Hnitbjörg, setur þar til gæslu dóttur sína Gunnlöðu.

    p 
      | Af þessu köllum vér skáldskap 
      span.has-tip title="kenningar fyrir skáldskap" Kvasis blóð 
      | eða 
      span.has-tip title="kenningar fyrir skáldskap" dverga drekku eða fylli 
      | eða nokkurs konar 
      span.has-tip title="kenningar fyrir skáldskap" lög Óðreris eða Boðnar eða Sónar
      |, eða 
      span.has-tip title="kenningar fyrir skáldskap" farskost dverga
      |, fyrir því að sá mjöður flutti þeim fjörlausn úr skerinu, eða Suttungamjöð eða 
      span.has-tip title="kenningar fyrir skáldskap" Hnitbjargalögur
      |.“

    p Þá mælti Ægir: 
    blockquote 
      | „Myrkt þykir mér það mælt að kalla skáldskap með þessum heitum. En hvernig komu þeir æsir að Suttungamiði?“

    p Bragi svarar: 
    p 
      | „Sú saga er til þess, að Óðinn fór heiman og kom þar er þrælar níu slógu hey. Hann spyr ef þeir vilji að hann brýni ljái þeirra. Þeir játa því. Þá tekur hann hein af belti sér og brýndi en þeim þótti bíta ljáirnir miklu betur og föluðu 
      span.has-tip title="brýni" heinina
      |. En hann mat svo að sá er kaupa vildi skyldi 
      span.has-tip title="greiða hóflegt gjald fyrir" gefa við hóf
      |. En allir kváðust vilja og báðu hann sér selja en hann kastaði heininni í loft upp. En er allir vildu 
      span.has-tip title="grípa" henda 
      | þá skiptust þeir svo við að hver brá ljánum á háls öðrum.

    p 
      | Óðinn sótti til náttstaðar til jötuns þess er Baugi hét, bróðir Suttungs. Baugi kallaði 
      span.has-tip title="slæm staða" illt fjárhald 
      | sitt og sagði að þrælar hans níu höfðu drepist en taldist eigi 
      span.has-tip title="eiga von á vinnumönnum" vita sér von verkmanna
      |. En Óðinn nefndist fyrir honum 
      span.has-tip title="sá sem boðar illt" Bölverkur
      |. Hann bauð að taka upp níu manna verk fyrir Bauga en mælti sér til kaups einn drykk af Suttungamiði. Baugi kvað 
      span.has-tip title="ráða ekki yfir" einskis ráðs eiga 
      | af miðinum, sagði að Suttungur vildi einn hafa. En fara kveðst hann mundu með Bölverki og freista ef þeir fengju mjöðinn.

    p 
      | Bölverkur vann um sumarið níu manna verk fyrir Bauga en að vetri beiddi hann Bauga leigu sinnar. Þá fara þeir báðir til Suttungs. Baugi segir Suttungi bróður sínum kaup þeirra Bölverks en Suttungur 
      span.has-tip title="neita" synjar 
      | þverlega hvers dropa af miðinum. Þá mælti Bölverkur til Bauga að þeir skyldu freista 
      span.has-tip title="svikabrögð" véla 
      | nokkurra, ef þeir megi ná miðinum, en Baugi lætur það vel vera. Þá dregur Bölverkur fram 
      span.has-tip title="bor" nafar 
      | þann er Rati heitir og mælti að Baugi skal bora bjargið ef nafarinn bítur. Hann gerir svo. Þá segir Baugi að gegnum er borað bjargið. En Bölverkur blæs í nafarsraufina og 
      span.has-tip title="(hér) feykjast" hrjóta 
      | spænirnar upp í móti honum. Þá fann hann að Baugi vildi svíkja hann og bað bora gegnum bjargið. Baugi boraði enn en er Bölverkur blés annað sinn þá fuku inn 
      span.has-tip title="ryk" spænirnir
      |. Þá brást Bölverkur í orms líki og skreið í nafarsraufina en Baugi stakk eftir honum nafrinum og missti hans.

    p 
      | Fór Bölverkur þar til sem Gunnlöð var og lá hjá henni þrjár nætur og þá lofaði hún honum að drekka af miðinum þrjá drykki. í hinum fyrsta drykk drakk hann allt úr Óðreri en í öðrum úr Boðn, í hinum þriðja úr Són og hafði hann þá allan mjöðinn.

    p 
      | Þá brást hann í 
      span.has-tip title="skinn og fjaðrir arnar" arnarham 
      | og flaug sem ákafast. En er Suttungur sá flug arnarins tók hann sér arnarham og flaug eftir honum. En er æsir sáu hvar Óðinn flaug þá settu þeir út í garðinn ker sín. En er Óðinn kom inn um Ásgarð þá spýtti hann upp miðinum í kerin. En honum var þá svo nær komið að Suttungur mundi ná honum að hann 
      span.has-tip title="drita" sendi aftur 
      | suman mjöðinn og var þess ekki gætt. Hafði það hver er vildi og köllum vér það 
      span.has-tip title="sá hluti skáldamjaðarins sem færir mönnum litla skáldgáfu" skáldfíflahlut
      |. En Suttungamjöð gaf Óðinn ásunum og þeim mönnum er yrkja kunnu. Því köllum vér skáldskapinn 
      span.has-tip title="kenningar fyrir skáldskap" feng Óðins 
      | og 
      span.has-tip title="kenningar fyrir skáldskap" fund 
      | og 
      span.has-tip title="kenningar fyrir skáldskap" drykk hans 
      | og 
      span.has-tip title="kenningar fyrir skáldskap" gjöf hans 
      | og 
      span.has-tip title="kenningar fyrir skáldskap" drykk ásanna.“
 