
@import "chapters/shared";

@import "font-awesome";

$sidebar-width: 235px;
$blue: #3b7189;
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	background-color: white;
	width: 100%;
	height: 100%;
}
@media (min-width: $tablet-break) {
	.overlay {
		display: none;
	}
}
.sidebar {
	// display:none;
	position: fixed;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	// position:absolute;
	// left: 0;
	// left: -170px;
	// width: 22%;
	width: $sidebar-width;
	min-width: $sidebar-width;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	background: white;

	&.active {
		display: block;
	}
	// z-index: 120;
	.sidebar-inner {
		position: relative;
		min-height: 100%;
		overflow-y: auto;
		padding: 10% 10px 0;
	}
	.logo {
		margin: 0px auto;
		// margin-top: 40px;
		display: block;
		width: $sidebar-width - 110px;
	}

	ul.chapters {
		list-style-type: none;
		padding: 0;
		margin-top: 10%;
		margin-left: 15px;
		margin-bottom: 90px;
		li {
			text-align: left;
			margin-top: 13px;
			list-style-type: none;
			font-size: 0.9em;

			a {
				color: $blue;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
		ul {
			margin-left: 0;
			padding-left: 20px;
			&.not_active {
				display: none;
			}
			&.active {
				display: block;
			}
			@media screen and (min-height: 950px ) {
				&.not_active {
					display: block;
				}
			}
			li {
				a {
					font-weight: normal;
					color: #919191;
					display: block;
					&:active, &:hover{
						font-weight: bold;
						letter-spacing: -0.02em; // Fix bolding errors
					}
				}
				&.active a {
					font-weight: bold;
					letter-spacing: -0.02em; // Fix bolding errors
				}
			}
		}
	}

	.mm-logo {
		position: absolute;
		bottom: 10px;
		left: 0;
		display: block;
		width: 100%;
		// max-height: 70px;
		// height: 8%;
		text-align:center;
		img {
			width: 130px;
			margin: 0 auto;
		}
		.logo-text {
			font-size: 0.7em;
			color: #919191;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

@media (min-width: $tablet-break) {
	
	.sidebar {
		display: block !important;
		z-index: 120;
		margin-left: -$sidebar-width;
	}
	.wrapper {
		padding-left: $sidebar-width;
		// position: static;
		// width: auto;
	}
}



.header {
	// position: relative;
	// z-index: 70;
	.header-img {
		padding: 0;
		img {
			width: 100%;
		}
	}
}

.toolbar {
	// display: none;
	height: 64px;
	background-color: white;
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	.navbar {
		background-color: white;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
		z-index: 100;
		.navbar-nav {
			// margin: 0;
			margin-left: 0;
			margin-right: 0;
			.open .dropdown-menu {
				position: absolute;
				background-color: white;
				border-radius: 0;
			}
		}
	}

	#print {
		display: none;
	}


	.navbar-nav > li { //fixes the bootstrap mobile collapse
		float: left;

		a.active {
			color: #111;
		}
	}
	.audio {
		.fa {
			font-size: 2em;
		}
	}
	.chapter {
		display: none;
		text-transform: uppercase;
	}
	.player {
		display: none;
		font-size: 1.8em;
		position: absolute;
		right: -20px;
		top: 99%;
		// width: 350px;
		// width: 100%;
		left: -20px;
		background-color: white;

		padding: 5px 20px;
		ul {
			// width: 100%;
		}
		li {
			float: left;
			display: inline-block;
			margin-left: 10px;

			color: #333;
			&:hover {
				cursor: pointer;
			}
			&.pause, &.play {
				margin-right: 5px;
			}
			&.pause {
				display: none;
			}
			&.seek {
				padding-bottom:10px;
				width: 55%;
				&:hover {
					cursor: normal;
				}
				
			}

			&.volume {
				margin-left: 25px;
				position: relative;
				.controls {
					position: absolute;
					top: 100%;
					// height: 80px;
					display: none;

					width: 20px;
					padding: 8px;
					background: white;
				}
				input.vertical {
					-webkit-appearance: slider-vertical;
					writing-mode: bt-lr;
				}
				input[type=range] {
					width: 4px;
					height: auto;
					margin: 0 auto;
				}
				::-moz-range-track {
					width: 4px;
					height: auto;
				}
				::-ms-track {
					width: 4px;
					height: auto;
				}

			}
			input[type=range] {
			    -webkit-appearance:none;
			    -moz-apperance:none;
			    background-color:#333;
				height:8px;
			    width:100%;
				margin-top: 13px;
				padding:0 !important;
				line-height:0;
			}
			::-moz-range-track {
			    -webkit-appearance:none;
			    -moz-apperance:none;
			    background-color:#333;
				height:8px;
			    width:100%;
				margin-top: 13px;
				padding:0 !important;
				line-height:0;
			}
			::-ms-track {
			    -webkit-appearance:none;
			    -moz-apperance:none;
			    background-color:#333;
				height:8px;
			    width:100%;
				margin-top: 13px;
				padding:0 !important;
				line-height:0;
			}
			::-webkit-slider-thumb {
			    -webkit-appearance:none;
			    -moz-apperance:none;
				z-index:3;
				height:1em;
				width:1em;
				border-radius:1em;
				background: #333;
				border: none;
				&:hover {
					cursor: pointer;
				}
			}
			::-moz-range-thumb {
			    -webkit-appearance:none;
			    -moz-apperance:none;
				z-index:3;
				height:1em;
				width:1em;
				border-radius:1em;
				background: #333;
				border: none;
				&:hover {
					cursor: pointer;
				}
			}
			::-ms-thumb {
			    -webkit-appearance:none;
			    -moz-apperance:none;
				z-index:3;
				height:1em;
				width:1em;
				border-radius:1em;
				background: #333;
				border: none;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
// .mobile-toolbar {
// 	// z-index: 60;
// 	.toolbar {
// 		display: block;
// 	}
// }
.affix {
	position: relative;
}
@media (min-width: $mobile-break) {
	.audio {
		text-transform: uppercase;
		.fa {
			font-size: 2em;
		}
	}
	li.chapter {
		a {

			line-height: 2em !important;
			&:hover {
				color: inherit !important;
			}
		}
		display: block !important;
		// margin-left: 2.5em;
	}

	.toolbar {

		padding-left: 20px;
		padding-right: 20px;
		.player {
			left: auto;
			right: -20px;
			width: 350px;
			padding: 5px;
		}
		#print {
			display: block;
		}
	}
}
@media (min-width: $tablet-break){
	body {
		padding-top: 0px;
	}
	// .mobile-toolbar {
	// 	// position: fixed;
	// 	display: none;
	// }
	.toolbar {
		display: block;
		position: static;
		top: auto;
		width: auto;
		left: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		.slider {
			display: none;
		}
		.player {
			right: 0px;
		}
	}
	.affix {
		position: fixed;
		top: 0;
		width: auto;
		left: $sidebar-width;
		right: 0;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
		box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
		padding-left: 20px;
		padding-right: 20px;
	}
}


.slide {
	-moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;

    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
}

.slideLeft {
	-webkit-transform: translate($sidebar-width, 0px);
    -moz-transform: translate($sidebar-width, 0px);
    -o-transform: translate($sidebar-width, 0px);
    -ms-transform: translate($sidebar-width, 0px);
    transform: translate($sidebar-width, 0px);
}

@media (min-width: $tablet-break) {
	.slide {
		-moz-transition: none;
	    -webkit-transition: none;
	    -o-transition: none;

	    -ms-transition: none;
	    transition: none;

	}
	.slideLeft {
		-moz-transform: none;
	    -webkit-transform: none;
	    -o-transform: none;

	    -ms-transform: none;
	    transform: none;
	}
}

.map {
	max-width: 100%;
	width: 100%;
}

.has-tip {
	font-weight: bold;
	cursor: pointer;
}

.tooltip {
	position: fixed;
	z-index: 150 !important;
}


.exercise {
	.block {
		display: block;
	}
 	ul {
 		list-style-type: none;

 	}
 	ul.checkbox {
 		li:before {
		    content:"\2713\0020";
		}
 	}
 	.inner {
 		margin-left: 20px;
 		margin-top: 20px;
 	}
 	a {
 		color: inherit;
 		text-decoration: none;
 	}
 	ol.custom {
 		margin-top: 30px;
 		list-style-type: none;
		counter-reset: counter-custom;
		&>li:before {
			content: counter(counter-custom);
			counter-increment: counter-custom;
			float: left;
			color: $blue;
			font-weight: 300;
			font-size: 1.5em;
			margin-left: -2em;
			margin-right: 10px;
		}
		li {
			padding-top: 5px;
		}
	}
	ol.letter {
	    counter-reset: counter-letter;
	    list-style-type: none;
	    margin-top: 10px;
	    margin-bottom: 10px;
		li:before {
		    content: counter(counter-letter, lower-alpha) ". ";
		    counter-increment: counter-letter;
		    float: left;
			color: $blue;
			font-weight: 300;
			font-size: 1.5em;
			margin-left: -25px;
			margin-top: -2px;
		}
	}
 }

 .quiz {
 	input[type=radio] {
 		display: none;
 	}
 	.answer {
 		font-weight: normal;
 	}
 	.questions { 
 		counter-reset: counter-question;
 		&>h4:before {
			content: counter(counter-question) ". ";
			counter-increment: counter-question;
			float: left;
			color: $blue;
			font-weight: 300;
		}
 	}
 	label span.radio-button {
 		display: inline-block;
 		width: 19px;
 		height: 19px;
 		border-top: 1px solid #bfbfbf;
 		background-color: #e9e9e9;
	    margin:1px 8px 0 0;
	    vertical-align:middle;
 		border-radius: 2px;
 		float: left;
 		cursor: pointer;
 		padding: 1px 0 0 2px;
 		.fa-check {
 			color: $blue;
 			display: none;
 		}
 		&.disabled {
 			cursor: initial;
 		}

 	}
 	input[type=radio]:checked + label span.radio-button .fa-check, label span.radio-button.active .fa-check {
 		display: block;
	}
	.blue {
		color: $blue;
		font-weight: bold;
	}

 }

.bottom {
	margin-top: 30px;
	float: left;
}
 
.btn-quiz {
	background-color: $blue;
	color: white;
	width: 100%;
	border-radius: 0;
	height: 70px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 23px 12px;
	color: white !important;
	&:hover {
		color: white;
	}

}

 .connect {
 	.table {
 		tr:hover {
 			cursor: pointer;
 		}
 		tr>td{
 			border: none;
 		}
 	}
 }

@media print {
	body{
		display: none;
	}
	.printable {
		display: block !important;
	}
}

@import "tooltipster";
@import "tooltipster-shadow";

