
@import "chapters/shared";
body {
	padding-top: 0;
}
.print {
	display: block;
}
.sidebar {
	display: none;
}



.header {
	display: none;
}

.toolbar {
	display: none;
}

blockquote {
	border-right: none;
	border-top: none;
	border-bottom: none;
}

