
@import "bootstrap";
$tablet-break: 992px;
$mobile-break: 520px;
html {
	height: 100%;
}
html, body {
	zoom: 0;
	width: 100%;
	overflow-x: hidden;
	min-height: 100%;
}
body {
	padding-top: 63px;
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

.container {
	padding: 0;
	width: 100% !important;
}
.row {
	margin: 0;
}
.wrapper {
	// padding-left: 22%;
	// padding-left: 170px;
	// position: absolute;
	width: 100%;
	position: relative;
}
.content {
	background-color: white;
	z-index: 50;
	position: relative;
}
.print {
	display: none;
}

h1 {
	color: #3b7189;
	font-weight: 300;
	font-size: 3em;
	letter-spacing: 2px;
}

h3 {
	color: #3b7189;
	font-weight: 300;
	font-size: 2.5em;
	letter-spacing: 2px;
}

h4 {
	color: #3b7189;
	font-weight: 300;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.poem {
	background-color: #f3f2f3;
	color: #868686;
	padding: 10px 12% 10px 6%;
	margin: 25px -12% 25px -6%;
	ul {
		margin-left: 0;
		padding-left: 0;
		li {
			margin-left: 0;
			list-style-type: none;
			font-style: italic;
		}
	}
}

.main {
	padding-left: 5%;
	padding-right: 10%;
	padding-bottom: 100px;
	line-height: 24px;
	.col-xs-12 {
		padding-right: 0;
		padding-left: 0;
	}

	color: #6b6b6b;
	letter-spacing: 1px;
}