.links
  ul
    - if controller_name != 'sessions'
      li
        = link_to "Innskráning", new_session_path(resource_name)
    - if devise_mapping.registerable? && controller_name != 'registrations'
      li
        = link_to "Nýskráning", new_registration_path(resource_name)
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      li
        = link_to "Gleymt Lykilorð", new_password_path(resource_name)
      li
        = link_to "Ógreitt?", new_payment_path
    - if devise_mapping.confirmable? && controller_name != 'confirmations'
      li
        = link_to "Staðfestingarleiðbeiningar", new_confirmation_path(resource_name)
    - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
      li
        = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        li
          = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
