.sidebar#sidebar
  .sidebar-inner
    == link_to root_url do |l|
      == image_tag 'logo_blue.png', :class => 'logo'
    ul.chapters
      li
        == link_to "Um útgáfuna", utgafa_path
      li
        == link_to "Heimsmyndin", kort_path
      li
        == link_to "Gylfaginning", skopunheimsins_path
        ul class="#{current_group(1)}"
          li class="#{current_page('chgroup1')}"
            == link_to "Sköpun heimsins", skopunheimsins_path
          li class="#{current_page('chgroup2')}"
            == link_to "Heimsmyndin", heimsmyndin_path
          li class="#{current_page('chgroup3')}"
            == link_to "Æsir og ásynjur", aesirogasynjur_path
          li class="#{current_page('chgroup4')}"
            == link_to "Valhöll", valholl_path
          li class="#{current_page('chgroup5')}"
            == link_to "Sleipnir og Skíðblaðnir", sleipnirogskidbladnir_path
          li class="#{current_page('chgroup6')}"
            == link_to "För Þórs til Útgarða-Loka", forthorstilutgardaloka_path
          li class="#{current_page('chgroup7')}"
            == link_to "Dauði Baldurs", daudibaldurs_path
          li class="#{current_page('chgroup8')}"
            == link_to "Ragnarök", ragnarok_path
      li
        == link_to "Skáldskaparmál", thjassiogidunn_path
        ul class="#{current_group(2)}"
          li class="#{current_page('chgroup9')}"
            == link_to "Þjassi og Iðunn", thjassiogidunn_path
          
          li class="#{current_page('chgroup10')}"
            == link_to "Skáldamjöðurinn", skaldamjodurinn_path
          li class="#{current_page('chgroup11')}"
            == link_to "För Þórs til Geirröðargarða", forthors_path
          li class="#{current_page('chgroup12')}"
            == link_to "Haddur Sifjar", haddur_path
          li class="#{current_page('chgroup13')}"
            == link_to "Fáfnisarfur", fafnisarfur_path
      li
        == link_to "Verkefni", verkefni_path
        ul class="#{current_group(3)}"
          li class="#{current_page('exercises','choice')}"
            == link_to "Krossaspurningar", verkefni_krossar_path
          li class="#{current_page('exercises','connect')}"
            == link_to "Tengispurningar", verkefni_tengi_path
          li class="#{current_page('exercises','essay')}"
            == link_to "Ritgerðarefni", verkefni_ritgerd_path
          li class="#{current_page('exercises','writing')}"
            = link_to "Ritunarverkefni", verkefni_ritun_path 
          li class="#{current_page('exercises','crossword')}"
            = link_to "Krossgátur", verkefni_krossgatur_path
          li class="#{current_page('exercises','interpretation')}"
            = link_to "Túlkunarspurningar", verkefni_tulkun_path
          li class="#{current_page('exercises','language')}"
            = link_to "Málnotkun", verkefni_malnotkun_path
          
    a.mm-logo href="http://www.menntamalaraduneyti.is/" target="_blank" title="Vefurinn er styrktur af menntamálaráðuneytinu"
      span.logo-text Vefurinn er styrktur af menntamálaráðuneytinu
