.container.toolbar.slide#toolbar
  .navbar.navbar-default data-spy="affix" data-offset-top="#{@no_image ? "10" : "310"}" 
    ul.nav.navbar-nav.pull-left.slider
      li
        a.menu#menu href="#"
          i.fa.fa-2x.fa-bars

    ul.nav.navbar-nav.pull-right
      li.dropdown
        a.dropdown-toggle href="#" data-toggle="dropdown" 
          i.fa.fa-2x.fa-cog
        ul.dropdown-menu
          li
            == link_to "Breyta notanda", edit_user_registration_path
          li
            == link_to "Útskráning", destroy_user_session_path
          -if current_user.admin?
            li
              == link_to "Stjórnun", admin_path
      -unless @print.nil?
        li 
          a.print href="#"
            i.fa.fa-2x.fa-print
      - if @simple_toolbar.nil?
        li.audio
          a#openPlayer href="#"
            i.fa.fa-volume-up
        li.chapter
          a = @chapter
        - if previous_page.blank?
          li.disabled
            a
              i.fa.fa-2x.fa-chevron-left
        - else
          li
            a href="#{previous_page}"
              i.fa.fa-2x.fa-chevron-left
        - if next_page.blank?
          li.disabled
            a
              i.fa.fa-2x.fa-chevron-right
        - else
          li
            a href="#{next_page}"
              i.fa.fa-2x.fa-chevron-right
    .player
      ul.nav
        li.stop
          i.fa.fa-stop title="Stöðva spilun"
        li.play
          i.fa.fa-play title="Hefja spilun"
        li.pause
          i.fa.fa-pause title="Gera hlé á spilun"
        li.seek title="Staðsetning"
          input.form-control type="range" min="0" max="" value="0"
        li.volume title="Hljóðstyrkur"
          i.fa.fa-volume-up
          .controls
            input.vertical type="range" min="0" max="10" value="5" orient="vertical"