doctype html
/! paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
head
  meta charset="utf8"
  meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
  meta property="og:title" content="Snorra Edda"
  meta property="og:url" content="#{request.url}"
  meta property="og:image" content=""
  meta property="og:description" content="Snorra Edda"
  title Snorra Edda

  meta content="" name="description"
  meta content="" name="author"

  meta content="width=device-width, initial-scale=1.0" name="viewport"
  /! stops apple adding anchor tags to phone numbers
  meta content="telephone=no" name="format-detection"

  link href="http://gmpg.org/xfn/11" rel="profile"
  link href="" rel="pingback"
  link href="humans.txt" rel="author"

  link href="/favicon.png" rel="shortcut icon"
  link href="/apple-touch-icon.png" rel="apple-touch-icon"

  link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'

  
  == stylesheet_link_tag    "chapters/application", media: "all", "data-turbolinks-track" => true 
  == csrf_meta_tags
  == javascript_include_tag "chapters/application", "data-turbolinks-track" => true 

body class="#{@print.nil? ? "" : "printable"}"
  javascript:
    window.audio = "#{@audio}"
  .wrapper
    .overlay.slide
    == render 'chapters/layouts/sidebar'
    - if @no_image.nil?
      .content.slide
        .container.header
          .row
            .col-xs-12.header-img
              == image_tag @image
    - if @no_toolbar.nil?
      == render 'chapters/layouts/toolbar'
    .content.slide
      .container.main#main
        h1.print == @chapter
        == yield

  
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47953016-1', 'snorraedda.is');
    ga('send', 'pageview');
  
  /![if lt IE 7 ]
    | <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    | <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
</html>

