.row
	.col-xs-12
		h3 1. Gefjun og Gylfi
		p
			| Gylfi konungur réð ríkjum þar sem Svíþjóð er nú. 
			| Sagt er að hann hafi eitt sinn launað flökkukonu 
			span.has-tip data-tooltip="" title="í frumtexta segir, „gaf að launum skemmtunar sinnar.“ Óljóst er hvaða skemmtun um er að ræða." greiða
			| með því að gefa henni land í ríki sínu, svo mikið sem fjögur naut gætu plægt á einum degi og einni nótt. 
			| Konan var af ætt ása og var nefnd Gefjun. 
			| Hún tók fjögur naut norðan úr Jötunheimum og setti þau fyrir 
			span.has-tip data-tooltip="" title="verkfæri notað til að plægja land og undirbúa til sáningar." plóg. 
			| Nautin voru í raun synir hennar og jötuns. 
			| Þau plægðu af svo miklum krafti og plógurinn risti svo djúpt að landið gekk út á sjó, drógu nautin það í vestur og skildu eftir í Eyrarsundi. 
			| Þar festi Gefjun landið og gaf því nafnið 
			span.has-tip data-tooltip="" title="sá hluti Danmerkur þar sem Kaupmannahöfn er." Sjáland. 
			| Þar sem landið hafði áður verið var ekkert eftir nema vatn. 
			| Þetta vatn er nú kallað 
			span.has-tip data-tooltip="" title="vatnið er nærri Stokkhólmi og heitir á sænsku Mälaren." Lögurinn 
			| og er í Svíþjóð. Þar sem eru víkur í Leginum eru nes á Sjálandi. 
			| Um þetta orti 
			span.has-tip data-tooltip="" title="eitt elsta nafngreinda skáld á Norðurlöndunum. Var uppi á 9. öld." Braga 
			| gamli Boddason

		.row.poem
			.col-xs-12
				h4 Vísa 1
				ul
					li Gefjun dró frá Gylfa
					li glöð djúpröðul óðla,
					li svo að af rennirauknum
					li rauk, Danmarkar auka.
					li Báru öxn og átta
					li ennitungl, þar er gengu
					li fyrir vineyjar víðri
					li valrauf, fjögur höfuð.

			