div.row
	.col-xs-12.columns
		h3 2. Gylfi kemur í Ásgarð
		p 
			| Gylfi konungur var vitur maður og 
			span.has-tip data-tooltip="" title="göldróttur." fjölkunnugur. 
			| Hann undraðist það mjög að æsir væru svo göldróttir að allt laut vilja þeirra. 
			| Hann velti því fyrir sér hvort þetta stafaði af þeirra eigin eðli eða einhverjum guðlegum kröftum sem þeir tilbáðu. 
			| Hann lagði upp í ferð til Ásgarðs og dulbjó sig sem gamlan mann. 
			| En æsir höfðu spádómsgáfu, sáu ferð hans fyrir og beittu hann sjónhverfingum. 
			| Þegar hann kom inn í Ásgarð sá hann svo háa höll að varla sást yfir hana. 
			| Þak hennar var gert úr gylltum skjöldum. 
			| Frá þessu segir í vísu Þjóðólfs hins hvinverska: 

		.row.poem
			.col-xs-12
				h4 Vísa 2
				ul
					li Á baki létu blíkja,
					li barðir voru grjóti,
					li Sváfnis salnæfrar
					li seggir hyggjandi.

		p 
			| Í hallardyrunum mætti Gylfi manni sem hélt á lofti sjö litlum sverðum í einu. 
			| Sá spurði Gylfa að nafni, hann sagðist heita Gangleri, að hann hefði farið villur vegar og þyrfti á náttstað að halda. 
			| Hann spurði hver ætti höllina. Maðurinn svaraði að konungur þeirra ætti þessa höll. 
			| „Ég skal fylgja þér til hans. 
			| Þá getur þú sjálfur spurt að nafni,” bætti maðurinn við og gekk á undan honum inn í höllina. 
			| Gangleri fylgdi á eftir og um leið skall hurðin á hæla honum. 
			| Inni í höllinni sá hann mörg rými og margt fólk, sumt að leik, sumir drukku en aðrir börðust með vopnum. 
			| Hann litaðist um og þótti margt ótrúlegt sem fyrir augu bar. Þá sagði hann:

		.row.poem
			.col-xs-12
				h4 Vísa 3
				ul
					li Gáttir allar
					li áður gangi fram
					li um skyggnast skyli,
					li því að óvíst er að vita
					li hvar óvinir
					li sitja á fleti fyrir.

		p 
			| Hann sá þrjú hásæti, hvert ofar öðru og þar sátu þrír menn. 
			| Gangleri spurði hver höfðingi þeirra væri. 
			| Sá sem leiddi hann inn svaraði að sá sem sæti í neðsta hásætinu væri konungur og héti Hár, þar næst væri Jafnhár og að sá sem sæti í efsta hásætinu héti Þriðji. 
			| Hár segir komumanni að honum standi matur og drykkur til boða eins og öllum öðrum í höll 
			span.has-tip data-tooltip="" title="hinn hái, þ.e.a.s. Óðinn. Nöfnin Hár, Jafnhár og Þriðji eru öll Óðinsheiti." Háva 
			| og spyr hvort hann eigi frekari erindi þangað. 
			| Gangleri segist fyrst vilja vita hvort í höllinni sé vitur maður. 
			| Hár segir öruggt að hann muni koma fróðari þaðan út, annars muni hann ekki komast heill á brott:

		.row.poem
			.col-xs-12
				h4 Vísa 4
				ul
					li „Stattu fram meðan þú fregn,
					li sitja skal sá er segir.“

