div.row
	.col-xs-12.columns
		h3 3. Níu heimar
		p Gangleri bar fyrst upp þessa spurningu: 
		blockquote 
			| „Hver er æðstur eða elstur allra guða?“

		p Hár svarar:
		blockquote
			| „Sá heitir Alfaðir á okkar máli en í Ásgarði hinum forna hét hann tólf nöfnum. 
			| Eitt er Alfaðir, annað er Herran eða Herjan, þriðja er Nikar eða Hnikar, fjórða er Nikuður eða Hnikuður, fimmta Fjölnir, sjötta Óski, sjöunda Ómi, áttunda Bifliði eða Biflindi, níunda Sviðar, tíunda Sviðrir, ellefta Viðrir, tólfta Jálg eða Jálkur.“ 

		p Þá spyr Gangleri: 
		blockquote
			| „Hvar er sá guð, hvaða krafta hefur hann og hvað hefur hann unnið sér til frægðar?“

		p Hár svarar: 
		blockquote 
			| „Hann lifir um alla eilífð, stjórnar öllu og ræður öllum hlutum í ríki sínu stórum og smáum.“

		p Þá sagði Jafnhár: 
		blockquote 
			| „Hann smíðaði himin og jörð og allt sem þar er.“

		p Þriðji bætti við: 
		blockquote
			| „Og það sem meira er, hann skapaði manninn og gaf honum sál sem mun lifa og aldrei týnast þótt líkaminn rotni í mold eða brenni að ösku. 
			| Allir siðsamir menn munu lifa með honum á stað sem heitir 
			span.has-tip data-tooltip="" title="skjól fyrir eldi gim=eldur, lé=hlé." Gimlé 
			| eða 
			span.has-tip data-tooltip="" title="ljúf húsakynni." Vingólf 
			| en vondir menn fara til Heljar og þaðan í Niflhel, niður í hinn níunda heim.“

		p Þá spurði Gangleri: 
		blockquote 
			| „Hvað gerði hann áður en himinn og jörð voru sköpuð?“
		p Hár svarar: 
		blockquote 
			| „Þá var hann með hrímþursum.“


