div.row
	.col-xs-12.columns
		h3 4. Sköpun heimsins
		p Gangleri spyr: 
		blockquote „Hvað var í upphafi áður en jörðin og mennirnir voru sköpuð?“

		p Hár svarar: 
		blockquote „Því er lýst í Völuspá:

		.row.poem
			.col-xs-12
				h4 Vísa 5
				ul
					li Ár var alda
					li það er ekki var,
					li var-a sandur né sær
					li né svalar unnir.
					li Jörð fannst eigi
					li né upphiminn,
					li gap var ginninga
					li en gras ekki.“

		p#heimsmynd-11x Þá mælti Jafnhár:
		blockquote 
			| „Löngu áður en jörðin var sköpuð varð Niflheimur til. 
			| Í honum miðjum er brunnurinn Hvergelmir og þaðan falla ár sem heita: Svöl, Gunnþrá, Fjörm, Fimbulþul, Slíður og Hríð, Sylgur og Ylgur, Víð, Leiftur. Áin Gjöll er næst 
			span.has-tip data-tooltip="" title="hlið Heljar." Helgrindum.
			| ”

		p#heimsmynd-13x Þá bætti Þriðji við: 
		blockquote
			| „Enn fyrr var þó til Múspellsheimur í suðri. 
			| Hann er bjartur og heitur, logandi og brennandi. 
			| Þar lifir ekkert nema það sem þaðan kemur. 
			| Við endimörk Múspellsheims er Surtur til landvarnar. 
			| Sverð hans er logandi og við endalok heimsins mun hann ráðast gegn goðum, sigra þau og brenna allan heiminn með eldi.“

		.row.poem
			.col-xs-12
				h4 Vísa 6
				ul
					li Surtur fer sunnan
					li með sviga lævi,
					li skín af sverði
					li sól valtíva.
					li Grjótbjörg gnata 
					li en gífur rata,
					li troða halir helveg,
					li en himin klofnar.
