div.row
	.col-xs-12.columns
		h3 5. Ýmir verður til
		p Gangleri spurði:
		blockquote
			| „Hvernig var umhorfs í heiminum áður en mennirnir urðu til?”

		p Þá svaraði Hár: 
		blockquote
			| „Þegar ár, sem kallaðar eru 
			span.has-tip data-tooltip="" title="skylt orðinu él, stutt snjókoma." Élivogar, 
			| voru komnar svo langt frá upptökum sínum fraus ískaldur straumurinn. 
			| Þegar vatnsúði árinnar fraus hlóðst ísinn upp og áin stöðvaðist að lokum langt inni í 
			span.has-tip data-tooltip="" title="frumtómið sem var í upphafi áður en nokkuð var skapað." Ginnungagapi.

		p Þá sagði Jafnhár: 
		blockquote
			| „Sá hluti Ginnungagaps sem snýr í norður fylltist með þungum ís og hrími. 
			| Úr syðri hlutanum flugu neistar frá Múspellsheimi.“

		p Þá mælti Þriðji: 
		blockquote
			| „Hiti og birta stafaði frá Múspellsheimi öfugt við kulda og skelfingu Niflheims. 
			| Ginnungagap var nú hlýtt og lyngt. 
			| Þegar hitinn bræddi hrímið drupu úr því kvikudropar. 
			| Af krafti hitans myndaðist vera í mannsmynd sem var nefnd Ýmir. 
			span.has-tip data-tooltip="" title="þurs er það sama og jötunn og tröll. Þessir þursar eru kenndir við uppruna sinn, hrímið." Hrímþursar 
			| kalla hann Aurgelmi og eru frá honum komnar ættir hrímþursa. 
			| Í Völuspá hinni skömmu segir:“

		.row.poem
			.col-xs-12
				h4 Vísa 7
				ul
					li Eru völur allar
					li frá Viðólfi
					li vitkar allir
					li frá Vilmeiði, 
					li en seiðberendur
					li frá Svarthöfða, 
					li allir jötnar
					li frá Ými komnir.

		p Og í Vafþrúðnismálum segir: 

		.row.poem
			.col-xs-12
				h4 Vísa 8
				ul
					li Hvaðan Aurgelmir kom
					li með jötna sonum
					li fyrst inn fróði jötunn:


		.row.poem
			.col-xs-12
				h4 Vísa 9
				ul
					li Úr Élivogum 
					li stukku eiturdropar
					li og óx uns úr varð jötunn,
					li þar órar ættir
					li komu allar saman,
					li því er það æ allt til atalt. 

		p Þá spurði Gangleri: 
		blockquote
			| „Eignaðist Ýmir afkomendur? Heldur þú að hann sé guð?”

		p Þá svarar Hár: 
		blockquote
			| „Við teljum hann ekki á nokkurn hátt vera guð. 
			| Hann var illur og öll hans skyldmenni sem við köllum hrímþursa. 
			| Sagt er að hann hafi svitnað í svefni og undir vinstri hönd hans vaxið maður og kona og annar fótur hans eignaðist son með hinum fætinum. 
			| Þannig urðu hrímþursarnir til. 
			| Ýmir er því aðeins hinn upprunalegi hrímþurs.”