div.row
	.col-xs-12.columns
		h3 6. Forfeður Óðins
		p#heimsmynd-18x Gangleri spurði: 
		blockquote 
			| „Hvar bjó Ýmir og á hverju lifði hann?”

		p Hár svarar: 
		blockquote
			| „Eftir að Ýmir varð til hélt hrímið áfram að drjúpa og myndaðist þá kýrin Auðhumla. 
			| Fjórar mjólkurár runnu úr spenum hennar og nærðist Ýmir á þeim.”

		p Þá spurði Gangleri: 
		blockquote
			| „Á hverju nærðist kýrin?”

		p Hár svarar: 
		blockquote
			| „Hún sleikti salta hrímsteina. 
			| Að kvöldi fyrsta dagsins er hún sleikti steinana birtist úr einum þeirra mannshár, annan daginn mannshöfuð, þriðja daginn var þar heill maður sem var kallaður Búri. 
			| Hann var fagur, mikill og máttugur og eignaðist soninn Bor. 
			| Sá eignaðist konuna Bestlu, dóttur Bölþorns jötuns, og áttu þau þrjá syni. 
			| Einn hét Óðinn, annar Vili og þriðji Vé. Ég trúi því að Óðinn og bræður hans stjórni himni og jörð. 
			| Óðinn er sá sem við teljum mestan og þér er einnig óhætt að gera það.“
