div.row
	.col-xs-12.columns
		h3 7. Hrímþursar deyja
		p Enn spurði Gangleri: 
		blockquote 
			| „Varð sátt milli hrímþursa og sona Bors? Hvorir voru máttugri?“

		p Þá svaraði Hár: 
		blockquote
			| „Synir Bors drápu Ými jötun. 
			| Þegar hann féll blæddi svo mikið úr sárum hans að öll ætt Hrímþursa drukknaði. 
			| Einn komst undan með fjölskyldu sína. 
			| Þann kalla jötnar Bergelmi. 
			| Hann og kona hans komust af á 
			span.has-tip data-tooltip="" title="Í frumtextanum segir að Bergelmir og kona hans hafi hlaupið upp á lúður sinn og er þá ekki átt við hljóðfæri heldur einhvers konar tréstokk sem hefur borið þau að landi í blóðflóðinu." rekaldi 
			| og eru allar ættir hrímþursa af þeim komnar, eins og hér segir:“

		.row.poem
			.col-xs-12
				h4 Vísa 10
				ul
					li Örófi vetra
					li áður væri jörð um sköpuð
					li þá var Bergelmir borinn. 
					li Það eg fyrst um man
					li er sá hinn fróði jötunn
					li á var lúður um lagður. 
