div.row
	.col-xs-12.columns
		h3 8. Heimurinn skapaður

		p Þá segir Gangleri: 
		blockquote 
			| „Hvað gerðu Borssynir svo merkilegt að þú teljir þá vera guði?“

		p Hár segir: 
		blockquote
			| „Þar er nú ekki frá litlu að segja. 
			| Þeir tóku Ými, fluttu hann inn í mitt Ginnungagap og bjuggu jörðina til úr honum, af blóði hans gerðu þeir sæinn og vötnin. 
			| Jörðin var gerð úr holdinu en fjöllin úr beinunum. 
			| Grjót og urðir gerðu þeir úr tönnum og jöxlum og brotnum beinum hans.“

		p Þá sagði Jafnhár: 
		blockquote
			| „Af því blóði sem rann úr sárunum gerðu þeir sjóinn sem umkringir jörðina og er flestum mönnum ófært þar yfir.“ 

		p#heimsmynd-2x Enn segir Þriðji: 
		blockquote
			| „Þeir tóku haus hans og bjuggu til úr honum himin og settu hann yfir jörðina, á honum eru fjórar festingar sem dvergar héldu uppi. 
			| Dvergarnir heita: Austri, Vestri, Norðri og Suðri. Síðan tóku þeir blossa og neista sem skutust úr Múspellsheimi og settu á miðjan Ginnungahimin til að lýsa himin og jörð. 
			| Þeir völdu stjörnum og eldingum staði á himninum. 
			| Sumar voru festar en aðrar lausar á brautum sem gerðar voru fyrir þær. 
			| Forn vísindi segja að upp frá þessu hafi mátt greina daga og ár eins og segir í Völuspá:

		.row.poem
			.col-xs-12
				h4 Vísa 11
				ul
					li Sól það né vissi
					li hvar hún sali átti,
					li máni það né vissi
					li hvað hann megins átti,
					li stjörnur það né vissu
					li hvar þær staði áttu.

		blockquote Svona var þetta áður fyrr.“ 

		p#heimsmynd-9x Þá sagði Gangleri: 
		blockquote
			| „Þetta eru mikil tíðindi sem ég heyri nú, furðumikið verk og vel af hendi leyst en hvað með jörðina?“

		p Hár svarar: 
		blockquote
			| „Hún er kringlótt í laginu og utan um hana liggur djúpur sjór en út með sjávarströndinni eru þau lönd sem gefin voru jötnum og ættum þeirra til að búa á. 
			| Innar á jörðinni  gerðu þeir varnargarð umhverfis heiminn, þennan varnargarð gerðu þeir úr augnlokum Ýmis jötuns og kölluðu hann Miðgarð. 
			| Þeir tóku heila hans, köstuðu honum í loft upp og gerðu úr honum skýin, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 12
				ul
					li Úr Ýmis holdi
					li var jörð um sköpuð
					li en úr sveita sjár
					li björg úr beinum,
					li baðmur úr hári,
					li en úr hausi himinn.

		.row.poem
			.col-xs-12
				h4 Vísa 13
				ul
					li En úr hans brám
					li gerðu blíð regin
					li Miðgarð manna sonum,
					li en úr hans heila
					li voru þau hin harðmóðgu
					li ský öll um sköpuð.“
