= form_for @quiz, url: @url do |f|
	.form-group
		== f.label :Nafn
		== f.text_field :name, :class => "form-control", :placeholder => "Nafn"

	.form-group
		== f.label :Alias
		== f.text_field :alias, :class => "form-control", :placeholder => "Alias"
	.form-group
		== f.label :Description
		== f.text_area :description, :class => "form-control", :placeholder => "Description"
	== f.submit "Skrá krossaspurningar", :class => "btn btn-primary"