table.table.table-hover
	thead
		tr
			th Nafn
			th Alias
			th Skoða
			th Breyta
			th Eyða
	tbody
		- @quizzes.each do |quiz|
			tr
				td = quiz.name
				td = quiz.alias
				td = link_to 'Skoða Spurningar', admin_quiz_questions_path(quiz), :class => 'btn btn-primary'
				td = link_to 'Breyta', edit_admin_quiz_path(quiz), :class => 'btn btn-success'
				td = link_to 'Eyða', admin_quiz_path(quiz), method: :delete, :class => 'btn btn-danger', data: { :confirm => 'Ertu viss? Þú getur ekki afturkallað þetta skref.' }
= link_to 'Nýtt safn krossaspurninga', new_admin_quiz_path ,:class => 'btn btn-primary'