div.row
	.col-xs-12.columns
		h3 44. Þór hittir Þjálfa og Röskvu

		p Þá spurði Gangleri: 
		blockquote
			|„Skíðblaðnir er gott skip en miklum göldrum mun hafa verið beitt við smíði þess. 
			|Hefur Þór aldrei mætt ofurefli í styrk eða göldrum?“ 

		p Hár svarar: 
		blockquote
			|„Fáir eiga von á að ég geti sagt sögur af því en margt hefur reynst honum erfitt. 
			|Þó að til séu dæmi um nokkra hluti sem eru sterkari en Þór, og að hann hafi ekki getað sigrað þá, þarf ég ekki að segja frá því. 
			|Allir ættu að trúa að Þór er sterkastur enda eru fyrir því mörg dæmi. 

		p Þá segir Gangleri: 
		blockquote
			|„Mér virðist ég hafa spurt um eitthvað sem enginn er fær um að segja frá.“

		p Þá sagði Jafnhár: 
		blockquote
			|„Við höfum heyrt sagt frá atburðum sem okkur þykja ótrúlegir. 
			|En hér situr sá sem getur sagt satt og rétt frá og finnst honum engin ástæða til að fara nú að ljúga því það hefur hann aldrei gert áður.“

		p Þá sagði Gangleri: 
		blockquote
			|„Ég mun standa hér og hlusta þar til ég heyri hið sanna í málinu. 
			|Ef þið svarið ekki því sem ég spyr um tel ég mig hafa rekið ykkur á gat og þar með 
			span.has-tip data-tooltip="" title="hér virðist Gangleri líta svo á að hann sé í viskukeppni, sbr. upphaf Gylfaginningar, kafli 2. Slíkar sögur koma oft fyrir í fornum sögum." sigrað
			|.“

		p Þá sagði Þriðji: 
		blockquote
			|„Það er greinilegt að hann vill endilega fá að heyra þetta þó að það sé okkur þvert um geð. 
			|Nú skalt þú þegja.

		blockquote
			|Það var einu sinni að Öku-Þór var á ferð í kerru sinni sem hafrarnir drógu. 
			|Með honum var ásinn Loki. 
			|Að kvöldi komu þeir til bónda nokkurs og fengu gistingu. 
			|Um kvöldið slátraði Þór báðum höfrunum, fláði þá og setti í pott. 
			|Þegar kjötið var soðið þá settust Þór og félagar hans til kvöldverðar. 
			|Þór bauð bónda, konu hans og börnum að borða með sér. 
			|Bóndasonurinn hét Þjálfi en dóttirin Röskva. 
			|Skinnin af höfrunum lagði Þór niður til hliðar við eldinn og bað bónda og heimamenn hans að kasta beinunum ofan á skinnin. 
			|Þjálfi, sonur bóndans, tók annan lærlegg hafursins, beitti hnífi sínum á hann og 
			span.has-tip data-tooltip="" title="að brjóta beinið til að sjúga úr því merginn. Í nútímamáli merkir þetta orðtak að skoða mál gaumgæfilega." braut til mergjar
			|.

		blockquote
			|Þór dvaldi þar um nóttina. 
			|Skömmu fyrir dagrenningu stóð hann upp og klæddi sig, tók hamarinn Mjöllni og vígði með honum hafurskinnin. 
			|Þá stóðu hafrarnir upp en annar þeirra var haltur á afturfæti. 
			|Þessu tók Þór eftir og taldi að bóndinn eða vinnufólk hans hefði farið óvarlega með hafursbeinin. 
			|Hann sér að lærleggurinn er brotinn. 
			|Það er óþarfi að hafa mörg um það hve hræddur bóndinn varð þegar hann sá Þór setja í brýnnar. 
			|Þótt lítið sæist í augu hans hélt bóndi að Þór myndi drepa sig með augnaráðinu einu saman. 
			|Hnúarnir hvítnuðu er hann kreppti hendurnar um hamarskaftið. 
			|Eins og við var að búast grátbað fólkið á bænum Þór um að þyrma lífi sínu og bauð honum í staðinn allt sem það átti. 
			|En þegar hann sá hræðslu þeirra rann honum reiðin og sættist á að taka börn þeirra, Þjálfa og Röskvu, í sína þjónustu. 
			|Þau fylgja honum ætíð síðan og eru þjónustumenn hans.