div.row
	.col-xs-12.columns
		h3 48. Þór veiðir Miðgarðsorm

		p Þá sagði Gangleri:
		blockquote
			|„Mér þykir Útgarða-Loki mikill fyrir sér og hann beitir óspart 
			span.has-tip data-tooltip="" title="galdrar." fjölkynngi 
			|og vélabrögðum. 
			|Hann er líka merkilegur fyrir þær sakir að hirðmenn hans búa yfir miklum mætti. 
			|En hefur Þór aldrei hefnt þessara ófara?“

		p Hár svarar:
		blockquote
			|„Það er orðið frægt, þótt það viti ekki allir fræðimenn, þegar Þór bætti fyrir þessa ferð sem hér var lýst. 
			|Hann dvaldi ekki lengi heima áður en hann bjóst svo skyndilega til ferðar að hann hirti ekki um að hafa með sér vagninn, hafrana eða annað föruneyti. 
			|Hann gekk út úr Miðgarði í líki ungs drengs og kom að kvöldi til jötuns nokkurs. 
			|Jötuninn var nefndur Hymir og gisti Þór hjá honum um nóttina. 
			|Í dögun stóð Hymir upp, klæddi sig og hugðist róa til fiskjar. 
			|Þór var sjálfur fljótur á fætur og bað Hymi að fá að róa með honum en Hymir sagði að hann yrði honum að litlu liði þar sem hann væri svo lítill og ungur. 

		blockquote
			|„Kuldinn mun leika þig illa ef ég ræ svo langt út og sit svo lengi sem ég er vanur.“

		blockquote
			|Þór segist geta róið svo langt frá landi enda sé það ekki víst að það verði hann sem biðji um að róa til baka. 
			|Þór var reiður út í jötuninn og var tilbúinn að klappa honum með hamrinum en lét það ógert því hann ætlaði að að nota krafta sína í annað. 

		blockquote
			|Hann spurði Hymi hvað þeir skyldu nota sem beitu og Hymir bað hann að bjarga sér sjálfur. 
			|Þá hélt Þór í átt að nautahjörð sem Hymir átti. 
			|Hann tók stærsta nautið, sem hét Himinhrjóður, sleit af því höfuðið og hafði meðferðis. 
			|Hymir hafði þá dregið bát sinn út. 
			|Þór gekk um borð, settist aftur undir skut og reri. 
			|Hymi þótti skipið komast á góðan skrið af róðri hans. 

		blockquote
			|Hymir reri fremst í bátnum og gekk róðurinn vel. 
			|Hann sagði þá nú vera komna á þau mið sem hann væri vanur að veiða lúðu. 
			|En Þór sagðist vilja halda mun lengra og reru þeir enn nokkurn spöl. 
			|Hymir sagði þá að varasamt væri að fara utar vegna Miðgarðsorms en Þór sagðist samt ætla að róa um hríð og gerði það. 
			|Hymi var þá ekki skemmt.

		blockquote
			|Þegar Þór hætti róðrinum og lagði upp árarnar tók hann fram sterkan kaðal og ekki var öngullinn síður traustur og stór. 
			|Þór beitti nú nautshöfðinu á öngulinn og kastaði fyrir borð og sökk beitan til botns. 
			|Með sanni má segja að Þór hafi í þetta sinn ekki síður platað Miðgarðsorm en Útgarða-Loki ginnt Þór þegar hann lét hann lyfta Miðgarðsormi.

		blockquote
			|Miðgarðsormur gleypti uxahöfuðið og öngullinn stakst í góm hans. 
			|Þegar ormurinn fann þetta kipptist hann svo hart við að hnefar Þórs skullu á borðstokknum. 
			|Þá varð Þór reiður og 
			span.has-tip data-tooltip="" title="aukast kraftur." færðist í ásmegin
			|, spyrnti fótunum svo fast þeir fóru í gegnum skipið og niður á hafsbotn þar sem hann fékk spyrnu til að draga orminn að borði. 
			|Segja má að enginn hafi séð ógurlegri sjón en þegar Þór hvessti augun á orminn og ormurinn starði á móti og blés eitri. 

		blockquote
			|Sagt er að jötuninn Hymir hafi fölnað við þetta og hræðst svo mikið að hann skipti litum þegar hann sá orminn og sjóinn flæða inn í bátinn. 
			|Um það bil sem Þór greip hamarinn og hóf á loft þá fálmaði jötuninn eftir beituhnífnum og skar reipi Þórs í sundur svo að ormurinn sökk í sjóinn. 
			|Hamrinum kastaði Þór á eftir honum og segja sumir að hann hafi mulið á honum höfuðið við öldurnar. 
			|Hitt tel ég líklegra að Miðgarðsormur lifi enn í sjónum. 
			|Síðan reiddi Þór hnefann til höggs og sló við eyra Hymis svo hann steyptist fyrir borð svo að sá í iljar hans. 
			|Eftir það óð Þór til lands.“ 