div.row
	.col-xs-12.columns
		h3 47. Sjónhverfingar Útgarða-Loka

		p 
			|Morguninn eftir þegar Þór og félagar voru að búa sig til brottfarar þá kom Útgarða-Loki og lét leggja á borð fyrir þá og skorti hvorki gleði, mat né drykk. 
			|Eftir matinn héldu þau af stað. 
			|Útgarða-Loki fylgdi þeim og gekk með þeim út úr borginni. 
			|Að skilnaði spurði Útgarða-Loki Þór hvernig honum hefði líkað ferðin og hvort hann hefði nokkurn tímann hitt ríkari mann en sig. 
			|Þór svarar að ekki sé hægt að segja annað en að hann hafi litla sæmd hlotið af viðskiptum þeirra. 

		blockquote
			|„Og ég þykist viss um að þú munt kalla mig lítilmenni og kann ég því illa.“

		p Þá sagði Útgarða-Loki: 
		blockquote
			|„Þar sem við erum nú komnir út úr borginni skal ég segja þér sannleikann því ef ég fæ einhverju ráðið þá munt þú aldrei koma aftur í borg mína og hefðir aldrei í hana komið hefði ég vitað hve mikinn kraft þú hefur á valdi þínu enda munaði minnstu að þú kæmir okkur í mikil vandræði. 

		blockquote
			|Ég hef beitt þig sjónhverfingum allt frá því ég hitti þig fyrst í skóginum. 
			|Ég batt fyrir nestispokann með járnbandi svo þú gast ekki opnað hann. 
			|Þá slóstu mig með hamrinum þrjú högg. 
			|Fyrsta höggið hefði dugað til að drepa mig ef það hefði hæft mig. 
			|Ég veit ekki hvort þú tókst eftir setbergshellu við höll mína en í henni voru þrjú djúp ferhyrnd spor sem voru í raun eftir hamarinn þinn. 
			|Þessa hellu bar ég fyrir mig án þess að þú tækir eftir því.

		blockquote
			|Svo eru það leikarnir sem þið kepptuð í við hirðmenn mína. 
			|Fyrst þegar Loki keppti var hann greinilega svangur og borðaði hratt en keppinautur hans, Logi, var í raun villieldur sem brenndi bæði trogið og kjötið. 
			|En þegar Þjálfi þreytti kapphlaupið við Huga þá var það hugsun mín sem hann keppti við og var ekki von að hann héldi í við hraða hennar. 
			|Þegar þú svo drakkst af horninu og þótti ganga hægt skal ég viðurkenna að ég undraðist drykkjuþol þitt. 
			|Annar endi hornsins var úti í hafi en það sástu ekki. 
			|Ef þú ferð niður að sjó muntu sjá hve mikið þú hefur drukkuð úr sjónum. 
			|Það eru nú kallaðar fjörur.“

		p Og enn sagði hann: 
		blockquote
			|„Ekki þótti mér það minna afrek þegar þú lyftir upp kettinum og satt að segja hræddust allir þegar einn fótur hans lyftist upp af jörðinni. 
			|Þessi köttur var ekki sá sem þú hugðir heldur var þetta Miðgarðsormur sem liggur um öll lönd. 
			|Hann var rétt nógu langur til að snerta enn þá jörðina með sporði og höfði en þú teygðir þig svo hátt að skammt var til himins. 
			|Hitt var ekki síður undravert hversu lengi þú stóðst og féllst ekki nema niður á annað hnéð í glímunni við Elli því enginn hefur staðist ellina og enginn mun standast hana. 
			|Hún fellir alla sem verða gamlir. 
			|Nú skulum við skiljast og er það hagur okkar beggja að hittast ekki framar. 
			|Ég mun aftur verja borg mína með slíkum göldrum og vélabrögðum til að þú náir ekki valdi á mér.“

		p 
			|Þegar Þór heyrði þessa ræðu hans greip hann til hamarsins og hóf hann á loft. 
			|En er hann ætlaði að reiða til höggs sá hann hvergi Útgarða-Loka. 
			|Hann hélt þá aftur til borgarinnar til að brjóta hana en sá þá ekkert nema víða og fagra sléttu en enga borg. 
			|Sneri hann þá rakleiðis aftur heim í Þrúðvang. 
			|Satt að segja hafði hann þegar ákveðið að gera allt til þess að fundum þeirra Miðgarðsorms skyldi aftur bera saman, eins og síðar varð. 
			|Það er ég viss um að enginn getur sagt þér betur frá þessari ferð Þórs.“
