div.row
	.col-xs-12.columns
		h3 45. För Þórs til Útgarða-Loka

		blockquote
			|Þór skildi hafra sína eftir á bænum og lagði af stað til Jötunheima. 
			|Hann fór alla leið að ströndinni og svo á hafið. 
			|Þegar hann kom að landi þá gengu á land með honum Loki, Þjálfi og Röskva. 
			|Þau höfðu ekki gengið lengi þegar þau komu að stórum skógi. 
			|Þau gengu allan daginn þar til myrkvaði. 
			|Þjálfi var fótfráastur og bar hann nestispoka Þórs en lítinn mat var að hafa þar um slóðir. 

		blockquote
			|Þegar dimmt var orðið leituðu þau sér að náttstað og fundu stóran skála. 
			|Á öðrum enda hans voru dyr sem voru jafnbreiðar skálanum. 
			|Þau ákváðu að gista þar um nóttina. 
			|Um miðja nótt varð mikill jarðskjálfti. 
			|Jörðin hristist undir þeim og húsið skalf og nötraði. 
			|Þá stóð Þór upp og kallaði á félaga sína. 
			|Þau lituðust um, fundu hliðarherbergi hægra megin í miðjum skálanum og gengu þar inn. 
			|Þór settist niður í dyrnar en félagar hans settust innar og voru mjög hræddir. 
			|Þór hélt um harmarskaftið, tilbúinn að verja sig. 
			|Þá heyrðu þau miklar drunur og gný.

		blockquote
			|Þegar dagaði gekk Þór út og sá hvar maður lá þar skammt frá og var hann ekki lítill. 
			|Hann svaf og hraut hátt. 
			|Þá fannst Þór sem hann skildi hvað olli látunum um nóttina. 
			|Hann spennti á sig megingjarðirnar og óx við það ásmegin. 
			|Í sömu andrá vaknaði maðurinn og stóð snögglega upp. 
			|Þór varð svo bilt við að hann gat ekki einu sinni slegið hann með hamrinum og lét nægja að spyrja hann að nafni. 
			|Hann sagðist heita Skrýmir og að hann þyrfti ekki að spyrja Þór að nafni. 
		
		blockquote
			|„Ég veit að þú ert Ása-Þór en tókstu nokkuð vettling minn?“

		blockquote
			|Þá beygði Skrýmir sig niður og tók upp vettlinginn. 
			|Þór sá að hann höfðu þau haft fyrir skála en hliðarherbergið, það var þumallinn.

		blockquote
			|Skrýmir spurði Þór hvort hann mætti verða samferða þeim og Þór játti því. 
			|Þá tók Skrýmir upp nestispoka sinn og hugðist snæða morgunverð en Þór og félagar hans mötuðust annars staðar. 
			|Skrýmir bauð þá að þeir skyldu hafa allt nesti sameiginlegt og samþykkti Þór það. 

		blockquote
			|Þá setti Skrýmir allt nestið í einn poka og bar hann á baki sér. 
			|Hann gekk á undan þeim um daginn og var heldur stórstígur. 
			|En seint um kvöldið fann Skrýmir þeim náttstað undir stóru eikartré. 
			|Skrýmir sagði Þór að hann vildi leggjast til svefns, 

		blockquote
			|„en þér skulið taka nestispokann og fá ykkur kvöldverð.“ 
			
		blockquote	
			|Andartaki síðar var Skrýmir sofnaður og hraut hátt. 

		blockquote
			|Þór tók nestispokann og hugðist opna. 
			|Eins ótrúlega og það hljómar gat hann ekki leyst nokkurn hnút né hreyft við nokkrum ólarendum á pokanum. 
			|Þegar hann sá að þetta tókst ekki varð hann reiður, greip hamarinn Mjöllni báðum höndum, gekk þangað sem Skrýmir lá og barði í höfuðið á honum. 
			|Skrýmir vaknaði við þetta og spurði hvort laufblað hefði fallið á hann og hvort þau væru búin að borða og tilbúin að fara að sofa. 
			|Þór segir það vera ætlun þeirra. 
			|Þau koma sér fyrir undir öðru eikartré. 
			|En það get ég sagt þér að þau hafa ekki sofnað róleg þessa nótt. 

		blockquote
			|Um miðja nótt heyrir Þór að Skrýmir sefur fast og hrýtur svo að undir tekur í skóginum. 
			|Þá stendur hann upp, gengur til hans, reiðir upp hamarinn og lemur ofan í miðjan hvirfilinn á honum. 
			|Hann finnur að hamarshöfuðið sekkur djúpt. 
			|Við það vaknaði Skrýmir og sagði: 

		blockquote
			|„Hvað gerðist nú? Féll ávöxtur á höfuðið á mér? Hvað ert þú að gera hér, Þór?“

		blockquote
			|Þór hrökklaðist frá og sagðist vera nývaknaður, enn væri mið nótt og mál að leggjast aftur til svefns. 
			|Þór hugsaði þá með sér að ef hann fengi færi á að slá hann í þriðja sinn myndi hann aldrei sjá sig aftur. 
			|Nú lagðist hann niður og beið þess að Skrýmir sofnaði fast.

		blockquote
			|Skömmu fyrir dögun heyrði hann að Skrýmir var sofnaður, stóð þá upp, hljóp að honum og reiddi hamarinn af öllu afli og lamdi á gagnaugað. 
			|Hamarinn sökk upp að skaftinu. 
			|Við þetta settist Skrýmir upp, strauk um vanga sér og sagði: 

		blockquote
			|„Ætli það sitji fuglar í trénu fyrir ofan mig? Þegar ég vaknaði fannst mér eins og sprek félli af greinunum í höfuðið á mér. 
			|Ert þú vakandi, Þór? Það er kominn tími til fara á fætur og klæða sig. 
			|Nú eigið þið ekki langa leið eftir til borgarinnar sem kölluð er Útgarður. 
			|Ég hef heyrt ykkur pískra um að ykkur þætti ég ekki lítill vexti en þið munuð hitta fyrir stærri menn en mig þegar þið komið í Útgarð. 
			|Ég skal gefa ykkur heilræði. 
			|Þið skuluð sýna af ykkur hógværð og lítillæti. 
			|Hirðmenn Útgarða-Loka munu ekki þola gort og stóryrði frá smástrákum eins og ykkur. 
			|Annars skuluð þið snúa til baka og ráðlegg ég ykkur að taka frekar þann kostinn. 
			|En ef þið ætlið að halda áfram skuluð þið fara í austurátt. 
			|Ég er hins vegar á leið norður til fjallanna sem þið sjáið þarna.“

		blockquote
			|Skrýmir tekur nestispokann og kastar á bak sér, snýr þvert á leið frá þeim og heldur til skógar. 
			|Þess er ekki getið að æsir hafi óskað þess að þeir hittust heilir aftur. 