div.row
	.col-xs-12.columns
		h3 46. Í höll Útgarða-Loka

		p#heimsmynd-19x
			|Þór og félagar héldu ferðinni áfram og gengu fram á miðjan dag. 
			|Þá komu þau að stóru borgarvirki úti á sléttunni. 
			|Það var svo hátt að þau þurftu að reigja höfuðið langt aftur til að horfa upp eftir því öllum. 
			|Þau gengu að virkisveggnum en hliðið var lokað. Þór reyndi að brjóta upp hliðið en tókst ekki. 
			|Þau þurftu að smjúga milli rimla hliðsins til að komast inn í borgina. Þá sáu þau mikla höll og gengu þangað. 
			|Dyrnar voru opnar. 
			|Þau gengu inn og sáu marga menn sitja til borðs og flesta ærið stóra. 
			|Því næst komu þau að hásæti konungsins, Útgarða-Loka og heilsuðu honum. 
			|Hann var seinn til svars og glotti við tönn og mælti:

		blockquote
			|„Loksins hittumst við og getum rætt málin eða er þessi væskill sem hér stendur ekki örugglega Öku-Þór? 
			|Þú hlýtur að vera sterkari en þú lítur út fyrir að vera. 
			|En hvaða aflraunir eru þið tilbúin að þreyta? Það fær enginn að vera hér á meðal okkar nema hann hafi einhverja hæfileika umfram flesta menn.“


		p Þá svarar Loki sem gekk síðastur inn: 
		blockquote
			|„Ég er góður í einni íþrótt sem ég er tilbúinn að keppa í og sjá hvort einhver hér inni sé fljótari að éta mat en ég.“


		p Útgarða-Loki svarar: 
		blockquote
			|„Við skulum kalla það íþrótt ef þú vilt, prófum að keppa í þessu.“


		p 
			|Þá kallaði hann til keppninaut Loka. 
			|Hann nefndist Logi og gekk fram á gólf, tilbúinn til keppni. 
			|Inn á hallgargólfið var borið trog fullt af kjöti. 
			|Loki settist við annan endann og Logi við hinn og átu báðir eins hratt og þeir gátu uns þeir mættust í miðju troginu. 
			|Þá hafði Loki étið allt kjötið af beinunum en Logi hafði étið allt kjötið, beinin og trogið. 
			|Sáu þá allir að Loki hafði tapað leiknum.


		p 
			|Nú spyr Útgarða-Loki hverju ungi maðurinn geti keppt í og Þjálfi svarar að hann sé tilbúinn til að þreyta kapphlaup við hvern þann sem Útgarða-Loki tilnefnir. 
			|Útgarða-Loki svarar að þetta sé góð íþrótt og segir að hann hljóti að vera fljótur að hlaupa úr því hann leggi þetta til en það muni fljótt koma í ljós. 
			|Stendur þá Útgarða-Loki upp og gengur út að sléttum velli sem gott var að hlaupa eftir. 
			|Útgarða-Loki kallar nú til sín sveinstaula nokkurn sem nefndur er Hugi og bað hann að keppa við Þjálfa. 
			|Í fyrsta hlaupinu sigraði Hugi með slíkum yfirburðum að hann hafði snúið sér við og beið við brautarendann þegar Þjálfi kom í mark.

		p Þá sagði Útgarða-Loki: 
		blockquote
			|„Þú þarft að leggja þig meira fram ef þú ætlar að vinna leikinn. 
			|Samt verð ég að viðurkenna að hingað hafa aldrei komið menn sem eru sprettharðari en þú.“


		p Nú taka þeir annað hlaup og þegar Hugi kom í mark var Þjálfi enn steinsnar frá honum.

		p Þá segir Útgarða-Loki: 
		blockquote
			|„Þetta var gott hlaup hjá Þjálfa en ekki held ég þó að hann vinni leikinn. 
			|Nú skulu þeir reyna með sér í þriðja sinn.“

		p Í þessu hlaupi var Hugi kominn á leiðarenda þegar Þjálfi var rétt hálfnaður með hlaupið. 

		p Þá voru allir sammála um að leiknum væri lokið. 

		p 
			|Þá spyr Útgarða-Loki Þór hvaða hæfileika hann vilji sýna úr því svo miklar sögur fari af stórvirkjum hans. 
			|Þór sagðist helst vilja keppa við einhvern í drykkju. 
			|Útgarða-Loki segir það vel hugsanlegt, gengur inn í höllina og kallar á þjón sinn, biður hann að koma með drykkjarhornið sem hirðmenn eru vanir að drekka af í refsingarskyni. 
			|Nú gengur þjónninn fram og réttir Þór hornið. 

		p Útgarða-Loki sagði: 
		blockquote
			|„Það þykir vel drukkið ef hornið er tæmt í einum teyg en sumir drekka af því í tveimur. 
			|Enginn er hins vegar svo lítill drykkjumaður að hann þurfi að súpa af horninu þrisvar sinnum.“

		p 
			|Þór lítur á hornið og finnst það ekki stórt þótt það sé nokkuð langt. 
			|Hann var orðinn mjög þyrstur, byrjar að svelgja í sig af krafti og telur sig ekki þurfa að lyfta horninu oftar en einu sinni. 
			|Þegar hann hætti að ná andanum hallaði hann horninu til að athuga hvað eftir væri af drykknum. 
			|Hann fékk ekki séð að nokkuð lægra væri í horninu nú en áður. 

		p Útgarða-Loki sagði: 
		blockquote
			|„Vel er drukkið og ekki of mikið. 
			|Ekki mundi ég trúa ef mér væri sagt að Ása-Þór drykki ekki meira en þetta. 
			|Ég er viss um að þú munt vilja reyna aftur.“

		p 
			|Þór svarar engu og setur hornið að munni sér. 
			|Hann hugðist gera betur en áður og drekkur eins lengi og hann gat haldið niðri í sér andanum. 
			|Honum finnst enn þá sem hann nái ekki að lyfta mjórri enda hornsins eins hátt og hann ætlar. 
			|Þegar hann tók hornið frá munni sér og horfði ofan í það sýndist honum enn minna hafa lækkað í því en í fyrra skiptið. 
			|Þó hafði minnkað svo í horninu að auðvelt var að bera það án þess að skvettist úr því.

		p Þá sagði Útgarða-Loki: 
		blockquote
			|„Af hverju gerir þú þetta, Þór? 
			|Ertu nú ekki að skilja meira eftir fyrir þriðja drykkinn en þú ræður við? 
			|Ef þú ætlar að drekka í þriðja sinn sýnist mér að sá sopi verði stærstur. 
			|Ekki getum við talið þig eins mikinn mann og æsir segja þig vera ef þú stendur þig ekki betur í öðrum keppnum en mér finnst þú hafa gert hér.“

		p 
			|Þá varð Þór reiður, bar hornið að munni sér og þambaði eins lengi og hann gat. 
			|Þegar hann leit ofan í hornið sá hann nú loks einhvern mun. 
			|Þá rétti hann frá sér hornið og sagðist ekki vilja drekka meira. 

		p Þá sagði Útgarða-Loki: 
		blockquote
			|„Það er nú auðséð að þú hefur ekki sama þrek og við héldum. 
			|En viltu prófa fleiri leiki? Þessi verður þér ekki til framdráttar.“


		p Þór svarar: 
		blockquote
			|„Ég get keppt í fleiru. 
			|Heima í Ásgarði þætti það undarlegt ef drykkir sem þessir væru kallaðir litlir. 
			|Til hvaða keppni viltu nú bjóða mér?“


		p Útgarða-Loki svaraði: 
		blockquote
			|„Ungir drengir leika sér að því að lyfta ketti mínum frá gólfi enda er það lítið mál. 
			|Ekki myndi ég minnast á slíkt við Ása-Þór hefði ég ekki séð að þú ert ekki eins öflugur og ég hélt.“


		p 
			|Þá stökk stór og grár köttur fram á hallargólfið. 
			|Þór gekk að honum, setti höndina undir miðjan kviðinn og lyfti. 
			|En kötturinn skaut upp kryppu svo hátt sem Þór rétti upp höndina. 
			|Jafnvel þótt Þór lyfti hendinni eins hátt og hann gat lyftist aðeins einn fótur kattarins og Þór varð að játa sig sigraðan. 


		p Þá sagði Útgarða-Loki: 
		blockquote
			|„Þessi leikur fór á þann veg sem mig grunaði. 
			|Kötturinn er stór en Þór er lágur og heldur lítill miðað við stórmennin hér í höllinni.“


		p Þá sagði Þór: 
		blockquote
			|„Þú getur kallað mig lítinn en skyldi einhver þora að koma og glíma við mig? 
			|Nú er ég reiður.“


		p Þá svarar Útgarða-Loki um leið og hann lítur yfir salinn: 
		blockquote
			|„Hér er ekki nokkur maður sem finnst það mikið mál að glíma við þig.“ 

		p Svo bætti hann við: 
		blockquote
			|„Látum fyrst kalla hingað kerlinguna Elli, fóstru mína, og má Þór glíma við hana ef hann vill. 
			|Hún hefur fellt sterkari menn en hann.“ 


		p#heimsmynd-20x
			| Þá gekk gömul kerling inn í höllina og Útgarða-Loki sagði henni að glíma við Ása-Þór. 
			|Það tæki ekki langan tíma. 
			|Glíma fór svo að því harðari fangbrögðum sem Þór beitti því fastara stóð hún. 
			|Þegar kerlingin sneri vörn í sókn varð Þór fljótlega valtur á fótunum. 
			|Eftir skjótar og harðar sviptingar var Þór kominn niður á annað hnéð. 
			|Þá gekk Útgarða-Loki fram og bað þau að hætta fangbrögðunum og sagði að Þór myndi ekki glíma við fleiri menn í hans höll. 
			|Þá var langt liðið á nóttina og Útgarða-Loki vísaði Þór og félögum hans til sætis til að taka þátt í veisluhöldum. 
