.row
	.col-xs-12
		h3 Haddur Sifjar

		p 
			| Hví er gull kallað 
			span.has-tip title="hár" haddur 
			| Sifjar?
		p 
			| Loki Laufeyjarson hafði það gert til 
			span.has-tip title="undirferli" lævísi 
			| að klippa hár allt af Sif. En er Þór varð þess var tók hann Loka og mundi lemja hvert bein í honum áður hann svarði þess að hann skal fá af svartálfum að þeir skulu gera af gulli Sifju hadd þann er svo skal vaxa sem annað hár.
		p 
			| Eftir það fór Loki til þeirra dverga er heita Ívaldasynir og gerðu þeir haddinn og Skíðblaðni og 
			span.has-tip title="spjót" geirinn 
			| er Óðinn átti er Gungnir heitir. Þá veðjaði Loki höfði sínu við þann dverg er Brokkur heitir, hvort bróðir hans, Eitri, mundi gera jafngóða gripi þrjá sem þessir voru. En er þeir komu til smiðju þá lagði Eitri svínskinn í 
			span.has-tip title="eldstæði" aflinn 
			| og bað blása Brokk og 
			span.has-tip title="hætta ekki" létta eigi 
			| fyrr en að tæki það úr aflinum er hann lagði í. En þegar er hann gekk úr smiðjunni, en hinn blés, þá settist fluga ein á hönd honum og kroppaði. En hann blés sem áður þar til er smiðurinn tók úr aflinum og var það 
			span.has-tip title="karlsvín. Beyging: göltur, gölt, gelti, galtar." göltur 
			| og var burstin úr gulli.
		p 
			| Því næst lagði hann í aflinn gull og bað hann blása og hætta eigi fyrr blæstrinum en hann kæmi aftur. Gekk hann á braut. En þá kom flugan og settist á háls honum og kroppaði nú hálfu fastara. En hann blés þar til er smiðurinn tók úr aflinum 
			span.has-tip title="armband úr gulli" gullhring 
			| þann er Draupnir heitir.
		p 
			| Þá lagði hann járn í aflinn og bað hann blása og sagði að ónýtt mundi verða ef blásturinn 
			span.has-tip title="(hér) hætta" félli
			|. Þá settist flugan milli augna honum og kroppaði 
			span.has-tip title="augnlok" hvarmana
			|. En er blóðið féll í augun, svo að hann sá ekki, þá greip hann til hendinni sem skjótast meðan belgurinn lagðist niður og sveipti af sér flugunni og þá kom þar smiðurinn og sagði að nú lagði nær að allt mundi ónýtast er í aflinum var. Þá tók hann úr aflinum hamar. Fékk hann þá alla gripina í hendur bróður sínum Brokk og bað hann fara með til Ásgarðs og 
			span.has-tip title="leggja undir í veðmáli" leysa veðjunina
			|.
		p 
			| En er þeir Loki báru fram gripina þá settust æsirnir á dómstóla og skyldi það 
			span.has-tip title="dómur haldast" atkvæði standast 
			| sem segðu Óðinn, Þór, Freyr. Þá gaf Loki Óðni geirinn Gungni en Þór haddinn er Sif skyldi hafa, en Frey Skíðblaðni og 
			span.has-tip title="lýsa eðli e-s" sagði skyn á 
			| öllum gripum: að geirinn nam aldrei staðar í 
			span.has-tip title="sár eftir spjót eða sverð" lagi 
			| en haddurinn var holdgróinn þegar er hann kom á höfuð Sif en Skíðblaðnir hafði 
			span.has-tip title="vindur í segl" byr 
			| þegar er segl kom á loft, hvert er fara skyldi en mátti vefja saman sem dúk og hafa í 
			span.has-tip title="vasi" pung 
			| sér ef það vildi. Þá bar fram Brokkur sína gripi. Hann gaf Óðni hringinn og sagði að hina níundu hverja nótt mundu drjúpa af honum átta hringar 
			span.has-tip title="jafnþungur" jafnhöfgir 
			| sem hann. En Frey gaf hann göltinn og sagði að hann mátti 
			span.has-tip title="hlaupa" renna 
			| loft og 
			span.has-tip title="vatn" lög 
			| nótt og dag meira en hver hestur og aldrei varð svo myrkt af nótt eða í myrkheimum að eigi væri ærið ljóst þar er hann fór, svo lýsti af burstinni. Þá gaf hann Þór hamarinn og sagði að hann mundi mega 
			span.has-tip title="slá" ljósta 
			| svo stórt sem hann vildi hvað sem fyrir væri og eigi mundi hamarinn bila og ef hann 
			span.has-tip title="kasta. beyging: verpa, varp, urpum, orpið" yrpi 
			| honum til, þá mundi hann aldrei missa og aldrei fljúga svo langt að eigi mundi hann sækja heim hönd. Og ef hann vildi þá var hann svo lítill að hafa mátti í 
			span.has-tip title="skyrta" serk 
			| sér. En það var 
			span.has-tip title="galli" lýti 
			| á að 
			span.has-tip title="handfang" forskeftið 
			| var heldur skammt.
		p 
			| Það var dómur þeirra að hamarinn var bestur af öllum gripum og mest vörn í fyrir hrímþursum, og dæmdu þeir að dvergurinn ætti veðféð.
		p 
			| Þá bauð Loki að 
			span.has-tip title="bjarga lífi sínu" leysa höfuð sitt
			|. Dvergurinn svaraði, sagði að þess var engin von.
		blockquote „Taktu mig þá!“ 
		p kvað Loki.
		p 
			| En er hann vildi taka hann, þá var hann víðs fjarri. Loki átti 
			span.has-tip title="skór" skúa 
			| er hann 
			span.has-tip title="hlaupa" rann 
			| á loft og 
			span.has-tip title="vatn" lög
			|. Þá bað dvergurinn Þór að hann skyldi taka hann en hann gerði svo.
		p 
			| Þá vildi dvergurinn höggva af Loka höfuð en Loki sagði að hann átti höfuð en eigi hálsinn.
		p 
			| Þá tók dvergurinn 
			span.has-tip title="reim" þveng 
			| og kníf og vill stinga rauf á vörum Loka og vill 
			span.has-tip title="sauma saman" rifa saman 
			| munninn en knífurinn beit ekki. Þá mælti hann að betri væri þar alur bróður hans en jafnskjótt sem hann nefndi hann þá var þar 
			span.has-tip title="handbor" alurinn 
			| og beit hann vararnar. Rifaði hann saman varirnar en Loki reif úr 
			span.has-tip title="göt fyrir saumþráð" æsunum
			|.
		p 
			| Sá þvengur, er munnurinn Loka var saman rifaður, heitir Vartari.