div.row
	.col-xs-12.columns
		h3 13. Bifröst
		p#heimsmynd-6x Þá sagði Gangleri: 
		blockquote
			| „Hvaða leið liggur frá jörðu til himins?“

		p Þá svarar Hár og hló:
		blockquote
			| „Ekki er nú gáfulega spurt. 
			| Hefur þér ekki verið sagt að goðin byggðu brú til himins frá jörðu sem heitir 
			span.has-tip data-tooltip="" title="brú sem hreyfist, sbr. að bifast." Bifröst. 
			| Þú hefur séð hana en það kann að vera að þú kallir hana regnboga. 
			| Hún er þrílit, mjög sterk og gerð af meiri list og kunnáttu en önnur smíði. 
			| En þótt hún sé sterk þá mun hún brotna þegar eldjötnar Múspells koma ríðandi eftir henni en hestar þeirra geta synt yfir stórar ár og þannig komast þeir á leiðarenda.“

		p Þá sagði Gangleri:
		blockquote
			| „Ef goðin eru almáttug þykir mér brúin ekki traust ef hún brotnar við þetta.“

		p Þá sagði Hár: 
		blockquote
			| „Ekki skal 
			span.has-tip data-tooltip="" title="tala illa um" hallmæla 
			| goðunum fyrir þetta verk. Bifröst er góð brú en það þolir enginn hlutur í þessum heimi árás eldjötnanna.“

