div.row
	.col-xs-12.columns
		h3 14. Hásæti goðanna

		p Þá sagði Gangleri: 
		blockquote
			| „Hvað hafðist Alfaðir að þegar Ásgarður var fullbyggður?“

		p Hár svaraði:
		blockquote
			| „Í upphafi skipaði hann stjórnarmenn og bað þá að dæma með sér örlög manna og stýra borginni. 
			| Það var gert í henni miðri á 
			span.has-tip data-tooltip="" title="iðagrænn völlur." Iðavelli. 
			| Fyrsta verk þeirra var að reisa 
			span.has-tip data-tooltip="" title="blótshús." hof. 
			| Þar eru tólf sæti auk hásætis Alföður. 
			| Það er mesta og besta hús á jörðu. 
			| Það er eins og það sé gert úr gulli að utan og innan. 
			| Þennan stað kalla menn Glaðsheim.

		blockquote
			| Þeir byggðu aðra höll. 
			| Það var blóthús sem gyðjurnar áttu og var það mjög fagurt. 
			| Húsið er kallað Vingólf.

		blockquote
			| Þar næst reistu þeir smiðju með eldstæði og bjuggu til hamar, töng og steðja og öll önnur tól sem þeir notuðu til að smíða úr málmi, steini og tré og nóg af þeim málmi sem kallaður er gull. 
			| Allan húsbúnað og áhöld gerðu þeir úr gulli. Þessi öld var kölluð gullöld áður en hún spilltist með tilkomu 
			span.has-tip data-tooltip="" title="lítið er vitað um hvað hér er átt við en í Völuspá er sagt frá konum sem komu frá Jötunheimum." jötnameyja.

		blockquote
			| Eftir þetta settust goðin í sæti sín og minntust þess hvernig líf dverga hafði kviknað í moldinni eins og maðkar í holdi Ýmis en af völdum guðanna fengu þeir vit og útlit manna en bjuggu þó í jörðu og steinum. 
			| Móðsognir var æðstur þeirra og Durinn næstæðstur.
		
		blockquote
			| Í Völuspá segir:

		.row.poem
			.col-xs-12
				h4 Vísa 16
				ul
					li Þá gengu regin öll
					li á rökstóla,
					li ginnheilög goð,
					li og um það gættust:
					li að skyldi dverga
					li drótt um skepja
					li úr brimi blóðgu
					li og úr Bláins leggjum.
					li Þar mannlíkun
					li mörg um gerðust,
					li dvergar í jörðu,
					li sem Durinn sagði.

		blockquote
			| 
			span.has-tip data-tooltip="" title="völvan/spákonan sem mælir fram Völuspá." Hún 
			| segir dvergana heita þessum nöfnum:

		.row.poem
			.col-xs-12
				h4 Vísa 17
				ul
					li Nýi, Niði
					li Norðri, Suðri,
					li Austri, Vestri,
					li Alþjófur, Dvalinn,
					li Nár, Náinn,
					li Nípingur, Dáinn,
					li Bifur, Báfur,
					li Bömbur, Nori,
					li Óri, Ónar,
					li Óinn, Mjöðvitnir,
					li Vigur og Gandálfur,
					li Vindálfur, Þorinn,
					li Fili, Kili,
					li Fundinn, Vali,
					li Þrór, Þróinn,
					li Þekkur, Litur, Vitur,
					li Nýr, Nýráður,
					li Rekkur, Ráðsvinnur.

		blockquote	
			| Þessir dvergar búa í moldinni en einnig eru til dvergar sem búa í steinum:

		.row.poem
			.col-xs-12
				h4 Vísa 18
				ul
					li Draupnir, Dólgþvari,
					li Haur, Hugstari,
					li Hleðjólfur, Glóinn,
					li Dóri, Óri,
					li Dúfur, Andvari,
					li Heftifili,
					li Hár, Svíar.

		blockquote
			| Dvergar komu líka frá Svarinshaugi til Aurvanga á Jöruvelli. Lofar var einn þeirra en aðrir heita:

		.row.poem
			.col-xs-12
				h4 Vísa 19
				ul
					li Skirvir, Virvir,
					li Skafiður, Ái,
					li Álfur, Ingi,
					li Eikinskjaldi,
					li Falur, Frosti,
					li Friður, Ginnar.