div.row#heimsmynd-1x
	.col-xs-12.columns
		h3 11. Sól og Máni
		p Þá spurði Gangleri:
		blockquote 
			| „Hvernig stýrir hann gangi sólar og tungls?”

		p Hár svarar: 
		blockquote
			| „Maður einn hét 
			span.has-tip data-tooltip="" title="sá sem fer á tíma. Mund merkir hér tími eins og í orðatiltækinu í sama mund." Mundilfari 
			| og átti tvö börn. 
			| Honum þótti þau svo fögur að hann kallaði soninn Mána og dótturina Sól og gifti hana manni sem hét 
			span.has-tip data-tooltip="" title="hinn glóandi." Glenur. 
			| Goðin reiddust þessu 
			span.has-tip data-tooltip="" title="ofmetnaður." ofdrambi 
			| og tóku þau systkin og settu upp á himininn. 
			| Sól var látin keyra hestana sem drógu kerru sólarinnar en goðin höfðu skapað hana til að lýsa heimana með neistum úr Múspellsheimi. 
			| Hestarnir heita Árvakur og Alsviður. 
			| Undir hestana settu goðin tvo vindbelgi til að kæla þá. 
			| Sums staðar er það kallað 
			span.has-tip data-tooltip="" title="kalt járn." Ísarnkol.

		blockquote
			| Máni stýrir göngu tungls og ræður því hvort það er vaxandi eða minnkandi. 
			| Til að hjálpa sér við það verk rændi hann tveimur börnum af jörðu, þeim Bil og Hjúka, þegar þau voru á leiðinni með vatnsker frá brunninum Byrgi. 
			| Hét kerið Sægur en stöngin sem hélt því Símul. 
			| Faðir þeirra er nefndur Viðfinnur. 
			span.has-tip data-tooltip="" title="það sést á því að tunglið er ýmist vaxandi eða minnkandi." Eins og sjá má 
			| frá jörðu fylgja þessi börn ávallt Mána.”



			
