div.row
	.col-xs-12.columns
		h3 15. Askur Yggdrasils

		p#heimsmynd-3x Þá spurði Gangleri:
		blockquote 
			| „Hver er helgasti staður goðanna?“

		p Hár svarar:
		blockquote
			| „Það er við 
			span.has-tip data-tooltip="" title="Askur merkir tré og Yggdrasill merkir hestur Óðins." ask Yggdrasils. 
			| Þar hittast goðin daglega og sinna dómshlutverki sínu.“

		p Gangleri spurði þá:
		blockquote
			| „Hvernig er sá staður?“

		p Þá svarar Jafnhár:
		blockquote#heimsmynd-17x
			| „Askurinn er mestur og bestur allra trjáa. 
			| Greinar hans ná út yfir allan heiminn og hærra en himinninn. 
			| Þrjár rætur halda trénu uppi og ná víða. 
			| Ein er hjá ásum en önnur hjá hrímþursum þar sem Ginnungagap var forðum. 
			| Þriðja rótin liggur í Niflheim í brunninn Hvergelmi þar sem Níðhöggur nagar hana. 
			| Undir rótinni sem liggur til Jötunheima er Mímisbrunnur. 
			| Speki og viska eru falin í brunninum en sá sem gætir hans heitir Mímir. 
			| Hann er uppfullur af visku því hann drekkur úr brunninum með Gjallarhorni. 
			| Eitt sinn kom Alfaðir þangað til að fá sopa en fékk ekki fyrr en hann lagði auga sitt að veði.

		blockquote Í Völuspá segir:

		.row.poem
			.col-xs-12
				h4 Vísa 20
				ul
					li Allt veit eg, Óðinn,
					li hvar þú auga falt,
					li í þeim inum mæra
					li Mímis brunni.
					li Drekkur mjöð Mímir
					li morgun hverjan
					li af veði Valföðurs.
					li Vituð þér enn – eða hvað?

		blockquote#heimsmynd-16x
			| Þriðja rótin nær til himna og undir henni er hinn heilagi Urðarbrunnur. 
			| Þar er dómstaður goðanna. 
			| Á hverjum degi ríða æsir þangað yfir Bifröst. 
			| Þess vegna kallast hún einnig Ásbrú. 
			| Hestar ásanna heita Glaður, Gyllir, Glenur, Skeiðbrimir, Silfrintoppur, Sinir, Gils, Gulltoppur og Léttfeti.
			| Hestur Baldurs var brenndur með honum. 
			| Sleipnir er hestur Óðins. 
			| Hann hefur átta fætur og þykir bestur. 
			| Þegar Þór fer að dómstaðnum veður hann ár sem heita:

		.row.poem
			.col-xs-12
				h4 Vísa 21
				ul
					li Körmt og Örmt
					li og Kerlaugar tvær,
					li þær skal Þór vaða
					li dag hvern
					li er hann dæma fer
					li að aski Yggdrasils,
					li því að Ásbrú
					li brenn öll loga,
					li heilög vötn hlóa.

		p Þá spurði Gangleri: 
		blockquote
			| „Logar eldur á Bifröst?“

		blockquote	
			| „Það sem er rautt í boganum er brennandi eldur. 
			| Ef öllum væri fært yfir Bifröst myndu hrímþursar og bergrisar komast upp til himins ef þeir vildu.“

		blockquote
			| Margir staðir á himni eru fagrir og þeir njóta guðlegrar verndar. 
			| Við Urðarbrunn er fögur höll og þaðan koma þrjár meyjar sem heita 
			span.has-tip data-tooltip="" title="Norn örlaganornanna vísa til fortíðar (Urður), nútíðar (Verðandi) og framtíðar (Skuld)." Urður, Verðandi og Skuld. 
			| Þessar meyjar ráða örlögum manna. 
			| Þær eru kallaðar nornir. 
			| Til eru fleiri nornir sem koma til hvers manns sem fæðist og ráða örlögum hans. 
			| Þessar nornir eru guðlegar en einnig eru til nornir af álfakyni og enn aðrar af kyni dverga, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 21
				ul
					li Sundurbornar mjög
					li hygg eg, að nornir sé,
					li eigut þær ætt saman.
					li Sumar eru áskunnar,
					li sumar eru álfkunnar,
					li sumar dætur Dvalins.

		p Þá spurði Gangleri: 
		blockquote
			| „Ef nornirnar ráða örlögum manna þá er lífsgæðum skipt ærið ójafnt því sumir lifa góðu lífi og ríkulegu en aðrir hafa lítið lán, sumir lifa lengi en aðrir stutt.“

		p Hár svarar: 
		blockquote
			| „Góðar nornir veita mönnum góða ævi en illar nornir skapa ill örlög.“

			
