div.row
	.col-xs-12.columns
		h3 12. Tröllkona fæðir úlfa
		p Þá sagði Gangleri: 
		blockquote
			| „Sólin fer svo hratt að það er eins og hún hræðist eitthvað. 
			| Hún færi varla hraðar nema hún hræddist um líf sitt.”

		p Þá svarar Hár: 
		blockquote
			| „Það er ekki að undra að hún fari svo ógnarhratt. 
			| Á eftir henni hleypur sá sem vill tortíma henni og hún á enga undankomuleið nema að hlaupa undan.“	

		p Þá spurði Gangleri: 
		blockquote 
			| „Hver er sá sem gerir henni þennan óskunda?“

		p Hár svarar: 
		blockquote
			| „Það eru tveir úlfar og heitir sá sem hleypur á eftir henni Skoll. 
			| Hún hræðist hann og á endanum mun hann ná henni. Hinn úlfurinn, 
			span.has-tip data-tooltip="" title="sá sem hatar, sonur hins fræga úlfs." Hati Hróðvitnisson
			| , hleypur á undan henni og reynir að ná tunglinu og það mun honum takast.“

		p Þá spurði Gangleri: 
		blockquote
			| „Hverjir eru forfeður úlfanna?“

		p Hár svarar: 
		blockquote
			| „Tröllkona ein býr í Járnskógi fyrir austan Miðgarð. 
			| Tröllkonurnar sem þar búa kallast járnviðjur. 
			| Synir hinnar gömlu tröllkonu eru allir jötnar í líki úlfa. 
			| Þeir eru forfeður úlfanna. 
			| Sagt er að af þessari ætt verði sá öflugastur sem nefndur er 
			span.has-tip data-tooltip="" title="úlfur tunglsins. Garmur þýðir annars yfirleitt hundur." Mánagarmur. 
			| Hann nærist á lífsafli allra sem deyja og mun hann gleypa tunglið og ausa blóði yfir allan himininn. 
			| Þannig mun sólin missa ljós sitt og ókyrrir vindar gnauða um allan heim. 
			| Í Völuspá segir:“

		.row.poem
			.col-xs-12
				h4 Vísa 14
				ul
					li Austur býr in aldna
					li í Járnviði
					li og fæðir þar
					li Fenris kindir. 
					li Verður úr þeim öllum
					li einna nokkur
					li tungls tjúgari
					li í trölls hami.


		.row.poem
			.col-xs-12
				h4 Vísa 15
				ul
					li Fyllist fjörvi
					li feigra manna
					li rýður ragna sjöt
					li rauðum dreyra.
					li Svört verða sólskin
					li um sumur eftir,
					li veður öll válynd.
					li Vituð ér enn  ̶  eða hvað?
