div.row
	.col-xs-12.columns
		h3 17. Fegurstu staðir himna

		p Þá spurði Gangleri: 
		blockquote
			| „Vel hefur þú sagt frá himnum en hvaða fleiri merka staði er þar að finna aðra en Urðarbrunn?“

		p Hár svarar: 
		blockquote
			| „Þar eru margir göfugir staðir. 
			| Einn þeirra er kallaður álfheimur. 
			| Þar búa ljósálfar en dökkálfar búa niðri í jörðu. 
			| Þeir eru ólíkir þeim í útliti og enn ólíkari í hegðun. 
			| Ljósálfar eru fegri en sólin en dökkálfar eru svartari en bik.

		blockquote
			| Þar er staður sem kallaður er Breiðablik og enginn staður er fegurri en hann. 
			| Þar er líka höllin Glitnir. 
			| Veggir hennar, stoðir og stólpar eru úr rauðagulli en þakið úr silfri. 
			| Þar er einnig staður sem heitir Himinbjörg. 
			| Hann stendur við enda himinsins við brúarsporð Bifrastar. 
			| Svo er þar Valaskjálf en þá höll á Óðinn. 
			| Guðirnir byggðu hana og þöktu með skíru silfri. 
			| Þar inni er Hliðskjálf, hásæti Óðins. 
			| Þegar Alfaðir situr þar sér hann um alla heima.

		blockquote
			| Á sunnanverðum enda himins er sú höll sem er fegurst allra og er bjartari en sólin. 
			| Hún heitir Gimlé. 
			| Hún mun standa þegar bæði himinn og jörð hafa farist og þar munu góðir menn og réttlátir búa til eilífðar. 
			| Svo segir í Völuspá:

		.row.poem
			.col-xs-12
				h4 Vísa 26
				ul
					li Sal veit eg standa
					li sólu fegra
					li gulli þaktan
					li á Gimlé.
					li Þar skulu dyggvar
					li dróttir byggja
					li og um aldurdaga
					li yndis njóta.“

		p Þá spurði Gangleri: 
		blockquote
			| „Hvað verndar þessa höll þegar eldjötuninn Surtur brennir himinn og jörð?“

		p Hár svarar: 
		blockquote
			| „Sagt er að fyrir ofan þennan himin sé annar himinn sem nefnist Andlangur og að enn ofar sé sá þriðji, Víðbláinn. Þar höldum við að höllina Gimlé sé að finna og að þar búi ljósálfar einir.“