div.row
	.col-xs-12.columns
		h3 19. Sumar og Vetur
		p Þá spurði Gangleri: 
		blockquote
			| „Hvers vegna er svo mikill munur á því hve sumarið er heitt en veturinn kaldur?“

		p Hár svarar: 
		blockquote
			| „Fróður maður myndi ekki spyrja um slíkt því þetta vita allir. 
			| En úr því þú ert svona fávís vil ég frekar að þú spyrjir einu sinni heimskulega en að þú sért ófróður um það sem þú átt að vita. 
			| Faðir Sumars heitir Svásuður. 
			| Af nafni hans er dregið orðið sváslegur og merkir blíður. 
			| Faðir Vetrar er ýmist kallaður Vindlómi eða Vindsvalur. 
			| Hann er sonur 
			span.has-tip data-tooltip="" title="bleyta, sbr. vosbúð og orðatiltækið að væsa ekki um e-n." 
			| Vosaðar og voru þeir feðgar grimmir og kaldlyndir. 
			| Vetur hefur skap þeirra.“