div.row
	.col-xs-12.columns
		h3 18. Vindurinn

		p Þá spurði Gangleri: 
		blockquote 
			| „Hvaðan kemur vindurinn? Hann er svo sterkur að hann hreyfir stór höf og magnar upp eld. Hann hlýtur að vera undarlega skapaður úr því ekki er hægt að sjá hann þrátt fyrir þennan styrk.“



		p Þá svarar Hár: 
		blockquote
			| „Ég get vel sagt þér frá því. 
			| Á norðanverðum enda himins situr jötunninn Hræsvelgur. 
			| Hann er í líki arnar og er hann hefur sig til flugs standa vindar undan vængjum hans, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 27
				ul
					li Hræsvelgur heitir,
					li er situr á himins enda,
					li jötunn í arnar ham.
					li Af hans vængjum
					li kveða vind koma
					li alla menn yfir.“

