div.row
	.col-xs-12.columns
		h3 16. Dýrin í askinum

		p Þá spurði Gangleri:
		blockquote 
			| „Hvað er fleira merkilegt við askinn?“

		p Hár svarar:
		blockquote
			| „Frá mörgu er að segja. 
			| Á greinum asksins situr margvitur örn og milli augna honum situr haukur sem heitir Veðurfölnir. 
			| Upp og niður eftir askinum hleypur íkorninn Ratatoskur. 
			| Hann ber öfundarorð milli arnarins og Níðhöggs. 
			| Um greinar asksins hlaupa einnig fjórir hirtir og bíta lauf hans. 
			| Þeir heita Dáinn, Dvalinn, Duneyr og Duraþrór. 
			| Ásamt Níðhöggi eru í Hvergelmi svo margar eiturslöngur að engin leið er að telja þær. 
			| Eins og segir í vísunni:

		.row.poem
			.col-xs-12
				h4 Vísa 23
				ul
					li Askur Yggdrasils
					li drýgir erfiði
					li meira en menn viti.
					li Hjörtur bítur ofan,
					li en á hliðu fúnar,
					li skerðir Níðhöggur neðan.

		blockquote
			| Enn segir:

		.row.poem
			.col-xs-12
				h4 Vísa 24
				ul
					li Ormar fleiri
					li liggja und aski Yggdrasils
					li en það um hyggi hver ósvinnra apa,
					li Góinn og Móinn,
					li þeir eru Grafvitnis synir,
					li Grábakur og Grafvölluður,
					li Ófnir og Sváfnir
					li hygg eg að æ muni
					li meiðs kvistum má.

		blockquote
			| Nornirnar sem búa við Urðarbrunn taka á hverjum degi vatn úr honum og 
			span.has-tip data-tooltip="" title="leðja" aurinn 
			| sem liggur í kringum hann og ausa yfir askinn svo að greinar hans visni hvorki né fúni. 
			| Vatnið í brunninum er svo heilagt að allir hlutir sem koma í hann verða hvítir eins og himnan sem liggur við eggskurn, eins og segir í vísu:

		.row.poem
			.col-xs-12
				h4 Vísa 25
				ul
					li Ask veit eg ausinn,
					li heitir Yggdrasill,
					li hár baðmur heilagur,
					li hvíta auri.
					li Þaðan koma döggvar
					li er í dali falla,
					li stendur hann æ yfir grænn
					li Urðar brunni.

		blockquote
			| Döggina sem drýpur af askinum kalla menn hunangfall og á henni nærast býflugur. Tveir fuglar nærast í Urðarbrunni. Þeir heita svanir og af þeim fuglum er komið það fuglakyn sem sem ber þetta nafn.“


