div.row
	.col-xs-12.columns
		h3 10. Dagur og Nótt
		p 
			| Nörfi eða Narfi hét jötunn í Jötunheimum. 
			| Hann átti dótturina Nótt. 
			| Hún  var svört og dökk eins og ætt hennar. 
			| Fyrst var hún gift Naglfara og áttu þau soninn Auð. 
			| Næst giftist hún Öðrum og eignaðist með honum Jörð. 
			| Að lokum var hún gefin 
			span.has-tip data-tooltip="" title="hinn bjarti." Dellingi 
			| en hann var af ætt ása. 
			| Þeirra sonur var Dagur. Hann var ljós og fagur eins og faðir hans. 

		p 
			| Þá tók Alfaðir Nótt og Dag, son hennar, gaf þeim tvo hesta og tvær kerrur og setti þau upp á himininn. 
			| Á hverjum tveimur 
			span.has-tip data-tooltip="" title="hér er litið á einn dag sem hálfan sólarhring." dögum 
			| skyldu þau ríða umhverfis jörðina. 
			| Nótt ríður á undan á hesti sem kallaður er Hrímfaxi, á hverjum morgni vætir hann jörðina með froðunni úr munni sér. 
			| Hestur Dags heitir Skinfaxi. Fax hans lýsir upp loftið og jörðina.”

