div.row
	.col-xs-12.columns
		h3 9. Askur og Embla
		p Þá mælti Gangleri:
		blockquote 
			| „Miklu þykir mér þeir hafa komið til leiðar þegar búið var að koma fyrir jörðinni, himninum, sólinni og himintunglum og eftir að lengd dagsins var ákveðin. 
			| En hvaðan komu mennirnir sem búa á jörðinni?”

		p Þá svarar Hár: 
		blockquote
			| „Eitt sinn er synir Bors gengu með ströndinni fundu þeir tvö tré, tóku þau upp og sköpuðu úr þeim menn. 
			| Óðinn gaf þeim líf og sál, Vili gaf þeim vit og krafta en Vé gaf þeim heyrn og sjón. 
			| Allir gáfu þeim nöfn og klæði. Karlmaðurinn hét Askur en konan Embla. 
			| Af þeim er komið allt mannkyn sem býr í Miðgarði. 

		p#heimsmynd-4x
			| Þar næst reistu guðirnir sér borg í miðjum heiminum sem kölluð er Ásgarður þar sem ýmsir atburðir hafa gerst. 
			| Þar er staður sem heitir Hliðskjálf og þegar Óðinn sest þar í hásæti sér hann um alla heima og allt sem mennirnir gera. 
			| Því veit hann alla hluti. 
			| Kona hans heitir Frigg Fjörgynsdóttir og af þeim er komin ætt ása. 
			| Þeir búa í Ásgarði hinum forna og þeim ríkjum sem  honum tilheyra, þessi ætt er öll guðleg. 
			| Hann heitir Alfaðir því hann er faðir allra guða og manna og alls þess sem máttur hans hefur skapað. 
			| Jörðin var dóttir hans og kona hans. 
			| Með henni átti hann sinn fyrsta son en það er Þór þrumuguð. 
			| Honum fylgdi afl og styrkur sem gerir honum kleift að sigra allar skepnur. 



