.col-xs-12.columns#header
  .logo
    == image_tag('logo-2.png')
.col-xs-12
  = form_for(User.new, :as => :user, :url => user_session_path, :html => { :class => 'form-signin' }) do |f|
   
    / div
    /   = f.label :email
    /   br
    .input-group.top
      span.input-group-addon
        i.fa.fa-user
      = f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Tölvupóstur'
    / div
    /   = f.label :password
    /   br
    .input-group.bottom
      span.input-group-addon
        i.fa.fa-lock
      = f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Lykilorð'

    = f.submit "Innskráning", :class => 'btn btn-lg btn-primary btn-block'