.col-xs-12.columns#header
  .logo
    == image_tag('logo-2.png')
.col-xs-12
  = form_for(User.new, :as => :user, :url => user_registration_path, :html => { :class => 'form-signin' }) do |f|
    .input-group.top
      span.input-group-addon
        i.fa.fa-user
      = f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Tölvupóstur'
    .input-group.center
      span.input-group-addon
        i.fa.fa-lock
      = f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Lykilorð', :minlength => 2
    .input-group.bottom
      span.input-group-addon
        i.fa.fa-lock
      = f.password_field :password_confirmation, :required => true, :class => 'form-control', :placeholder => 'Lykilorð(aftur)'
    = f.submit "Nýskráning", :class => 'btn btn-lg btn-primary btn-block'