= form_for @answer, url: @url do |f|
	.form-group
		== f.label :Svar
		== f.text_field :answer, :class => "form-control", :placeholder => "Svar"
	= f.label :correct, :class => 'checkbox' do
      = f.check_box :correct
      | Rétt?
	== f.submit "Skrá svar", :class => "btn btn-primary"