table.table.table-hover
	thead
		tr
			th Svar
			th Rétt?
			th Breyta
			th Eyða
	tbody
		- @answers.each do |answer|
			tr
				td = answer.answer
				td = (answer.correct and "Já") or "Nei"
				td = link_to 'Breyta', edit_admin_quiz_question_answer_path(@quiz,@question,answer), :class => 'btn btn-success'
				td = link_to 'Eyða', admin_quiz_question_answer_path(@quiz,@question,answer), method: :delete, :class => 'btn btn-danger', data: { :confirm => 'Ertu viss? Þú getur ekki afturkallað þetta skref.' }
= link_to 'Nýtt svar', new_admin_quiz_question_answer_path(@quiz,@question) ,:class => 'btn btn-primary'
= link_to 'Tilbaka', admin_quiz_questions_path(@quiz), :class => 'btn'