.row.exercise
	.col-xs-12
		h1 Ritgerðarefni - Gylfaginning

		ol.custom
			li
		 		strong.block Snorra-Edda og nútíma afþreyingarmenning:
				p Berið saman eina persónu úr Eddunni og eina persónu úr sjónvarpsþáttum eða kvikmyndum.
		 
			li
				strong.block Áhrif Snorra-Eddu á Hringadróttinssögu eftir J.R.R. Tolkien.
				p Tolkien var mikill áhugamaður um íslenskar fornbókmenntir. Hann las þær á íslensku og sótti þaðan áhrif. Ýmsar hliðstæður má finna í sögum hans og norrænni goðafræði. Hverjar eru þær?
		 
			li
				strong.block Snorra-Edda og tónlist:
				p Fjallið um hvernig Eddan hefur verið notuð sem yrkisefni tónskálda eða hljómsveita.
		 
			li
				strong.block Hvað er goðsaga? 
				p Tengið umfjöllun ykkar við þær goðsögur sem er að finna í Snorra-Eddu og reynið að komast að því hvaða hlutverki goðsögur gegna í samfélagi manna.
		 
			li 
				strong.block Snorra-Edda og ímynd hetjunnar:
				p Hvernig hetjur eru í Snorra-Eddu? Hér má bera hetjur Snorra-Eddu saman við hetjur nútímans. Hvað eiga þær sameiginlegt með nútíma ofurhetjum eða hasarmyndahetjum?
		 
			li
				strong.block Snorra-Edda og tölvuleikir:
				p Skrifið um það ritgerð hvernig hægt væri að nýta Snorra-Eddu til að búa til vinsælan tölvuleik.
		 
			li 
				strong.block Snorra-Edda og nútíminn:
				p Ásatrúarfélag Íslands er virkt trúfélag á Íslandi. Hvernig nota ásatrúarmenn Snorra-Eddu í sínu trúarlífi? Er líklegt að Edda sé notuð í sama tilgangi og kristnir menn nota Biblíuna?
		 
			li 
				strong.block Teiknimyndasögur – Valhöll:
				p Undir lok 20. aldar voru gerðar vinsælar teiknimyndasögur upp úr Snorra-Eddu undir heitinu Valhöll. Fjallið um hvernig unnið er úr efninu í þessum teiknimyndasögum og berið þær saman við hinar upphaflegu sögur.

			li 
				strong.block Fordómar í goðafræðinni:
				p Víða kemur fram sterk andúð goðanna á jötnum og bergrisum, t.d. þegar í ljós kemur að borgarsmiðurinn er í raun bergrisi í sögunni um tilurð Sleipnis. Fjallið um þetta hatur þeirra og reynið að finna samsvörun í togstreitu á milli ólíkra menningarheima í nútímanum.
