.row.exercise
	.col-xs-12
		h1 Ritgerðarefni - Skáldskaparmál
 
		p Þjassi og Iðunn, Skáldamjöðurinn, För Þórs til Geirröðargarða, Haddur Sifjar, Fáfnisarfur

		ol.custom
			li 
				strong.block Galdrar.
				p Gerið úttekt á því hvaða galdrar koma fyrir í sögunum fimm. Berið saman þá galdra sem guðirnir Óðinn og Loki hafa á valdi sínu og þá sem jötnarnir kunna skil á. Hver er munurinn? Hverjir hafa yfirburði og í hverju felast þeir?
 
			li 
				strong.block Skop.
				p Gerið grein fyrir gamanseminni sem kemur fram í sögunum. Nefnið þrjú dæmi um groddalegan „neðanbeltishúmor“. Hvað segir þetta okkur um skopskyn miðaldamanna? Gefur þetta vísbendingu um við hvaða tækifæri þessar sögur voru sagðar eða fluttar?
 
			li
				strong.block Illska.
				p Grimmileg morð og pyntingar koma fram í sumum sögunum og tengjast þau oft hefnd eða græðgi. Takið fimm dæmi um hreina illsku í Skáldskaparmálum, berið þau saman við það sem fyrirfinnst í heimi nútímaafþreyingar. Hafa orðið breytingar á því hvernig menn skemmta sér yfir illskuverkum?
 
			li
				strong.block Kvenpersónur.
				p Fjallið um kvenpersónur í hverri sögu fyrir sig. Eru kvenpersónurnar gerendur eða fórnarlömb? Eru þær hafðar með í sögunum til að vekja aðdáun eða meðaumkvun, hlátur eða sorg? Hvernig er þessu háttað í afþreyingarefni nútimans?
 
			li
				strong.block Óðinn.
				p Skoðið lýsingar á Óðni í Gylfaginningu annars vegar og Skáldskaparmálum hins vegar. Hver er munurinn á því hvernig honum er lýst á þessum tveimur stöðum? Kemur hann einhverntímann fram sem: a) hetja, b) skúrkur, c) vitur, d) heimskur?
 
			li 
				strong.block Þór.
				p Skoðið lýsingar á Þór í Gylfaginningu annars vegar og Skáldskaparmálum hins vegar. Hver er munurinn á því hvernig honum er lýst á þessum tveimur stöðum? Nefnið dæmi um það hvenær hann er a) hetja, b) skúrkur, c) vitur, d) heimskur.
 
			li 
				strong.block Loki.
				p Skoðið lýsingar á Loka í Gylfaginningu annars vegar og Skáldskaparmálum hins vegar. Hver er munurinn á því hvernig honum er lýst á þessum tveimur stöðum? Nefnið dæmi um það hvenær hann er a) hetja, b) skúrkur, c) vitur, d) heimskur.
 
			li
				strong.block Verðmæti. 
				p Hvaða verðmætamat kemur fram í sögunum í Skáldskaparmálum? Hvaða fyrirbæri virðast vera í miklum metum hjá þeim sem njóta þess að lesa eða hlusta á þessar sögur? Fjallið bæði um dauða hluti og eiginleika eða hæfileika lifandi manna í þessu samhengi. Er þetta ólíkt í nútímanum?
