.row
	.col-xs-12
		h3 Þjassi og Iðunn
		p 
			| Einn maður er nefndur Ægir eða Hlér. Hann bjó í ey þeirri er nú er kölluð Hlésey. Hann var mjög 
			span.has-tip title="göldróttur" fjölkunnugur
			| . Hann gerði ferð sína til Ásgarðs en er æsir vissu ferð hans var honum fagnað vel og þó 
			span.has-tip title="ekki var allt sem sýndist" margir hlutir með sjónhverfingum
			| . Og um kveldið er drekka skyldi þá lét Óðinn bera inn í höllina sverð og voru svo björt að þar af lýsti og var ekki haft ljós annað meðan við drykkju var setið.

		p 
			| Þá gengu æsir að 
			span.has-tip title="veisla" gildi 
			| sínu og settust í hásæti tólf æsir þeir er 
			span.has-tip title="dómarar, sbr. kafla 14 í Gylfaginningu þar sem sagt er frá því að hlutverk goðanna sé að dæma örlög manna." dómendur 
			| skyldu vera og svo voru nefndir: Þór, Njörður, Freyr, Týr, Heimdallur, Bragi, Víðar, Váli, Ullur, Hænir, Forseti, Loki. Slíkt sama ásynjur: Frigg, Freyja, Gefjun, Iðunn, Gerður, Sigyn, Fulla, Nanna.

		p Ægi þótti göfuglegt þar um að sjást. Veggþili öll voru þar tjölduð með fögrum skjöldum. Þar var og áfenginn mjöður og mjög drukkið. Næsti maður Ægi sat Bragi og áttust þeir við drykkju og orðaskipti. Sagði Bragi Ægi frá mörgum tíðindum þeim er æsir höfðu átt.

		p 
			| Hann hóf þar frásögn að 
		p
			| „þrír æsir fóru heiman, Óðinn og Loki og Hænir, og fóru um fjöll og eyðimerkur og var 
			span.has-tip title="matarskortur" illt til matar. 
			| En er þeir koma ofan í dal nokkurn sjá þeir 
			span.has-tip title="nautahjörð" öxnaflokk 
			| og taka einn uxann og snúa til seyðis. En er þeir hyggja að soðið mun vera 
			span.has-tip title="opna suðuholuna" raufa þeir seyðinn 
			| og var ekki soðið. Og í annað sinn er þeir raufa seyðinn, þá er stund var liðin og var ekki soðið, mæla þeir þá sín á milli hverju þetta mun gegna. Þá heyra þeir mál í eikina upp yfir sig, að sá er þar sat kvaðst ráða því er eigi soðnaði á seyðinum. Þeir litu til og sat þar örn og eigi lítill.

		p Þá mælti örninn:
		blockquote „Viljið þér gefa mér fylli mína af uxanum, þá mun soðna á seyðinum.“

		p Þeir játa því.

		p 
			| Þá lætur hann sígast úr trénu og sest á seyðinn og leggur upp þegar hið fyrsta lær uxans tvö og báða 
			span.has-tip title="kjöt af framlim, sambærilegt við læri" bógana
			|. Þá varð Loki reiður og greip upp mikla stöng og reiðir af öllu afli og rekur á kroppinn erninum. Örninn bregst við höggið og flýgur upp. Þá var föst stöngin við bak arnarins og hendur Loka við annan enda.

		p 
			| Örninn flýgur hátt svo að fætur Loka 
			span.has-tip title="rekast niður í" taka niður grjótið 
			| og urðir og 
			span.has-tip title="skógar" viðu 
			| en hendur hans hyggur hann að slitna munu úr öxlum. Hann kallar og biður allþarflega örninn friðar en hann segir að Loki skal aldrei laus verða nema hann veiti honum 
			span.has-tip title="loforð" svardaga 
			| að koma Iðunni út um Ásgarð með epli sín. En Loki vill það. Verður hann þá laus og fer til lagsmanna sinna. Og er eigi að sinni sögð fleiri tíðindi um þeirra ferð áður þeir koma heim.

		p 
			| En að ákveðinni stundu 
			span.has-tip title="lokkar" teygir 
			| Loki Iðunni út um Ásgarð í skóg nokkurn og segir að hann hefur fundið epli þau er henni munu gripir í þykja og bað að hún skal hafa með sér sín epli og bera saman og hin. Þá kemur þar Þjassi jötunn í arnarham og tekur Iðunni og flýgur braut með og í Þrymheim til bús síns.

		p 
			| En æsir urðu illa við hvarf Iðunnar og gerðust þeir brátt 
			span.has-tip title="gamlir" hárir 
			| og gamlir. Þá áttu þeir æsir þing og spyr hver annan hvað síðast vissi til Iðunnar. En það var séð síðast að hún gekk út úr Ásgarði með Loka.

		p 
			| Þá var Loki tekinn og færður á þingið og var honum heitið bana eða 
			span.has-tip title="pyntingar" píslum
			|. En er hann varð hræddur þá kvaðst hann mundu sækja eftir Iðunni í Jötunheima ef Freyja vill 
			span.has-tip title="ljá merkir að lána. Goðin gátu klæðst hami fugla og þannig breytt sér í fuglinn." ljá honum valshams 
			| er hún á.

		p 
			| Og er hann fær valshaminn flýgur hann norður í Jötunheima og kemur einn dag til Þjassa jötuns. Var hann róinn á sæ en Iðunn var ein heima. Brá Loki henni í 
			span.has-tip title="hneta" hnotar 
			| líki og hafði í klóm sér og flýgur sem mest. En er Þjassi kom heim og saknar Iðunnar tekur hann arnarhaminn og flýgur eftir Loka og dró 
			span.has-tip title="loftstreymi sem kemur af vængjaslætti" arnsúg 
			| í flugnum.

		p 
			| En er æsirnir sáu er valurinn flaug með hnotina og hvar örninn flaug þá gengu þeir út undir Ásgarð og báru þannig byrðar af 
			span.has-tip title="tréspænir" lokarspónum.

		p 
			| Og þá er valurinn flaug inn um borgina lét hann fallast niður við borgarvegginn. Þá slógu æsirnir eldi í lokarspónuna en örninn mátti eigi stöðva sig er hann missti valsins. Laust þá eldinum í fiðri arnarins og tók þá af 
			span.has-tip title="vængur" fluginn
			|. Þá voru æsirnir nær og drápu Þjassa jötun fyrir innan Ásgrindur og er það víg allfrægt.

		p 
			| En Skaði, dóttir Þjassa jötuns, tók hjálm og brynju og öll hervopn og fer til Ásgarðs að hefna föður síns. En æsir buðu henni sætt og yfirbætur og hið fyrsta að hún skal kjósa sér mann af ásum og 
			span.has-tip title="velja eftir útliti fóta" kjósa að fótum 
			| og sjá ekki fleira af. Þá sá hún eins manns fætur forkunnarfagra og mælti: „Þennan kýs eg. Fátt mun ljótt á Baldri.“ En það var Njörður úr Nóatúnum.

		p 
			| Það hafði hún og í sættargjörð sinni að æsir skyldu það gera er hún hugði að þeir skyldu eigi 
			span.has-tip title="geta" mega
			|, að 
			span.has-tip title="koma e-m til að hlæja" hlægja 
			| hana. Þá gerði Loki það að hann batt um skegg geitar nokkurrar og öðrum enda um 
			span.has-tip title="kynfæri karldýrs, einkum pungur." hreðjar 
			| sér og létu þau ýmsi eftir og skrækti hvorttveggja við hátt. Þá lét Loki fallast í kné Skaða og þá hló hún. Var þá gjör sætt af ásanna hendi við hana.

		p 
			| Svo er sagt að Óðinn gerði það til 
			span.has-tip title="skaðabætur" yfirbóta 
			| við hana að hann tók augu Þjassa og kastaði upp á himin og gerði af stjörnur tvær.“
		p Þá mælti Ægir:
		blockquote „Mikill þykir mér Þjassi fyrir sér hafa verið. Eða hvers kyns var hann?“
		p Bragi svarar: 
		blockquote 
			| „Ölvaldi hét faðir hans og merki munu þér að þykja ef eg segi þér frá honum. Hann var mjög gullauðugur en er hann dó og synir hans skyldu skipta arfi þá höfðu þeir 
			span.has-tip title="mældu gullið" mæling að gullinu 
			| er þeir skiptu að hver skyldi taka munnfylli sína og allir jafnmargar. Einn þeirra var Þjassi, annar Iði, þriðji Gangur. En það höfum vér orðtak nú með oss að kalla gullið 
			span.has-tip title="rödd eða orð jötna, kenning fyrir gull." munntal þessa jötna 
			| en vér felum í rúnum eða í skáldskap svo að vér köllum það mál eða orð eða tal þessa jötna.“
		p Þá mælti Ægir: 
		blockquote „Það þykir mér vera vel fólgið í rúnum.“
 
/ Skýringar:
/ fjölkunnugur: göldróttur
/ margir hlutir með sjónhverfingum: ekki var allt sem sýndist
/ gildi: veisla.
/ dómendur: dómarar, sbr. kafla 14 í Gylfaginningu þar sem sagt er frá því að hlutverk goðanna sé að dæma örlög manna.
/ illt til matar: matarskortur.
/ öxnaflokkur: nautahjörð.
/ snúa til seyðis: sjóða í holu.
/ raufa þeir seyðinn: opna suðuholuna.
/ bógur: kjöt af framlim, sambærilegt við læri.
/ taka niður: rekast niður í.
/ viðir: skógar.
/ svardagi: loforð.
/ teygja: lokka.
/ hárir: gamlir.
/ píslir: pyntingar.
/ ljá honum valsham: ljá merkir að lána. Goðin gátu klæðst hami fugla og þannig breytt sér í fuglinn.
/ hnota: hneta.
/ arnsúgur: loftstreymi sem kemur af vængjaslætti.
/ lokarspænir: tréspænir.
/ flugur (kk. et.): vængur.
/ kjósa að fótum: velja eftir útliti fóta.
/ mega: geta.
/ hlægja: koma e-m til að hlæja.
/ hreðjar: kynfæri karldýrs, einkum pungur.
/ yfirbætur: skaðabætur.
/ mæling að gullinu: mældu gullið.
/ munntal jötna: rödd eða orð jötna, kenning fyrir gull.