div.row
	.col-xs-12.columns
		h3 52. Gimlé og Nástrandir

		p Þá spurði Gangleri: 
		blockquote
			|„Hvað gerist eftir að himinn og jörð hafa verið brennd og goðin, einherjar og allir menn dauðir? 
			|Hefur þú ekki áður sagt að hver maður lifi um alla eilífð í öðrum heimi?“

		p Þriðji svarar: 
		blockquote
			|„Til eru margar vistarverur, sumar góðar en aðrar slæmar. 
			|Best er að vera á himnum á stað sem heitir Gimlé. Þar er nóg af góðum drykk fyrir þá sem hafa ánægju af því, í höll sem heitir Brimir. 
			|Hún stendur á Ókólni. 
			|Aðra góða höll er að finna í Niðafjöllum. 
			|Hún er gerð úr rauðagulli og kallast Sindri. 
			|Þessar hallir eru ætlaðar góðum og siðuðum mönnum.

		blockquote
			|Á Náströndum er stór og óhugnanleg höll og snúa dyrnar í norður. 
			|Veggir hennar eru fléttaðir úr snákahryggjum. 
			|Snákshöfuð vísa inn í höllina og spúa eitri sem flýtur um hana alla. 
			|Í eitrinu vaða 
			span.has-tip data-tooltip="" title="þeir sem rofið hafa eið, svikið loforð." eiðrofar 
			|og morðingjar, eins og hér segir: 

		.row.poem
			.col-xs-12
				h4 Vísa 63
				ul
					li Sal veit eg standa
					li sólu fjarri
					li Náströndu á,
					li norður horfa dyr.
					li Falla eiturdropar
					li inn um ljóra,
					li sá er undinn salur
					li orma hryggjum.
					li Skulu þar vaða
					li þunga strauma
					li menn meinsvara
					li og morðvargar.

		blockquote
			|Í Hvergelmi er verst að vera:

		.row.poem
			.col-xs-12
				h4 Vísa 60
				ul
					li Þar kvelur Níðhöggur
					li nái framgengna. 


