div.row
	.col-xs-12.columns
		h3 54. Gangleri fer fróðari heim

		p 
			|Nú heyrði Gangleri miklar drunur allt í kringum sig. 
			|Hann litast betur um og sér að hann stendur úti á sléttum velli og sér enga höll lengur og enga borg. 
			|Hann heldur þá áleiðis heim í ríki sitt og segir frá öllu því sem hann hefur séð og heyrt. 
			|Eftir frásögn hans gengu þessar sögur frá manni til manns. 