div.row
	.col-xs-12.columns
		h3 51. Ragnarök

		p Þá spurði Gangleri: 
		blockquote
			|„Hvað geturðu sagt mér um ragnarök? 
			|Ég hef ekki heyrt talað um þau áður.“

		p Hár svarar: 
		blockquote 
			|„Þar er frá miklum og merkilegum atburðum að segja.  
			|Fyrst er vert að nefna það sem kallað er 
			span.has-tip data-tooltip="" title="gríðarlega harður vetur." Fimbulvetur
			|. Þá snjóar úr öllum áttum, frost eru mikil og hvassir vindar.  
			|Ekki sést til sólar.  
			|Þrír samfelldir vetur verða án þess að sumar komi á milli og þrjú ár þar á undan geisa miklar orrustur um alla veröld.  
			|Bræður drepa hver annan sökum ágirndar og enginn maður þyrmir föður eða syni í manndrápum og ættarmorðum, eins og segir í Völuspá: 

		.row.poem
			.col-xs-12
				h4 Vísa 52
				ul
					li Bræður munu berjast
					li og að bönum verðast,
					li munu systrungar
					li sifjum spilla. 
					li Hart er með höldum, 
					li hórdómur mikill,
					li skeggöld, skálmöld,
					li skildir klofnir,
					li vindöld, vargöld
					li áður veröld steypist.

		blockquote#heimsmynd-21x
			|Þá gerast þau miklu tíðindi að úlfurinn gleypir sólina og þykir mönnum það mikill skaði.  
			|Hinn úlfurinn gleypir þá tunglið og gerir einnig með því mikið ógagn.  
			|Stjörnunar hverfa af himninum.  
			|Næst gerist það að jörðin skelfur svo mikið að fjöllin hrynja, tré rifna upp með rótum og fjötrar og bönd slitna.  
			|Þá verður Fenrisúlfur laus.  
			|Hafið flæðir yfir lönd því Miðgarðsormur snýst í jötunmóð og sækir upp á landið.  
			|Naglfar losnar en það skip er gert úr nöglum dauðra manna og er ástæða til að varast það að deyja með óklipptar neglur því sá maður leggur skipinu til efni.  
			|Það vilja goðin og mennirnir ekki að gerist.  
			|Í þessum ólgusjó kemst Naglfar á flot en jötuninn Hrymur stýrir því. 

		blockquote 
			|Fenrisúlfur kemur með gapandi kjaft og snertir efri skolturinn himininn en hinn neðri jörðina.  
			|Hann myndi gapa meira ef pláss væri til þess.  
			|Eldar brenna í augum hans og nösum.  
			|Miðgarðsormur blæs eitrinu svo að það dreifist um loft og 
			span.has-tip data-tooltip="" title="vatn/sjór" lög 
			|og er ormurinn mjög ógnvekjandi við hlið úlfsins. 

		blockquote 
			|Í þessum ósköpum klofnar himininn og eldjötnar Múspells koma ríðandi þaðan.  
			|Surtur er fyrstur.  
			|Brennandi eldur kemur bæði á undan honum og eftir.  
			|Sverð hans er gott og skín bjartar en sólin.  
			|Þegar þeir ríða yfir Bifröst þá brotnar hún, eins og áður var sagt.  
			|Eldjötnar Múspells halda til orrustu á velli sem kallaður er Vígríður.  
			|Þangað koma einnig Fenrisúlfur og Miðgarðsormur.  
			|Þangað eru þegar komnir Loki og Hrymur og með honum allir hrímþursar en á eftir Loka fylgja hermenn Heljar.  
			|Jötnar Múspells mynda eina herfylkingu og er hún afar björt.  
			|Völlurinn Vígríður er hundrað 
			span.has-tip data-tooltip="" title="gömul norræn míla, vígvöllurinn er þá u.þ.b. 15.000 ferkílómetrar sem er nánast tvöföld stærð Vatnajökuls." rastir 
			|á hverja hlið.

		blockquote 
			|Þegar þetta gerist rís Heimdallur upp og blæs kröftuglega í Gjallarhorn, vekur öll goðin og hittast þau á þingi.  
			|Óðinn ríður svo til Mímisbrunns og fær ráð hjá Mími fyrir sig og lið sitt.  
			|Askur Yggdrasils tekur að skjálfa og enginn hlutur er óttalaus, bæði á jörðu og himni.  
			|Æsir búast til orrustu og einherjar allir sækja fram á völlinn.  
			|Óðinn ríður fyrstur með gullhjálm og fagra brynju og spjótið Gungni.  
			|Hann stefnir á móti Fenrisúlfi. Þór er við hlið hans en getur ekki hjálpað honum því hann á fullt í fangi með að berjast við Miðgarðsorm.  
			|Freyr berst við Surt og verður þar harður bardagi áður en Freyr fellur.  
			|Það verður honum að bana að hann saknar sverðsins góða sem hann gaf Skírni. 

		blockquote 
			|Hundurinn Garmur, sem var bundinn fyrir framan Gnipahelli, er nú orðinn laus.  
			|Hann er hið mesta skrímsli.  
			|Hann berst við Tý og drepa þeir hvor annan.  
			|Þór verður Miðgarðsormi að bana en nær sjálfur aðeins að ganga níu skref áður en hann fellur sjálfur fyrir eitrinu sem ormurinn spúir á hann.  
			|Úlfurinn gleypir Óðin og verður það hans bani.  
			|Um leið stígur Víðar fram og setur annan fótinn í neðri skolt úlfsins.  
			|Á þeim fæti hefur hann skóinn sem til hefur verið safnað um langan aldur.  
			|Hann er gerður úr skinnum sem skorin hafa verið af tá eða hæl er menn sníða sér skó úr skinni.  
			|Þessum skinnum skulu þeir menn fleygja á brott sem hafa hug á því að verða ásunum að liði.  
			|Hann grípur með annarri hendinni í efri skolt úlfsins og rífur gin hans í sundur, við það drepst úlfurinn. 

		blockquote 
			|Loki heyr orrustu við Heimdall og verða þeir hvor öðrum að bana.  
			|Því næst kastar Surtur eldi yfir jörðina og brennir allan heiminn.  
			|Svo segir í Völuspá:

		.row.poem
			.col-xs-12
				h4 Vísa 53
				ul
					li Hátt blæs Heimdallur,
					li horn er á lofti,
					li mælir Óðinn
					li við Míms höfuð.
					li Skelfur Yggdrasils
					li askur standandi,
					li ymur ið aldna tré,
					li en jötunn losnar.

		.row.poem
			.col-xs-12
				h4 Vísa 54
				ul
					li Hvað er með ásum?
					li Hvað er með álfum?
					li Ymur allur Jötunheimur,
					li æsir eru á þingi.
					li Stynja dvergar
					li fyrir steindurum,
					li veggbergs vísir.
					li Vituð ér enn eða hvað?

		.row.poem
			.col-xs-12
				h4 Vísa 55
				ul
					li Hrymur ekur austan
					li hefist lind fyrir,
					li snýst Jörmungandur
					li í jötunmóði.
					li Ormur knýr unnir,
					li örn mun hlakka,
					li slítur nái Niðfölur,
					li Naglfar losnar.

		.row.poem
			.col-xs-12
				h4 Vísa 56
				ul
					li Kjóll fer austan,
					li koma munu Múspells
					li um lög lýðir,
					li en Loki stýrir.
					li Þar eru fíflmegir
					li með freka allir,
					li þeim er bróðir
					li Býleists í för.

		.row.poem
			.col-xs-12
				h4 Vísa 57
				ul
					li Surtur fer sunnan
					li með sviga lævi, 
					li skín af sverði
					li sól valtíva. 
					li Grjótbjörg gnata,
					li en gífur rata,
					li troða halir helveg,
					li en himinn klofnar.

		.row.poem
			.col-xs-12
				h4 Vísa 58
				ul
					li Þá kemur Hlínar 
					li harmur annar fram,
					li er Óðinn fer 
					li við úlf vega,
					li en bani Belja
					li bjartur að Surti.
					li Þar mun Friggjar
					li falla angan.

		.row.poem
			.col-xs-12
				h4 Vísa 59
				ul
					li Gengur Óðins son
					li við úlf vega,
					li Víðar, um veg
					li að valdýri.
					li Lætur hann megi Hveðrungs
					li mundum standa
					li hjör til hjarta.
					li Þá er hefnt föður.

		.row.poem
			.col-xs-12
				h4 Vísa 60
				ul
					li Gengur inn mæri
					li mögur Hlóðynjar
					li neppur af naðri
					li níðs ókvíðnum.
					li Munu halir allir
					li heimstöð ryðja
					li er af móði drepur
					li Miðgarðs véur.

		.row.poem
			.col-xs-12
				h4 Vísa 62
				ul
					li Sól mun sortna,
					li sökkur fold í mar,
					li hverfa af himni
					li heiðar stjörnur.
					li Geisar eimi
					li og aldurnari,
					li leikur hár hiti
					li við himin sjálfan.

		blockquote 
			|Enn fremur segir:

		.row.poem
			.col-xs-12
				h4 Vísa 62
				ul
					li Vígríður heitir völlur
					li er finnast vígi að 
					li Surtur og in svásu goð.
					li Hundrað rasta
					li hann er á hverjan veg.
					li Sá er þeim völlur vitaður.