div.row
	.col-xs-12.columns
		h3 53. Eftirlifendur

		p Þá spurði Gangleri: 
		blockquote
			|„Lifa goðin þá ekki og er þá engin jörð eða himinn?“

		p Hár svarar: 
		blockquote
			|„Jörðin rís upp úr sjónum, græn og fögur og frjóir akrar spretta. 
			|Víðar og Váli eru á lífi því sjórinn og eldur Surts hefur ekki grandað þeim. 
			|Þeir búa á Iðavelli þar sem áður var Ásgarður. 
			|Þangað koma einnig synir Þórs, Móði og Magni, með hamarinn Mjöllni. 
			|Þar næst koma Baldur og Höður úr Helju. 
			|Þeir sitja allir saman rifja upp forn fræði sín og ræða um það sem hefur gerst og minnast Miðgarðsorms og Fenrisúlfs. 
			|Í grasinu finna þeir þá gulltöflurnar sem æsirnir áttu forðum. 
			|Sagt er: 

		.row.poem
			.col-xs-12
				h4 Vísa 65
				ul
					li Víðar og Váli
					li byggja vé goða
					li þá er sortnar Surta logi.
					li Móði og Magni
					li skulu Mjöllni hafa
					li Vingnis að vígþroti.

		blockquote
			|Tveir menn ná að verjast eldi Surts í Hoddmímisholti. 
			|Þeir heita Líf og Leifþrasir og nærast á morgundögginni. 
			|Frá þessum mönnum kemur nýtt mannkyn og dreifist um allan heim. 

		.row.poem
			.col-xs-12
				h4 Vísa 66
				ul
					li Líf og Leifþrasir,
					li en þau leynast munu
					li í holti Hoddmímis.
					li Morgundöggvar 
					li þau að mat hafa,
					li en þaðan af aldir alast.
		blockquote
			|Þér mun þykja það undarlegt að sólin eignast dóttur sem er jafnfögur henni og fer hún sömu braut og móðir hennar, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 67
				ul
					li Eina dóttur
					li ber Álfröðull
					li áður hana Fenrir fari.
					li Sú skal ríða
					li er regin deyja
					li móður brautir mær.

		blockquote
			|Ef þú ætlar að spyrja frekar veit ég ekki hvað það ætti að vera því ég hef engan mann heyrt segja sögu heimsins lengra fram í tímann. 
			|Ég vona að þú njótir nú eins vel og þú hefur lært.“
