.row
	.col-xs-12
		h3 Oturgjöld
		blockquote „Hver er sök til þess að gull er kallað oturgjöld?“
		p 
			| „Svo er sagt að þá er æsir fóru að kanna heim allan, Óðinn og Loki og Hænir, þeir komu að á nokkurri og gengu með ánni til foss nokkurs og við fossinn var 
			span.has-tip title="dýr af marðarætt sem lifir í vötnum" otur 
			| einn og hafði tekið lax úr fossinum og át blundandi. Þá tók Loki upp stein og kastaði að otrinum og laust í höfuð honum. Þá hrósaði Loki veiði sinni að hann hefði veitt í einu höggi otur og lax.
		p 
			| Tóku þeir þá laxinn og oturinn og báru með sér, komu þá að bæ nokkurum og gengu inn. En sá búandi er nefndur Hreiðmar er þar bjó. Hann var mikill fyrir sér og mjög 
			span.has-tip title="göldróttur" fjölkunnugur
			|. Beiddust æsir að hafa þar náttstað og kváðust hafa með sér 
			span.has-tip title="nóg af mat" vist ærna
			|, og sýndu búandanum veiði sína.
		p 
			| En er Hreiðmar sá oturinn, þá kallaði hann sonu sína, Fáfni og Regin, og segir að Otur bróðir þeirra var drepinn og svo hverjir það höfðu gjört. Nú ganga þeir feðgar að ásunum og taka þá höndum og binda og segja þá um oturinn að hann var sonur Hreiðmars. Æsir bjóða fyrir sig 
			span.has-tip title="fjör merkir líf. Fjörlausn er þá gjald fyrir lífgjöf" fjörlausn
			|, svo mikið fé sem Hreiðmar sjálfur vill ákveða, og varð það að sætt með þeim og bundið 
			span.has-tip title="loforð" svardögum
			|.
		p 
			| Þá var oturinn 
			span.has-tip title="rista skinn af dýri" fleginn
			|. Tók Hreiðmar oturbelginn og mælti við þá að þeir skulu fylla belginn af rauðu gulli og svo hylja hann allan. Og svo skal það vera að sætt þeirra.
		p 
			| Þá sendi Óðinn Loka í Svartálfaheim og kom hann til dvergs þess er hét Andvari. Hann var fiskur í vatni og tók Loki hann höndum og lagði á hann fjörlausn allt gull það er hann átti í steini sínum. Og er þeir koma í steininn þá bar dvergurinn fram allt gull það er hann átti og var það allmikið fé. Þá svipti dvergurinn undir hönd sér einum litlum 
			span.has-tip title="gullhringur" gullbaug
			|. Það sá Loki og bað hann fram láta bauginn. Dvergurinn bað hann taka eigi af sér bauginn og lést mega 
			span.has-tip title="græða meira fé á" æxla sér fé af 
			| bauginum ef hann 
			span.has-tip title="(hér) eiga áfram" héldi
			|. Loki kvað hann eigi skyldu hafa einn pening eftir og tók bauginn af honum og gekk út. En dvergurinn mælti að sá baugur skyldi vera 
			span.has-tip title="valda dauða þess er á" hverjum höfuðsbani er ætti
			|. Loki segir að honum þótti það vel og sagði að það skyldi haldast mega fyrir því, sá formáli, að hann skyldi flytja þeim til eyrna er þá tæki við.
		p 
		   	| Fór hann í braut og kom til Hreiðmars og sýndi Óðni gullið. En er hann sá bauginn þá sýndist honum fagur og tók hann af fénu en greiddi Hreiðmari gullið. Þá fyllti hann oturbelginn sem mest mátti hann og setti upp er fullur var. Gekk þá Óðinn til og skyldi hylja belginn með gullinu og þá mælti hann við Hreiðmar að hann skal sjá hvort belgurinn er þá allur huldur. En Hreiðmar leit til og hugði að vandlega og sá eitt 
		   	span.has-tip title="veiðihár" granahárið 
		   	| og bað það hylja en að öðrum kosti væri lokið sætt þeirra. Þá dró Óðinn fram bauginn og huldi granahárið og sagði að þá voru þeir lausir frá oturgjöldunum.
		p 
			| En er Óðinn hafði tekið 
			span.has-tip title="spjót" geir 
			| sinn en Loki 
			span.has-tip title="skór" skúa 
			| sína og þurftu þá ekki að óttast, þá mælti Loki að það skyldi haldast er Andvari hafði mælt, að sá baugur og það gull skyldi verða þess bani er átti. Og það hélst síðan.
		p 
			| Nú er það sagt af hverju gull er 
			span.has-tip title="kenningar fyrir gull" oturgjöld 
			| kallað eða 
			span.has-tip title="kenningar fyrir gull" nauðgjald ásanna 
			| eða 
			span.has-tip title="kenningar fyrir gull" rógmálmur
			|.