.row
	.col-xs-12
		h3 Af Fáfni og Sigurði
		p Hvað er fleira að segja frá gullinu?
		p 
			| Hreiðmar tók þá gullið að sonargjöldum, en Fáfnir og Reginn beiddust af nokkurs í bróðurgjöld. Hreiðmar 
			span.has-tip title="vildi ekkert gefa þeim" unni þeim einskis penings 
			| af gullinu. Það varð óráð þeirra bræðra að þeir drápu föður sinn til gullsins.
		p 
			| Þá beiddist Reginn að Fáfnir skyldi skipta gullinu í helminga með þeim. Fáfnir svarar svo að lítil von var að hann mundi miðla gullið við bróður sinn er hann drap föður sinn til gullsins og bað Regin fara braut en að öðrum kosti mundi hann fara sem Hreiðmar. Fáfnir hafði þá tekið hjálm, er Hreiðmar hafði átt, og setti á höfuð sér, er kallaður var ægishjálmur er öll 
			span.has-tip title="kvikindi" kvikvendi 
			| hræðast er sjá, og sverð það er Hrotti heitir. Reginn hafði það sverð er Refiil er kallaður. Flýði hann þá braut. En Fáfnir fór upp á Gnitaheiði og gerði sér þar ból og brást í 
			span.has-tip title="(hér) dreki" orms 
			| líki og lagðist á gullið.
		p 
			| Reginn fór þá til Hjálpreks konungs á Þjóði og gerðist þar smiður hans. Þá tók hann þar til fósturs Sigurð, son Sigmundar sonar 
			span.has-tip title="af ætt Völsunga sem sagt er frá í Völsungasögu" Völsungs
			|, og son Hjordísar dóttur Eylima. Sigurður var ágætastur allra herkonunga ar ætt og afli og hug. Reginn sagði honum til hvar Fáfnir lá á gullinu og 
			span.has-tip title="hvetja" eggjaði 
			| hann að sækja gullið. Þá gerði Reginn sverð það, er Gramur hét, að svo 
			span.has-tip title="beittur" hvasst 
			| var að Sigurður brá niður í rennanda vatn og tók í sundur 
			span.has-tip title="ullarhnoðri" ullarlagð 
			| er rak fyrir straumnum að 
			span.has-tip title="beitti hlutinn á sverði" sverðsegginni
			|. Því næst klauf Sigurður steðja Regins ofan í stokkinn með sverðinu. Eftir það fóru þeir Sigurður og Reginn á Gnitaheiði. Þá gróf Sigurður gröf á veg Fáfnis og settist þar í. En er Fáfnir skreið til vatns og hann kom yfir gröfina, þá lagði Sigurður sverðinu í gegnum hann og var það hans bani.
		p 
			| Kom þá Reginn að og sagði hann hefði drepið bróður hans og bauð honum það að sætt að hann skyldi taka hjarta Fáfnis og steikja við eld. En Reginn lagðist niður og drakk blóð Fáfnis og lagðist að sofa. En er Sigurður steikti hjartað og hann hugði að fullsteikt mundi og tók á fingrinum hve hart það var en er 
			span.has-tip title="safi úr kjöti" frauðið 
			| rann úr hjartanu á fingurinn þá brann hann og drap fingrinum í munn sér. En er hjartablóðið kom á tunguna þá 
			span.has-tip title="skildi hann fuglamál" kunni hann fuglsrödd 
			| og skildi hvað 
			span.has-tip title="fuglstegund" igðurnar 
			| sögðu er sátu í 
			span.has-tip title="tré" viðnum
			|. Þá mælti ein:
		.row.poem
			.col-xs-12
				ul
					li Þar situr Sigurður
					li 
						span.has-tip title="blóð" sveita stokkinn
						|,
					li Fáfnis hjarta
					li 
						|við 
						span.has-tip title="eldur" funa 
						| steikir.
					li Spakur þætti mér
					li 
						span.has-tip title="sá sem gefur hringar, á við Sigurð" spillir bauga
					li 
						| ef 
						span.has-tip title="hjarta" fjörsega
					li 
						span.has-tip title="blikandi" fránan 
						| æti.
		.row.poem
			.col-xs-12
				ul
					li Þar liggur Reginn - kvað önnur,
					li 
						span.has-tip title="leggur á ráðin" ræður um við sig,
					li 
						| vill tæla 
						span.has-tip title="sonur, á við Sigurð" mög
					li þann er trúir honum.
					li Ber af reiði
					li röng orð saman,
					li 
						| vill 
						span.has-tip title="bölvaldur, á við Regin" bölvasmiður
					li bróður hefna.
		 
		p 
			| Þá gekk Sigurður til Regins og drap hann en síðan til hests síns, er Grani hét, og reið til þess er hann kom til bóls Fáfnis, tók þá upp gullið og batt í 
			span.has-tip title="byrðar" klyfjar 
			| og lagði upp á bak Grana og steig upp sjálfur og reið þá leið sína. Nú er það sagt hver saga til er þess að gullið er kallað 
			span.has-tip title="kenningar fyrir gull" ból 
			| eða 
			span.has-tip title="kenningar fyrir gull" byggð Fáfnis 
			| eða 
			span.has-tip title="kenningar fyrir gull" málmur Gnitaheiðar 
			| eða 
			span.has-tip title="kenningar fyrir gull" byrður Grana
			|.