.row
	.col-xs-12
		h3 Sigurður reið vafurlogann
		p 
			| Þá reið Sigurður til þess er hann fann á fjallinu hús. Þar svaf inni ein kona og hafði sú hjálm og brynju. Hann brá sverðinu og reist brynjuna af henni. Þá vaknaði hún og nefndist Hildur, hún er kölluð Brynhildur og var valkyrja.
		p 
			| Sigurður reið þaðan og kom til þess konungs er Gjúki hét. Kona hans er nefnd Grímhildur. Börn þeirra voru þau Gunnar, Högni, Guðrún, Guðný. Guttormur var stjúpsonur Gjúka. Þar dvaldist Sigurður langa hríð. Þá fékk hann Guðrúnar Gjúkadóttur. En Gunnar og Högni sórust í bræðralag við Sigurð.
		p 
			| Því næst fóru þeir Sigurður og Gjúkasynir að biðja Gunnari konu til Atla Buðlasonar, Brynhildar systur hans. Hún sat á Hindarfjalli og var um sal hennar 
			span.has-tip title="töfraeldur" vafurlogi 
			| en hún hafði þess heit strengt að eiga þann einn mann er þorði að ríða vafurlogann. Þá riðu þeir Sigurður og Gjúkungar - þeir eru og kallaðir Niflungar - upp á fjallið og skyldi þá Gunnar ríða vafurlogann. Hann átti hest þann er Goti hét en sá hestur þorði eigi að hlaupa í eldinn.
		p 
			| Þá 
			span.has-tip title="sálir þeirra skiptu um líkama" skiptu þeir litum 
			| Sigurður og Gunnar og svo nöfnum, því að Grani vildi undir engum manni ganga nema Sigurði. Þá hljóp Sigurður á Grana og reið vafurlogann. Það kveld gekk hann að brúðkaupi með Brynhildi. En er þau komu í sæng þá dró hann sverðið Gram úr slíðrum og lagði í milli þeirra. En að morgni, þá er hann stóð upp og klæddi sig, þá gaf hann Brynhildi að 
			span.has-tip title="morgungjöf eftir brúðkaup" línfé 
			| gullbauginn, þann er Loki hafði tekið af Andvara en tók af henni annan baug til minja.
		p 
			| Sigurður hljóp þá á hest sinn og reið til félaga sinna. Skipta þeir Gunnar þá aftur litum og fóru aftur heim til Gjúka með Brynhildi. Sigurður átti tvö börn með Guðrúnu, Sigmund og Svanhildi.