.row
	.col-xs-12
		h3 Dauði Sigurðar
		p 
			| Það var eitt sinn að Brynhildur og Guðrún gengu til vatns að bleikja hadda sína. Þá er þær komu til árinnar þá óð Brynhildur út á ána frá landi og mælti að hún vildi eigi bera í höfuð sér það vatn er rynni úr hári Guðrúnu, því að hún 
			span.has-tip title="átti hugrakkari eiginmann" átti búanda hugaðan betur.
		p 
			| Þá gekk Guðrún á ána eftir henni og sagði að hún mátti fyrir því þvo ofar sinn hadd í ánni að hún átti þann mann er eigi Gunnar og enginn annar í veröldu var 
			span.has-tip title="jafnhraustur" jafnfrækn
			|, því að hann vó Fáfni og Regin og tók arf eftir báða þá.
		p 
			| Þá svarar Brynhildur: „Meira var það vert er Gunnar reið vafurlogann en Sigurður þorði eigi."
		p 
			| Þá hló Guðrún og mælti: „
			span.has-tip title="(hér) halda" Ætlar 
			| þú að Gunnar riði vafurlogann? Sá ætla eg að gengi í 
			span.has-tip title="rúm" rekkju 
			| hjá þér er mér gaf gullbaug þenna. En sá gullbaugur er þú hefur á hendi og þú 
			span.has-tip title="þiggja" þást 
			| að línfé, hann er kallaður 
			span.has-tip title="gjöf frá Andvara" Andvaranautur
			|, og ætla eg að eigi sótti Gunnar hann á Gnitaheiði.“
		p 
			| Þá þagnaði Brynhildur og gekk heim.
		p 
			| Eftir það eggjaði hún Gunnar og Högna að drepa Sigurð. En fyrir því að þeir voru 
			span.has-tip title="fóstbróðir" eiðsvarar 
			| Sigurðar þá eggjuðu þeir til Gottorm bróður sinn að drepa Sigurð. Hann 
			span.has-tip title="stakk Sigurð með sverði á meðan Sigurður svaf" lagði Sigurð sverði í gegnum sofanda
			|. En er hann fékk sárið þá kastaði hann sverðinu Gram eftir honum svo að sundur sneið í miðju manninn. Þar féll Sigurður og sonur hans þrevetur, er Sigmundur hét, er þeir drápu. Eftir það lagði Brynhildur sig sverði og var hún brennd með Sigurði. En Gunnar og Högni tóku þá Fáfnisarf og Andvaranaut og réðu þá löndum.