.row
	.col-xs-12
		h3 Rínargull
		p 
			| Atli konungur Buðlason, bróðir Brynhildar, fékk þá Guðrúnar, er Sigurður hafði átta og áttu þau börn. Atli konungur bauð til sín Gunnari og Högna en þeir fóru að heimboðinu. En áður þeir fóru heiman þá 
			span.has-tip title="gömul þ. af so. fela" fálu 
			| þeir gullið Fáfnisarf í 
			span.has-tip title="á sem rennur gegnum Þýskaland"  Rín
			|, og hefur það gull aldrei síðan fundist. En Atli konungur hafði þar lið fyrir og barðist við Gunnar og Högna og urðu þeir handteknir. Lét Atli konungur skera hjarta úr Högna 
			span.has-tip title="lifandi" kvikum
			|. Var það hans bani. Gunnari lét hann kasta í 
			span.has-tip title="snákagryfja" ormgarð 
			| en honum var fengin leynilega harpa og sló hann með tánum því að hendur hans voru bundnar svo að allir ormarnir sofnuðu nema sú naðra er renndi að honum og hjó svo fyrir 
			span.has-tip title="bringubein" flagbrjóskið 
			| að hún steypti höfðinu inn í holið og hangdi hún á lifrinni þar til er hann dó.
		p 
			| Gunnar og Högni eru kallaðir Niflungar og Gjúkungar. Fyrir því er gull kallað 
			span.has-tip title="kenning fyrir gull" Niflungaskattur eða -arfur
			|.
		p 
			| Litlu síðar drap Guðrún tvo sonu sína og lét gera með gulli og silfri borðker af hausum þeirra, og þá var gert 
			span.has-tip title="minningarathöfn, sbr. erfidrykkja" erfi 
			| Niflunga. Að þeirri veislu lét Guðrún 
			span.has-tip title="hella í glas" skenkja 
			| Atla konungi með þeim borðkerum mjöð og var blandið við blóði sveinanna en hjörtu þeirra lét hún steikja og fá konungi að eta. En er það var gert þá sagði hún honum sjálfum með mörgum ófögrum orðum. Eigi skorti þar áfenginn mjöð svo að flest fólk sofnaði þar sem sat. Á þeirri nótt gekk hún til konungs er hann svaf og með henni sonur Högna og vógu að honum. Það var hans bani. Þá skutu þau eldi í höllina og brann það fólk er þar var inni.