.row
	.col-xs-12
		h3 Synir Guðrúnar
		
		p 
			| Eftir það fór hún til sævar og hljóp á sæinn og vildi 
			span.has-tip title="drepa sig" týna sér
			|. En hana rak yfir fjörðinn, kom þá á það land er átti Jónakur konungur. En er hann sá hana tók hann hana til sín og fékk hennar. Áttu þau þrjá sonu er svo hétu: Sörli, Hamðir, Erpur. Þeir voru allir svartir sem hrafn á hárslit sem Gunnar og Högni og aðrir Niflungar. Þar fæddist upp Svanhildur dóttir Sigurðar sveins. Hún var allra kvenna fegurst. Það spurði Jörmunrekkur konungur hinn ríki. Hann sendi son sinn Randvé að biðja hennar sér til handa. En er hann kom til Jónakurs þá var Svanhildur seld honum í hendur. Skyldi hann færa hana Jörmunrekk. Þá sagði Bikki jarl að það var betur fallið að Randvér ætti Svanhildi, er hann var ungur og bæði þau, en Jörmunrekkur var gamall. Þetta ráð líkaði þeim vel hinum ungum mönnum. Því næst sagði Bikki þetta konungi. Þá lét Jörmunrekkur konungur taka son sinn og leiða til gálga. Þá tók Randvér 
			span.has-tip title="veiðifálki" hauk 
			| sinn og plokkaði af fjaðrarnar og bað senda feður sínum. Þá var hann hengdur.
		
		p 
			| En er Jörmunrekkur konungur sá haukinn þá kom honum í hug að svo sem haukurinn var ófleygur og fjaðurlaus og svo var ríki hans ófært er hann var gamall og sonlaus. Þá leit Jörmunrekkur konungur, er hann reið úr skógi frá veiðum með hirð sína, að Svanhildur drottning sat að 
			span.has-tip title="hárþvottur" haddbliki
			|. Þá riðu þeir á hana og tróðu hana undir hesta fótum til bana.
		
		p 
			| En er þetta spurði Guðrún þá eggjaði hún sonu sín til hefndar eftir Svanhildi. En er þeir bjuggust til ferðar þá fékk hún þeim brynjur og hjálma svo sterka að eigi mundi járn á festa. Hún lagði ráð fyrir þá að þá er þeir kæmu til Jörmunrekks konungs að þeir skyldu ganga of nótt að honum sofanda. Skyldi Sörli og Hamðir höggva af honum hendur og fætur en Erpur höfuðið.
		
		p 
			| En er þeir komu á leið þá spurðu þeir Erp hver liðsemd þeim mundi að honum ef þeir hittu Jörmunrekk konung. Hann svarar að hann mundi veita þeim þvílíkt sem hönd fæti. Þeir segja að það var alls ekki að fótur styddist við hönd. Þeir voru svo reiðir móður sinni er hún hafði leitt þá út með 
			span.has-tip title="skammaryrði" heiftyrðum 
			| og þeir vildu gera það er henni þætti verst og drápu Erp því að hún unni honum mest.
		
		p 
			| Litlu síðar er Sörli gekk, 
			span.has-tip title="rann" skriðnaði 
			| hann öðrum fæti, studdi sig með hendinni. Þá mælti hann: 
		blockquote „Veitti nú höndin að fætinum. Betur væri nú að Erpur lifði.“
		
		p 
			| En er þeir komu til Jörmunrekks konungs um nótt þar sem hann svaf og hjuggu af honum hendur og fætur. Svo vaknaði hann og kallaði a menn sína, bað þá vaka.
		
		p 
			| Þá mælti Hamðir: 
		blockquote „Af mundi nú höfuðið ef Erpur lifði.“
		
		p 
			| Þá stóðu upp hirðmennirnir og sóttu þá og fengu eigi sótt þá með vopnum. Þá kallaði Jörmunrekkur að þá skal berja grjóti. Var svo gert. Þar féllu þeir Sörli og Hamðir. Þá var og dauð öll ætt og afkvæmi Gjúka.