= form_for @question, url: @url do |f|
	.form-group
		== f.label :Spurning
		== f.text_field :question, :class => "form-control", :placeholder => "Spurning"
	== f.submit "Skrá spurningu", :class => "btn btn-primary"