table.table.table-hover
	thead
		tr
			th Spurning
			th Skoða
			th Breyta
			th Eyða
	tbody
		- @questions.each do |question|
			tr
				td = question.question
				td = link_to 'Skoða Svör', admin_quiz_question_answers_path(@quiz,question), :class => 'btn btn-primary'
				td = link_to 'Breyta', edit_admin_quiz_question_path(@quiz,question), :class => 'btn btn-success'
				td = link_to 'Eyða', admin_quiz_question_path(@quiz,question), method: :delete, :class => 'btn btn-danger', data: { :confirm => 'Ertu viss? Þú getur ekki afturkallað þetta skref.' }
= link_to 'Ný spurning', new_admin_quiz_question_path(@quiz) ,:class => 'btn btn-primary'
= link_to 'Tilbaka', admin_quizzes_path, :class => 'btn'