div.row
	.col-xs-12.columns
		h3#heimsmynd-freyrx 24. Freyr og Freyja

		blockquote
			| Njörður í Nóatúnum eignaðist tvö börn. 
			| Sonur hans hét Freyr en dóttir Freyja. 
			| Þau voru fögur útlits og máttug. 
			| Freyr þótti hinn ágætasti ás. 
			| Hann stjórnar regni og skini sólar og þar með frjósemi jarðar. 
			| Á hann er gott að heita til 
			span.has-tip data-tooltip="" title="í þessu samhengi merkir orðið ár farsæld, sbr. að óska e-m árs og friðar." árs
			|  og friðar. 
			| Hann ræður því hversu ríkir menn verða. 
			| Freyja er ágætust meðal ásynja. 
			| Hún býr á himni í Fólkvangi. 
			| Þegar hún ríður um vígvelli þá á hún helming þeirra sem falla valinn en hinn helminginn á Óðinn, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 35
				ul
					li Fólkvangur heitir
					li en þar Freyja ræður
					li sessa kostum í sal.
					li Hálfan val
					li hún kýs á hverjan dag,
					li en hálfan Óðinn á.


		blockquote
			| Höll hennar er mikil og fögur og nefnist Sessrúmnir. 
			| Hún ferðast um í vagni sem dreginn er af tveimur köttum. 
			| Hún er mönnum best til áheita og af nafni hennar er dregið tignarheiti voldugra kvenna en þær eru kallaðar frúr. 
			| Henni líkaði vel við ástarljóð og á hana er gott að heita til ásta.“