div.row
	.col-xs-12.columns
		h3 29. Víðar

		blockquote
			| Víðar heitir hinn þögli ás. 
			| Hann á þykkan skó og er næstum því jafnsterkur og Þór. 
			| Goðin treysta á styrk hans í öllum þolraunum.