div.row
	.col-xs-12.columns
		h3#heimsmynd-heimdallurx 27. Heimdallur

		blockquote
			| Heimdallur er kallaður hinn hvíti ás. 
			| Hann er mikill og heilagur. 
			| Hann er sonur níu meyja sem allar eru systur. 
			| Hann er líka kallaður Hallinskíði og Gullintanni. 
			| Hestur hans heitir Gulltoppur. 
			| Hann býr í Himinbjörgum við brúna Bifröst. 
			| Hann stendur vörð við enda himinsins og gætir brúarinnar fyrir bergrisum. 
			| Hann þarf minni svefn en fugl. Hann sér óralangt frá sér á degi sem nóttu. 
			| Hann heyrir grasið vaxa á jörðinni og ull á sauðfé og allt annað sem gefur frá sér hærra hljóð. 
			| Hann á lúður sem heitir Gjallarhorn en heyra má blástur hans um alla heima. 
			| Sverð Heimdallar er kallað höfuð. 
			| Hér er Heimdalli lýst:


		.row.poem
			.col-xs-12
				h4 Vísa 36
				ul
						li Himinbjörg heita,
						li en þar Heimdall
						li kveða valda véum.
						li Þar vörður goða
						li drekkur í væru ranni
						li glaður hinn góða mjöð.



		blockquote
			| Í Heimdallargaldri segir hann sjálfur:

		.row.poem
			.col-xs-12
				h4 Vísa 37
				ul
					li Níu em eg mæðra mögur,
					li níu em eg systra sonur.
