div.row
	.col-xs-12.columns
		h3 20. Óðinn

		p Þá spurði Gangleri: 
		blockquote
			| „Hvaða æsi er mönnum skylt að trúa á?“

		p Hár svarar: 
		blockquote
			| „Tólf æsir eru af guða kyni.“
		
		p Þá sagði Jafnhár: 
		blockquote
			| „Ásynjurnar eru ekki síður heilagar og máttur þeirra er ekki minni en ásanna.“
		
		p Þá sagði Þriðji: 
		blockquote
			| „Óðinn er æðstur og elstur ásanna. 
			| Hann ræður öllum hlutum og þótt önnur goð séu máttug þá þjóna þau honum öll eins og börn þjóna föður sínum. 
			| Frigg er kona hans og hún veit örlög manna þótt hún segi ekki frá þeim. 
			| Eitt sinn sagði Óðinn við ásinn Loka:

		.row.poem
			.col-xs-12
				h4 Vísa 28
				ul
					li Ær ertu Loki
					li og örviti,
					li hví né leggsta þú, Loki?
					li Örlög Frigg
					li hygg eg að öll viti,
					li þótt hún sjálfgi segi.

		blockquote
			| Óðinn er nefndur Alfaðir því hann er faðir allra goða. 
			| Hann heitir líka Valfaðir, því eftirlætissynir hans eru þeir menn sem 
			span.has-tip data-tooltip="" title="deyja." falla í valinn 
			| í bardaga.  Þá sendir hann í Valhöll og Vingólf og þegar þeir koma þangað nefnast þeir 
			span.has-tip data-tooltip="" title="þeir sem eru framúrskarandi hermenn." einherjar. 
			| Hann er einnig kallaður Hangaguð, Haftaguð og Farmaguð. 
			| Hann var nefndur mörgum nöfnum þegar hann kom til Geirröðar konungs:

		.row.poem
			.col-xs-12
				h4 Vísa 29
				ul
					li Heitumk Grímur
					li og Gangleri,
					li Herjan, Hjálmberi,
					li Þekkur, Þriðji
					li Þuður, Uður,
					li Helblindi, Hár,
					li Saður, Svipall,
					li Sanngetall,
					li Herteitur, Hnikar,
					li Bileygur, Báleygur,
					li Bölverkur, Fjölnir,
					li Grímnir, Glapsviður, Fjölsviður,
					li Síðhöttur, Síðskeggur,
					li Sigfaðir, Hnikuður,
					li Alfaðir, Atríður, Farmatýr,
					li Óski, Ómi,
					li Jafnhár, Biflindi,
					li Göndlir, Hárbarður,
					li Sviður, Sviðrir,
					li Jálkur, Kjalar, Viður,
					li Þrór, Yggur, Þundur,
					li Vakur, Skilvingur,
					li Váfuður, Hroftatýr,
					li Gautur, Veratýr.“

		p Þá sagði Gangleri: 
		blockquote
			| „Þið hafið gefið honum geysimörg nöfn! 
			| Sá hlýtur að vera fróður maður sem þekkir sögurnar á bak við hvert þessara nafna!“

		p Þá segir Hár: 
		blockquote
			| „Það er mikið vit í því að rifja það vandlega upp. 
			| En þó er skemmst frá því að segja að flest þessi heiti eru tilkomin af þeirri staðreynd að tungumál heimsins eru mörg og allar þjóðir þurfa að þýða nafn hans á sína tungu til að ákalla hann eða biðja til hans. 
			| Sum þessara heita tengjast þó atburðum sem hafa átt sér stað á ferðum hans og hefur það verið fært í frásagnir. Þú getur ekki kallast fróður maður ef þú kannt ekki að segja frá þeim stórtíðindum.“

