div.row
	.col-xs-12.columns
		h3#heimsmynd-tyrx 25. Týr

		p Þá sagði Gangleri: 
		blockquote
			| „Miklir eru æsirnir og ekki þykir mér skrýtið að þið skulið hafa nokkuð af þeirra krafti úr því þið vitið hvers þeir eru megnugir og hvern er best að heita á. 
			| En eru goðin fleiri?“

		p Hár svarar: 
		blockquote
			| „Einn ásanna heitir Týr. 
			| Hann er djarfastur og hugrakkastur og ræður sigri í orrustum. 
			| Hreystimönnum þykir gott að heita á hann. 
			| Sá er sagður vera týhraustur sem ekkert óttast. 
			| Vitrir menn eru einnig kallaðir týspakir því hann var mjög vitur. 
			| Til merkis um hugrekki Týs þá lagði hann hönd sína í munn Fenrisúlfs þegar æsir hugðust binda hann með 
			span.has-tip data-tooltip="" title="festing." fjötrinum 
			| Gleipni. 
			| Úlfurinn treysti þeim ekki til að leysa sig úr fjötrinum fyrr en Týr lagði höndina að veði. 
			| Þegar æsir vildu ekki leysa úlfinn þá beit hann höndina af þar sem nú heitir úlfliður. 
			| Þess vegna er Týr einhentur og stuðlar ekki að sáttum milli manna.