div.row
	.col-xs-12.columns
		h3 21. Þór

		p Þá spurði Gangleri: 
		blockquote
			| „Hvað heita hinir æsirnir, hvað hafast þeir að og hver eru þeirra helstu frægðarverk?“

		p Hár segir: 
		blockquote#heimsmynd-22x
			| „Þór er þeirra fremstur, hann er kallaður Ásaþór eða Ökuþór. 
			| Hann er sterkastur allra guða og manna. 
			| Ríki hans er í Þrúðvangi og höll hans heitir Bilskirnir. 
			| Í þeirri höll eru sexhundruð og fjörutíu herbergi. 
			| Það er stærsta hús sem byggt hefur verið, eins og segir í Grímnismálum:

		.row.poem
			.col-xs-12
				h4 Vísa 30
				ul
					li Fimm hundrað gólfa
					li og um fjórum tugum
					li svo hygg eg Bilskirni með bugum.
					li Ranna þeirra
					li er eg reft vita
					li míns veit eg mest magar.

		blockquote
			| Þór á tvo hafra sem heita 
			span.has-tip data-tooltip="" title="nöfnin vísa til þess að gnísta tönnum og gæti átt að skýra hljóð í þrumuveðri." Tanngnjóstur og Tanngrisnir 
			| og vagn sem hann ekur og hafrarnir draga. 
			| Þess vegna er hann kallaður Ökuþór. 
			| Hann á þrjá kostagripi. 
			| Einn þeirra er hamarinn Mjöllnir og hann þekkja hrímþursar og bergrisar mætavel þegar hann birtist og er það ekki undarlegt. 
			| Hann hefur lamið margan haus á feðrum þeirra og frændum. 
			| Hann á annan góðan grip, 
			span.has-tip data-tooltip="" title="megin merkir afl eða styrkur en gjörð er belti." megingjarðir. 
			| Þegar hann spennir þær um sig þá 
			span.has-tip data-tooltip="" title="að verða helmingi sterkari. Ásmegin merkir guðlegur kraftur." vex honum ásmegin að hálfu. 
			| Þriðji hluturinn er mikill gripur en það eru 
			span.has-tip data-tooltip="" title="járnhanskar, sbr. enska orðið gloves." járnglófar. 
			| Þeir eru honum nauðsynlegir til að halda um skaft hamarsins. 
			| Hins vegar er enginn svo fróður að hann geti sagt frá öllum frægðarverkum Þórs. 
			| En ég skal segja þér frá svo mörgu að langur tími mun líða áður en allt er talið.“


