div.row
	.col-xs-12.columns
		h3#heimsmynd-njordurx 23. Njörður

		blockquote 
			| Þriðji ásinn er kallaður Njörður. 
			| Hann býr á himni þar sem heitir Nóatún. 
			| Hann ræður hvernig vindar blása og stýrir sjó og eldi. 
			| Sæfarar og veiðimenn heita á hann. 
			| Hann er svo auðugur að hann getur gefið þeim lönd og fé sem 
			span.has-tip data-tooltip="" title="kalla eftir vernd eða styrk." heita á 
			| hann.
			| Njörður er ekki ásaættar.
			| Hann ólst upp í Vanaheimum en vanir gáfu hann sem gísl til goðanna í skiptum fyrir ásinn Hæni. 
			| Þannig tókust sættir meðal goða og 
			span.has-tip data-tooltip="" title="önnur ætt goðvera. Í Skáldskaparmálum er minnst á stríð milli ása og vana." vana.

		blockquote
			| Kona Njarðar heitir Skaði, dóttir Þjasa jötuns. 
			| Skaði vildi búa á fjöllum þar sem faðir hennar hafði átt bústað í Þrymheimi en Njörður vildi vera nær sjónum. 
			| Þau sættust á að vera níu nætur í Þrymheimi en níu nætur í Nóatúnum. 
			| Er Njörður kom aftur til Nóatúna af fjalli þá kvað hann þetta:

		.row.poem
			.col-xs-12
				h4 Vísa 32
				ul
					li Leið erumk fjöll
					li varka eg lengi á,
					li nætur einar níu.
					li Úlfa þytur
					li mér þótti illur vera
					li hjá söngvi svana.

		blockquote 
			| Þá kvað Skaði þetta:

		.row.poem
			.col-xs-12
				h4 Vísa 33
				ul
					li Sofa eg né máttak
					li sævar beðjum á
					li fugls jarmi fyrir.
					li Sá mig vekur
					li er af víði kemur
					li morgun hverjan már.

		blockquote 
			| Síðan fór Skaði upp á fjallið og settist að í Þrymheimi. 
			| Þar ferðast hún um á skíðum og skýtur dýr með boga. 
			| Hún er kölluð 
			span.has-tip data-tooltip="" title="skíði." öndur
			|guð eða öndurdís, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 34
				ul
					li Þrymheimur heitir
					li er Þjasi bjó,
					li sá hinn ámáttki jötunn.
					li En nú Skaði byggir,
					li skír brúður goða,
					li fornar tólftir föður.
