div.row
	.col-xs-12.columns
		h3 28. Höður

		blockquote
			| Einn ásinn heitir Höður. Hann er blindur. 
			| Hann er mjög sterkur en goðin vilja helst ekki þurfa að nefna þennan ás því hans verk munu lengi í minnum höfð meðal goða og manna.