div.row
	.col-xs-12.columns
		h3 26. Bragi

		blockquote
			| Annar ás heitir Bragi. 
			| Hann er vitur, málsnjall og orðfimur. 
			| Hann kann mest allra af skáldskap enda er skáldskapur nefndur bragur eftir honum. 
			| Nafnið hans er einnig haft um þá, karla sem konur, sem eru orðfimari en aðrir. 
			| Kona hans er Iðunn. 
			| Hún varðveitir í öskju sinni eplin sem goðin bíta af þegar þau eldast til að verða aftur ung. 
			| Þannig mun það verða allt til 
			span.has-tip data-tooltip="" title="heimsendir, bókstafleg merking er örlög goðanna." ragnaraka.
			|“

		p Þá sagði Gangleri: 
		blockquote
			| „Mikið traust þykir mér goðin sýna aðgæslu og heiðarleika Iðunnar.“

		p Þá sagði Hár og hló: 
		blockquote
			| „Eitt sinn munaði litlu að illa færi. 
			| Ég get sagt þér frá því en fyrst skaltu heyra um fleiri æsi.“