div.row
	.col-xs-12.columns
		h3 22. Baldur

		p#heimsmynd-15x Þá sagði Gangleri: 
		blockquote
			| „Segðu mér frá fleiri ásum.“

		p Hár segir: 
		blockquote
			| „Annar sonur Óðins heitir Baldur og er margt gott um hann að segja. 
			| Hann er bestur og er dásamaður af öllum. 
			| Hann er svo fagur útlits og bjartur að það lýsir af honum. 
			| Til er blóm sem er svo hvítt að því er líkt við augnhár Baldurs og kallast Baldursbrá. 
			| Það er hvítara en öll blóm. 
			| Af þessu má ráða hversu fagurt hár hans og líkami er. 
			| Hann er vitrastur ásanna, best máli farinn og miskunnsamastur þeirra. 
			| Þá fylgir honum sá eiginleiki að engir dómar hans ná að standa.  
			| Hann býr á þeim stað sem heitir Breiðablik. 
			| Það er á himni og þar má ekkert vera óhreint, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 31
				ul
					li Breiðablik heita
					li þar er Baldur hefur
					li sér um gerva sali,
					li á því landi
					li er eg liggja veit
					li fæsta feiknstafi.
