div.row
	.col-xs-12.columns
		h3 35. Ásynjur

		p Þá spurði Gangleri: 
		blockquote
			|„Hverjar eru ásynjurnar?“

		p Hár svarar:
		blockquote
			|„Frigg er æðst. Hún á veglega höll sem heitir Fensalir.

		blockquote
			|Önnur er 
			span.has-tip data-tooltip="" title="hin alsjáandi." Sága. 
			|Hún býr á Sökkvabekk og er það mikill staður. 

		blockquote
			|Þriðja er 
			span.has-tip data-tooltip="" title="myndað að so. eira sem þýðir að hlífa eða þyrma." Eir. 
			|Hún er læknir bestur.

		blockquote
			|Fjórða er Gefjun. Hún er mær og stúlkur sem andast sem 
			span.has-tip data-tooltip="" title="hreinar meyjar. Beyging: mær, mey, meyju(eða mey), meyjar." meyjar 
			|þjóna henni. 

		blockquote
			|Fimmta er Fulla. Hún er líka 
			span.has-tip data-tooltip="" title="hrein mey. Beyging: mær, mey, meyju(eða mey), meyjar." mær 
			|og hefur slegið hár og gullband um höfuð sér. 
			|Hún ber öskju Friggjar og gætir skóklæða hennar og Frigg trúir henni fyrir leyndarmálum sínum.

		blockquote
			|Freyja er göfugust ásamt Frigg. 
			|Hún giftist manni sem heitir 
			span.has-tip data-tooltip="" title="kvæði, hér manns nafn." Óður. 
			|Dóttir þeirra heitir 
			span.has-tip data-tooltip="" title="gersemi." Hnoss. 
			|Hún er svo fögur að eftir henni eru allir fagrir hlutir kallaðir hnossir. 
			|Óður hvarf á braut og Freyja situr eftir og grætur tárum úr rauðagulli. 

		blockquote
			|Freyja á mörg nöfn og það kemur til af því að hún tekur sér ýmis dulnefni þegar hún ferðast til ókunnra þjóða að leita Óðs. 
			|Hún heitir Mardöll og Hörn, Gefn og Sýr. 
			|Freyja átti Brísingamen. 
			|Hún er kölluð Vanadís. 

		blockquote
			|Sjöunda er Sjöfn. 
			|Það er af hennar völdum að menn verða ástfangnir, konur og karlar. 
			|Þess vegna er elskhugi kallaður sjafni. 

		blockquote
			|Áttunda heitir Lofn. 
			|Hún er svo umburðarlynd að hún fær samþykki Alföður og Friggjar til að leyfa sambönd karla og kvenna sem áður hafa verið bönnuð og forboðin. 
			|Þess vegna er 
			span.has-tip data-tooltip="" title="í nútímamáli er orðið leyfi dregið af lof, sbr. að lofa e-m að gera e-ð eða að leyfa e-m að gera e-ð." lof 
			|dregið af nafni hennar og er einnig haft um það sem menn lofa og dásama. 

		blockquote
			|Níunda er Vár. 
			|Hún hlýðir á einkamál og trúnaðarmál milli karla og kvenna. 
			|Þess vegna er eru slík mál kölluð 
			span.has-tip data-tooltip="" title="loforð." várar. 
			|Hún refsar einnig þeim sem svíkja. 

		blockquote
			|Tíunda heitir Vör. 
			|Hún er vitur og spyr margs svo að engu má halda leyndu fyrir henni. 
			|Frá henni er komið orðtakið að kona verði vör einhvers þegar hún verður einhvers vísari. 

		blockquote
			|Ellefta er 
			span.has-tip data-tooltip="" title="sbr. so. að synja og no. synjun sem merkir neita/neitun." Syn. 
			|Hún gætir hallardyra og meinar óvelkomnum inngöngu. 
			|Á þingum er það hlutverk hennar að verjast málum sem byggja á ósannindum. 
			|Af nafni hennar er það komið að synja fyrir þegar menn neita. 

		blockquote
			|Tólfta er Hlín. 
			|Hún gætir þeirra manna sem Frigg vill forða frá háska. 
			|Þaðan er dregið orðið að 
			span.has-tip data-tooltip="" title="fá ró og næði, hvílast. Úrelt merking." hleina 
			|um þann sem forðast. 

		blockquote
			|Þrettánda heitir Snotra. 
			|Hún er vitur og kurteis. 
			|Eftir nafni hennar er hófsamur maður kallaður snotur maður, hvort sem er karl eða kona. 

		blockquote
			|Fjórtánda er Gná. 
			|Hana sendir Frigg í ýmsa heima að sinna erindum sínum. 
			|Hún á hest sem hleypur jafnt um loft sem 
			span.has-tip data-tooltip="" title="vatn." lög 
			|og heitir hann Hófvarpnir. 
			|Eitt sinn sáu vanir til hennar þegar hún reið í lofti. 
			|Þá sagði einn:


		.row.poem
			.col-xs-12
				h4 Vísa 39
				ul
					li Hvað þar flýgur?
					li Hvað þar fer
					li eða að lofti líður?


		.row.poem
			.col-xs-12
				h4 Vísa 40
				ul
					li Né eg flýg,
					li þó eg fer
					li og að lofti líðk
					li á Hófvarpni
					li þeim er Hamskerpir
					li gat við Garðrofu.

		blockquote
			|Af nafni Gnár er það komið að segja það gnæfa sem nær hátt til lofts. 
			|Sól og Bil eru taldar með ásynjum en áður hefur verið sagt frá eðli þeirra. 



