div.row
	.col-xs-12.columns
		h3 31. Ullur

		blockquote
			| Ullur heitir sonur Sifjar, stjúpsonur Þórs. 
			| Hann er bogfimur og færastur allra á skíðum. 
			| Hann er einnig fagur og hermannlegur. 
			| Á hann er gott að heita í einvígi.