div.row
	.col-xs-12.columns
		h3 32. Forseti

		blockquote
			| Forseti heitir sonur Baldurs og Nönnu Nepsdóttur. 
			| Hann á höll á himni sem heitir Glitnir. 
			| Allir sem bera undir hann deilumál fara frá honum sáttir. 
			| Glitnir er besti dómstaður meðal goða og manna eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 38
				ul
					li Glitnir heitir salur,
					li hann er gulli studdur
					li og silfri þaktur ið sama.
					li En þar Forseti
					li byggir flestan dag
					li og svæfir allar sakir.
