div.row
	.col-xs-12.columns
		h3 37. Freyr fær Gerðar

		blockquote
			|Gymir hét maður og kona hans Aurboða. 
			|Hún var af ætt bergrisa. 
			|Gerður dóttir þeirra var allra kvenna fegurst. 
			|Einn dag er Freyr settist í Hliðskjálf sá hann um alla heima. 
			|Þegar hann horfði í norður sá hann mikið hús og fagurt og konu ganga að húsinu. 
			|Þegar hún lauk upp dyrum hússins þá lýsti svo af höndum hennar að það birti yfir öllum heiminum. 
			|Honum hefndist svo fyrir þessa miklu ofdirfsku að hafa sest í hið helga sæti að hann gekk í burtu harmi sleginn. 
			|Þegar hann kom heim sagði hann ekkert og svaf hvorki né drakk. 
			|Enginn þorði að spyrja hann neins. 
			|Þá lét Njörður kalla Skírni, sendimann Freys, til sín og bað hann að spyrja Frey hverjum hann væri svo reiður að hann talaði ekki við aðra menn. 
			|En Skírnir sagðist ekki vera fús til þess því Freyr myndi áreiðanlega ekki bregðast vel við. 
			|Þegar hann kom til Freys þá spurði hann hvers vegna hann væri svo dapur að hann vildi við engan tala. 
			|Freyr sagðist hafa séð svo fagra konu að hann teldi sig ekki mundu lifa lengi nema að hann eignaðist hana, þess vegna væri hann svo harmi sleginn. 
			

		blockquote
			|„Því skalt þú nú fara og biðja hennar fyrir mig og hafa hana með þér hingað heim hvort sem faðir hennar vill það eða ekki. 
			|Ég skal launa þér það vel.“

		blockquote
			|Skírnir segist skulu fara þessa sendiför fengi hann sverð Freys að launum. Það var svo gott sverð að það barðist sjálft. Freyr setti það ekki fyrir sig og gaf honum sverðið. Skírnir fór og bað konunnar fyrir hönd hans og fékk hennar. Níu nóttum síðar skyldi hún koma til brúðkaups í Barrey og gefast Frey. Þegar Skírnir sagði Frey tíðindin þá kvað hann:

		.row.poem
			.col-xs-12
				h4 Vísa 42
				ul
					li Löng er nótt, 
					li löng er önnur, 
					li hve mega eg þreyja þrjár?
					li Oft mér mánuður
					li minni þótti
					li en sjá hálf hýnótt. 

		blockquote
			|Þetta er ástæða þess að Freyr var vopnlaus er hann barðist við jötuninn Belja og þurfti að drepa hann með hjartarhorni.“

		p Þá sagði Gangleri: 
		blockquote
			|„Mikið þykir mér það undarlegt að slíkur höfðingi sem Freyr skyldi vilja gefa svo gott sverð þegar hann átti ekkert annað jafngott. 
			|Það hlýtur að hafa verið slæmt fyrir hann þegar hann barðist við jötuninn Belja. 
			|Ég er viss um að þá hefur hann iðrast þessarar gjafar.“
		
		p Þá svarar Hár: 
		blockquote
			|„Það kom ekki að sök þegar þeir Beli börðust. 
			|Freyr hefði getað drepið hann með berum höndum. 
			|Frey mun hins vegar þykja það verra að hafa ekki sverðið þegar eldjötnar Múspells koma með her sinn.“
