div.row
	.col-xs-12.columns
		h3#heimsmynd-lokix 33. Loki

		blockquote
			| Einn af ásum er stundum kallaður 
			span.has-tip data-tooltip="" title="lygari." rógberi 
			| ásanna og upphafsmaður allra svika og sá sem kallar svívirðingu yfir goð og menn.
			| Hann er nefndur Loki eða Loftur og er sonur Fárbauta jötuns.
			| Móðir hans  heitir Laufey eða Nál og bræður hans Býleistur og Helblindi.
			| Loki er fríður og fagur útlits en illa innrættur og uppátækjasamur.
			| Hann hafði þá þekkingu umfram aðra menn sem kölluð er slægð og beitir svikabrögðum við hvert tækifæri. 
			| Hann kom ásum jafnan í vandræði og leysti þá oft með 
			span.has-tip data-tooltip="" title="svik og klækir." vélabrögðum.
			| Kona hans heitir Sigyn og sonur þeirra Nari eða Narfi.
