div.row
	.col-xs-12.columns
		h3 34. Börn Loka

		blockquote#heimsmynd-10x
			|Loki átti fleiri börn.  
			|Angurboða heitir tröllkona í Jötunheimum.  
			|Með henni átti Loki þrjú börn.  
			|Eitt hét Fenrisúlfur, annað Miðgarðsormur eða Jörmungandur og það þriðja Hel. 

		blockquote
			|Þegar goðin fréttu af uppvexti þessara systkina í Jötunheimum túlkuðu þau spádóma svo að mikið mein myndi hljótast af þeim og að enginn gæti vænst neins nema ills af verum sem ættu slíka móður og enn verri föður.  
			|Þá sendi Alfaðir guðina til að taka börnin og færa sér.  
			|Þegar þau voru komin til hans þá kastaði hann orminum í hafið djúpa sem umlykur öll lönd.  
			|Ormurinn óx svo mikið að hann liggur í hafinu kringum öll lönd og bítur í sporð sér.  

		blockquote#heimsmynd-12x
			|Hel kastaði hann í Niflheim og gaf henni vald yfir níu heimum.  
			|Þar skyldi hún deila 
			span.has-tip data-tooltip="" title="fæði og húsnæði." vistum 
			|með öllum sem til hennar væru sendir en það eru sóttdauðir menn og ellidauðir.  
			|Þar á hún mikil heimkynni þar sem veggir eru háir og hlið stór.  
			|Éljúðnir heitir höll hennar, diskur hennar Hungur, hnífur hennar Sultur, þrællinn Ganglati, ambáttin Ganglöt, Fallanda
			span.has-tip data-tooltip="" title="drullupyttur." forað 
			|heitir þröskuldur hennar þegar inn er gengið, sæng hennar heitir 
			span.has-tip data-tooltip="" title="rúm sjúkra, sbr. að leggjast í kör." Kör 
			|og Blíkjandaböl rúmtjöld hennar.  
			|Hún er blá til hálfs en hálf með hörundslit.  
			|Þannig er hún auðþekkjanleg og fremur þungbúin og grimmileg á svip. 

		blockquote#heimsmynd-7x
			|Úlfinn ólu æsir í Ásgarði og var Týr einn nógu hugrakkur til að ganga að úlfinum og gefa honum mat.  
			|Guðirnir vissu það af spádómum að hann var gerður til að valda þeim skaða og er þeir sáu hve hratt hann óx á hverjum degi, brugðu þeir á það ráð að gera sterkan fjötur sem þeir kölluðu Læðing.  
			|Þeir sýndu úlfinum fjöturinn og báðu hann að reyna hve sterkur hann væri.  
			|Úlfurinn hræddist ekki styrk fjötursins og leyfði þeim að binda sig.  
			|Hann braut af sér fjöturinn í fyrstu tilraun.  
			|Þannig leystist hann úr Læðingi. 


		blockquote
			|Því næst bjuggu æsirnir til annan fjötur sem var helmingi sterkari og kölluðu hann Dróma. 
			|Þeir báðu úlfinn enn að reyna sig við þann fjötur og sögðu að hann myndi verða mjög frægur fyrir afl sitt ef slík stórsmíði næði ekki að halda honum. 
			|Úlfurinn vissi vel að þessi fjötur var mjög sterkur en jafnframt að hann var orðinn öflugri eftir að hann sleit Læðing í sundur. 
			|Hann gerði sér ljóst að hann yrði að leggja sig í hættu ef hann ætlaði sér að verða frægur og leyfði þeim að binda sig með fjötrinum. 
			|Þegar æsir höfðu gert það þá hristi úlfurinn sig og sló fjötrinum í jörðina, barðist um og spyrnti við og braut fjöturinn svo að brotin flugu víða. 
			|Þannig 
			span.has-tip data-tooltip="" title="Hér kemur fram skilningur Snorra á orðtökunum en í nútímamáli merkja þau að vekja eitthvað upp eða að kalla eitthvað fram." drap hann sig úr Dróma. 
			|Það hefur síðan verið notað sem orðtak, að 
			span.has-tip data-tooltip="" title="Hér kemur fram skilningur Snorra á orðtökunum en í nútímamáli merkja þau að vekja eitthvað upp eða að kalla eitthvað fram." leysa úr læðingi 
			|og að 
			span.has-tip data-tooltip="" title="slá." drepa 
			|úr dróma, um það þegar eitthvað er gert af miklum ákafa. 

		blockquote
			|Eftir það óttuðust æsirnir að þeir gætu ekki bundið úlfinn. 
			|Þá sendi Alfaðir Skírni, sendimann Freys, niður í Svartálfaheim til dverga og lét þá búa til fjöturinn Gleipni. 
			|Hann var gerður úr sex hlutum: úr fótataki kattarins, úr skeggi konunnar, úr rótum fjallsins, úr sinum bjarnarins, úr andardrætti fisksins og hráka fuglsins. 
			|Þó að þú hafir ekki heyrt um þetta áður þá geturðu verið viss um að ekki er verið að ljúga að þér. 
			|Eins og þú veist hefur konan ekki skegg, ekkert fótatak heyrist af hlaupi kattar og það eru engar rætur undir fjöllum. 
			|Ég get svarið að allt sem ég hef sagt þér er satt þótt sumt af því fáist ekki sannreynt. “

		p Þá sagði Gangleri:
		blockquote
			|„Ég veit vel að þetta er satt og get séð fyrir mér dæmin sem þú tókst en hvernig var fjöturinn smíðaður?“

		p Hár svarar: 
		blockquote
			|„Það skal ég segja þér. 
			|Fjöturinn var mjúkur og sléttur eins og silkiþráður en fræg saga er um hve traustur og sterkur hann var. 
			|Æsirnir þökkuðu sendimanni vel þegar þeim var færður fjöturinn. 
			|Æsir fóru út í hólmann Lyngva í vatni, sem heitir Ámsvartnir, og báðu úlfinn að fylgja sér og sýndu honum silkibandið. 
			|Þeir buðu honum að reyna að slíta það og sögðu það vera sterkara en þykkt þess gæfi til kynna, sýndu hver öðrum bandið og kom þá í ljós að ekki var hægt að slíta það með handafli. 
			|Þeir sögðu úlfinn samt mundu geta það. 

		p Þá svarar úlfurinn:
		blockquote
			|„Ég hef grun um ég muni ekki hljóta neina frægð af því að slíta í sundur svona mjóan spotta. 
			|En ef hann er gerður með listfengi og vélabrögðum og þótt hann sýnist lítill þá kemur hann ekki á mínar fætur. “

		p Æsirnir sögðu hann fjótt mundu slíta þetta silkiband af sér þar sem hann hafði áður slitið af sér stóra járnfjötra.  
		blockquote
			|„En ef þú getur ekki slitið þetta band þá komumst við að því að við þurfum ekki að hræðast þig enda munum við þá leysa þig. “

		p Úlfurinn segir: 
		blockquote
			|„Ef þið bindið mig svo fast að ég geti ekki leyst mig þá hafið þið blekkt mig svo illa að ekki er að vænta hjálpar frá ykkur. 
			|Ég er ekki fús til að láta binda mig með þessu bandi. 
			|En í stað þess að láta ykkur efast um hugrekki mitt skal einn ykkar leggja hönd sína í munn mér til merkis um að engin brögð séu í tafli. “

		blockquote
			|Litu æsir nú hver á annan og þótti úr vöndu að ráða. 
			|Enginn vildi fórna hendi sinni nema Týr sem lagði hægri höndina í gin úlfsins. 
			|Þegar úlfurinn spyrnti við þá harnaði bandið og því harðara sem hann braust um því sterkara varð það. 
			|Þá hlógu allir nema Týr. 
			|Hann missti hönd sína. 

		blockquote
			|Þegar æsirnir sáu að úlfurinn var kirfilega bundinn þá tóku þeir annan enda fjötursins sem heitir Gelgja og drógu hann gegnum stóra klöpp sem heitir Gjöll og grófu hana langt niður í jörðina. 
			|Síðan tóku þeir stóran stein og stungu enn lengra niður í jörðina. 
			|Hann heitir Þviti og við hann bundu þeir hinn enda fjötursins. 

		blockquote
			|Úlfurinn gapti ógurlega, barðist um og reyndi að bíta þá. 
			|Þeir settu sverð í gin hans, 
			span.has-tip data-tooltip="" title="þverstykki sem skilur að handfang og blað sverðs." hjöltin 
			|eru föst í neðra gómi en í efra gómi 
			span.has-tip data-tooltip="" title="sverðsoddur." blóðrefillinn.  
			|Þannig sperrtu þeir góma úlfsins í sundur. 
			|Hann urrar illilega svo að slef rennur úr munni hans og myndar á sem heitir Von. 
			|Þar liggur hann til ragnaraka. “

		p Þá sagði Gangleri:
		blockquote
			|„Afkvæmi Loka eru furðulega ill og öll búa þau yfir ógnarkrafti.  
			|Af hverju drápu æsir ekki úlfinn úr því þeir gátu ekki vænst neins nema ills af honum?“

		p Hár svarar: 
		blockquote
			| „Goðin virtu helgistaði sína svo mikils að þau vildu ekki saurga þá með blóði úlfsins. 
			|Þó segja spár að hann muni verða Óðni að bana. “