div.row
	.col-xs-12.columns
		h3 36. Valkyrjur

		blockquote 
			|Enn má nefna þær sem þjóna til borðs í Valhöll, bera fram drykki og gæta borðbúnaðar og ölkerja. 
			|Í Grímnismálum eru þær nefndar svo: 

		.row.poem
			.col-xs-12
				h4 Vísa 41
				ul
					li Hrist og Mist
					li vil eg að mér horn beri, 
					li Skeggjöld og Skögul,
					li Hildur og Þrúður,
					li Hlökk og Herfjötur, 
					li Göll og Geirahöð,
					li Randgríður og Ráðgríður,
					li og Reginleif.
					li Þær bera einherjum öl.

		blockquote
			|Þessar eru valkyrjur. 
			|Óðinn sendir þær til hverrar orrustu til að ráða hverjir skuli deyja og hverjir sigra. 
			|Unnur, Rota og hin unga norn, Skuld, ríða alltaf með til að kjósa val og ráða vígum.

		blockquote
			|Jörð, móðir Þórs, og Rindur, móðir Vála, eru taldar með ásynjum.

