
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-signin' }) do |f|
  
  = devise_error_messages!
  / div
  /   = f.label :email
  /   br
  .input-group.top
    span.input-group-addon
      i.fa.fa-user
    = f.email_field :email, :autofocus => true, :required => true, :class => 'form-control', :placeholder => 'Tölvupóstur'
  / div
  /   = f.label :password
  /   br
  .input-group.bottom
    span.input-group-addon
      i.fa.fa-lock
    = f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Lykilorð'

  - if devise_mapping.rememberable? && false
    = f.label :remember_me, :class => 'checkbox' do
      = f.check_box :remember_me
      | Muna eftir mér?
  = f.submit "Innskráning", :class => 'btn btn-lg btn-primary btn-block'
  / = link_to "Nýskráning", new_registration_path(resource_name), :class => 'btn btn-lg btn-primary btn-block register'
  = render "devise/shared/links"
