= form_tag @payment_url, :class => 'form-signin' do
	.input-group.none
		span.input-group-addon
			i.fa.fa-user
		input.form-control autofocus="autofocus" required="required" placeholder="Tölvupóstur" name="email"
	input.btn.btn-lg.btn-primary.btn-block type="submit" value="Greiða"