= form_tag @payment_url, :class => 'form-signin' do
	-if flash[:register]
		.alert.alert-warning
			p = t 'devise.confirmations.send_instructions'
	.alert.alert-info
		p 
			| Þú ert núna að greiða fyrir aðgang notandans 
			strong = @user.email
			| .
		p Til greiðslu verður þú sendur á greiðslusíðu Valitor, og verður svo sendur aftur eftir að greiðsla er innt af hendi.
	- @payment_params.each do |k,v|
		input type="hidden" value="#{v}" name="#{k}"
	input.btn.btn-lg.btn-primary.btn-block type="submit" value="Greiða á greiðslusíðu Valitor"