.row.exercise
	.col-xs-12
		h1 Tengispurningar
		.connect
			.inner
				strong.block Gylfaginning
				ul
					li 
						== link_to "Bústaður", verkefni_tengi_path("b")
					li 
						== link_to "Einkennishlutir", verkefni_tengi_path("e")
					li 
						== link_to "Systkini", verkefni_tengi_path("systkini")
					li 
						== link_to "Afkvæmi", verkefni_tengi_path("afkvaemi")
					li 
						== link_to "Hjón", verkefni_tengi_path("hjon")
					li 
						== link_to "Hver drepur hvern?", verkefni_tengi_path("hvh")