.row.exercise
	.col-xs-12
		h1 Krossgátur
		ol.custom
			li 
				= link_to "/crosswords/fafnisarfur.pdf" do
					strong Fáfnisarfur
			li 
				= link_to "/crosswords/thorgeirrodagarda.pdf" do
					strong För Þórs til Geirröðargarða og Haddur Sifjar
			li 
				= link_to "/crosswords/thjassiogidunn.pdf" do
					strong Þjasi og Iðunn og Skáldamjöðurinn