.row.exercise
	.col-xs-12
		h1 Ritgerðarefni
		.inner
			strong.block = link_to "Gylfaginning", verkefni_ritgerd_path("gylfaginning")
			strong.block = link_to "Skáldskaparmál", verkefni_ritgerd_path("skaldskaparmal")
