.row.exercise
	.col-xs-12
		h1 Verkefni	
		.cross
			h4 Krossaspurningar
			.inner
				strong.block Gylfaginning
				ul
					li = link_to "Kaflar 1-7", verkefni_krossar_path("g1-7")
					li = link_to "Kaflar 8-10", verkefni_krossar_path("g8-10")
					li = link_to "Kaflar 11-15", verkefni_krossar_path("g11-15")
					li = link_to "Kaflar 16-20", verkefni_krossar_path("g16-20")
					li = link_to "Kaflar 21-25", verkefni_krossar_path("g21-25")
					li = link_to "Kaflar 26-33", verkefni_krossar_path("g26-33")
					li = link_to "Kafli 34", verkefni_krossar_path("g34")
					li = link_to "Kaflar 35-38", verkefni_krossar_path("g35-38")
					li = link_to "Kaflar 39-43", verkefni_krossar_path("g39-43")
					li = link_to "Kaflar 44-47", verkefni_krossar_path("g44-47")
					li = link_to "Kaflar 48-49", verkefni_krossar_path("g48-49")
					li = link_to "Kafli 50", verkefni_krossar_path("g50")
					li = link_to "Kaflar 51-54", verkefni_krossar_path("g51-54")

				strong.block Skáldskaparmál

				ul
					li = link_to "Fáfnisarfur", verkefni_krossar_path("s1")
					li = link_to "För Þórs til Geirröðargarða", verkefni_krossar_path("s2")
					li = link_to "Haddur Sifjar", verkefni_krossar_path("s3")
					li = link_to "Þjassi og Iðunn", verkefni_krossar_path("s4")
					li = link_to "Skáldamjöðurinn", verkefni_krossar_path("s5")
		.connect
			h4 Tengispurningar
			.inner
				strong.block Gylfaginning
				ul
					li 
						== link_to "Bústaður", verkefni_tengi_path("b")
					li 
						== link_to "Einkennishlutir", verkefni_tengi_path("e")
					li 
						== link_to "Systkini", verkefni_tengi_path("systkini")
					li 
						== link_to "Afkvæmi", verkefni_tengi_path("afkvaemi")
					li 
						== link_to "Hjón", verkefni_tengi_path("hjon")
					li 
						== link_to "Hver drepur hvern?", verkefni_tengi_path("hvh")
				strong.block Skáldskaparmál
		.essays
			h4 Ritgerðarefni
			.inner
				strong.block = link_to "Gylfaginning", verkefni_ritgerd_path("gylfaginning")
				strong.block = link_to "Skáldskaparmál", verkefni_ritgerd_path("skaldskaparmal")
		.writing
			h4 Ritunarverkefni
			.inner
				strong.block = link_to "Gylfaginning og Skáldskaparmál", verkefni_ritun_path
		.crosswords
			h4 Krossgátur
			.inner
				strong.block = link_to "Gylfaginning og Skáldskaparmál", verkefni_krossgatur_path
		.intrepretation
			h4 Túlkunarspurningar
            .inner
            	strong.block = link_to "Gylfaginning", verkefni_tulkun_path
        .language
        	h4 Málnotkun
        	.inner
	            strong.block = link_to "Gylfaginning", verkefni_malnotkun_path
