.row.exercise
	.col-xs-12
		h1 Túlkunarspurningar (10 – 15 lína svör)
		ol.custom
			li 
				strong Segið frá frásagnarhætti Gylfaginningar, hvernig er upplýsingunum komið á framfæri?

			li 
				strong Berið sköpunina, eins og sagt er frá henni í Gylfaginningu, saman við sköpunarsögu Biblíunnar.
				p Segið frá tveimur hliðstæðum og tveimur andstæðum.

			li 
				strong Segið frá þremur náttúruskýringum sem koma fram í lýsingu á heimsmyndinni í köflum 9 – 17.

			li 
				strong Segið frá þeim tegundum vera sem greint er frá í fyrstu tuttugu köflum Gylfaginningar.
				p Gott gæti verið að setja upp töflu þar sem fram koma heiti, uppruni, eiginleikar, heimkynni og dæmi.

			li 
				strong Óðinn er kallaður fjölda nafna í goðafræðinni og það gildir um fleiri.
				p Sérstaklega er algengt að tvær útgáfur séu af nafni, eins þegar annar sona Loka er kallaður Áli eða Váli. Fleiri sem þetta á við um eru Þór, Loki og Heimdallur. Greinið frá að minnsta kosti tveimur ástæðum sem gætu verið fyrir þessu.

			li 
				strong Annað slagið er sagt frá ásynjum eins og Frigg og Freyju en kafli 35 er sérstaklega helgaður kven-goðunum. 
				p Hvernig ætli standi á því að svo lítið er sagt frá ásynjum miðað við æsi. Á þetta líka við um aðrar skepnur?

			li 
				strong Loki er einn af ásum þó hann sé af jötnakyni.
				p Hann hefur ekkert sérstakt verndarhlutverk eins og Njörður (sjór) eða Bragi (skáldskapur). Hvert er þá hlutverk Loka í goðafræðinni?

			li 
				strong Hvað eiga börn Loka sameiginlegt og hvernig reynast þau ásum á endanum?

			li 
				strong Hver platar hvern í sögunni um það þegar æsir bundu Fenrisúlf?

			li 
				strong Hvað gerði Freyr af sér í tengslum við það þegar hann eignast Gerði fyrir konu og hvernig hefnist honum?

			li 
				strong Segið frá samningnum sem æsir gerðu við borgarsmiðinn.
				p Færið rök fyrir því hver svíkur samninginn.

			li 
				strong Hvaða eiginleika hefur hesturinn Sleipnir?
				p Segið frá þremur öðrum dýrum sem koma fyrir í Gylfaginningu og hafa yfirnáttúrulega eiginleika (t.d. örn, geit, göltur, hafrar).

			li 
				strong Í sögunni um för Þórs til Útgarða-Loka er keppt í ýmsu.
				p Þór og félagar virðast alltaf fara halloka fyrir liði Útgarða-Loka en reynast hafa staðið sig vel þegar ljóstrað er upp um sjónhverfingarnar. Hver gæti verið boðskapur sögunnar í tengslum við þetta?

			li 
				strong Hver er hvati þess að Þór biður um að róa til fiskjar með jötninum Hymi og hvernig tekst til?

			li 
				strong Hvernig er útliti og hlutverki Baldurs lýst í goðafræðinni?
				p Hvaða þýðingu hefur það í tengslum við söguna af dauða hans?

			li 
				strong Um dauða Baldurs segir að það sé mesta óhæfuverk sem unnið hefur verið meðal goða og manna.
				p Hvað var svona slæmt við það?

			li 
				strong Hvert er hlutverk kvenna í sögunni um dauða Baldurs og hvaða viðhorf gæti það endurspeglað?

			li 
				strong Í sögunni af refsingu Loka koma fram tvær náttúruskýringar.
				p Útskýrið.

			li 
				strong Samkvæmt goðafræðinni gerast ragnarök í framtíðinni.
				p Hvernig vita menn þegar þau nálgast?

			li 
				strong Í ýmsum trúarbrögðum er heimsendir tengdur við syndir mannanna.
				p Hvaða syndum manna eða goða tengjast ragnarök?
