.row.exercise
	.col-xs-12
		h1 Málnotkun
		h3 Gylfaginning
		ol.custom
			li 
				strong
					| Orðasambandið að 
					i lúta vilja 
					|  einhvers kemur fyrir í 1. kafla um Gylfa og Gefjunni.
				p
					| Hvernig beygist sögnin 
					i að lúta
					|  í kennimyndum? Skrifið setningar þar sem þetta orðasamband kemur fyrir bæði í eintölu og fleirtölu.

			li 
				strong 
					| Hvernig beygist sögnin 
					i að plægja 
					|  í kennimyndum?

			li 
				strong 
					| Orðin 
					i hrím
					|  og 
					i hrímþursar
					|  koma fyrir í sköpunarsögu Snorra-Eddu.
				p Hvað merkir orðið hrím bókstaflega og hvernig fallbeygist það? Gefið dæmi um fleiri samsett orð sem búin eru til með orðinu hrím, t.d. lýsingarorð.

			li 
				strong 
					| Hver eru tengsl stafsetningar og fallbeygingu á sérnafninu  
					i Óðinn
					|? 
				p Nefnið dæmi um fleiri karlkyns nafnorð sem hafa þessa sömu sérstöðu.

			li 
				strong 
					| Orðasambandið að gera einhverjum 
					i kleift
					|  kemur fyrir í lok 9. kafla. 
				p 
					| Hver er bókstafleg merking orðasambandsins annars vegar og almenn merking í daglegu tali hins vegar? Af hverju er 
					i kleift
					|  skrifað með i en ekki y?

			li 
				strong 
					| Í 12. kafla koma fyrir tröllkonur sem nefnast 
					i járnviðjur
					| . 
				p 
					| Hvað merkir orðið 
					i viðja
					|  og hvernig fallbeygist það?

			li 
				strong Heiti brúarinnar Bifrastar er samsett úr tveimur orðum.
				p Hvaða orð eru það og hvað merkja þau? Hvað segir það um eðli brúarinnar?

			li 
				strong Útskýrið táknræna merkingu á nöfnum örlaganornanna. 
				p Af nöfnunum eru mynduð sagnorð. Hvaða sagnir eru þetta? Gerið grein fyrir merkingu þeirra.

			li 
				strong 
					| Í 21. kafla er talað um að Þór 
					i vaxi ásmegin
					|. 
				p 
					| Orðið 
					i ásmegin
					|  er samsett úr 
					i ás
					|  og 
					i megin
					|. Hvað merkir orðið 
					i megin
					|  og hvernig fallbeygist það?

			li 
				strong Hvernig fallbeygist sérnafnið Baldur og hvaða mynd orðsins ætti að koma í lok setningarinnar:
				p Höður drap ____ .

			li 
				strong 
					| Hvað merkja orðin 
					i rógberi 
					|  og 
					i vélabrögð
					|?

			li 
				strong 
					| Í 34. kafla koma fyrir orðtökin 
					i að leysa úr læðingi
					|  og 
					i að drepa úr dróma
					|.
				p Gerið grein fyrir sögunni á bak við og þau og hvaða merkingu þau hafa í nútímamáli.

			li 
				strong 
					| Hvað merkir orðið 
					i blóðrefill?

			li 
				strong 
					| Hvað merkir orðið 
					i mær
					|  og hvernig fallbeygist það?

			li 
				strong Í 35. kafla er fjallað um ásynjurnar.
				p
					| Þar er m.a. gerð grein fyrir uppruna sagnorða eins og 
					i að eira
					|, 
					i að synja
					| og 
					i að gnæfa
					|. Gerið grein fyrir uppruna og merkingu þeirra.

			li 
				strong Í sögunni um borgarsmiðinn og tilurð Sleipnis er talað um að Loki hafi „kastað folaldi“.
				p Í íslensku eru sérstök orð höfð um það þegar dýr koma afkvæmum sínum í heiminn. Hvaða orð eru höfð um þetta í tilfelli sela, sauðfjár, nautgripa, hunda og katta. Nefnið jafnframt hvað kvendýrið, karldýrið og afkvæmið eru kölluð.

			li 
				strong Þegar Þór hittir Þjálfa og Röskvu í fyrsta sinn býður hann þeim að borða hafrana sína.
				p 
					| Þjálfi óhlýðnast Þór með því að taka lærlegg annars hafursins og 
					i brjóta til mergjar
					|. Þetta hefur löngum verið haft sem orðtak í íslensku. Hvað merkir það í nútímamáli?

			li 
				strong 
					| Í frásögninni um dauða Baldurs koma fyrir orð eins og 
					i hvati
					|, 
					i hlunnur
					|  og 
					i vígja
					|.
				p Hvaða orðflokkum tilheyra þau og hvað merkja þau?

			li 
				strong 
					| Hvað merkir orðið 
					i fimbul
					|  í lýsingunni á upphafi ragnaraka?
				p Getið þið myndað fleiri orð þar sem þetta orð er notað?

			li 
				strong 
					| Hvað merkir orðið 
					i röst
					|?

