.row.exercise
	.col-xs-12
		h1 Ritunarverkefni 
		h3 Gylfaginning og Skáldskaparmál

		ol.custom
			li 
				strong Endursegið 15 samfelldar línur úr einhverri af sögum Skáldskaparmála með mismunandi málsniði: 
				ol.letter
					li formlegt ritmál, svipað og tíðkast á skáldsögum fyrir fullorðna.
					li á frjálslegt talmál, líkt og einn segir öðrum sögu á kaffistofu.
				p Skilið texta í a - lið  en hljóðupptöku í b - lið.
			li
				strong Hetjum Íslendinga sagnanna er lýst ýtarlega þar sem þær koma fyrst við sögu.
				p Skoðið slíka lýsingu og búið til sambærilega fyrir goð eða gyðju. Notið upplýsingarnar í Snorra-Eddu og skáldið svo í eyðurnar. 

			li 
				strong Finnið eftirfarandi orð eða orðasambönd í texta Gylfaginningar. Flettið upp merkingu þeirra ef hún er óljós og lærið beygingu orðanna. Skrifið örsögu um hvað sem er þar sem öll orðin koma fyrir í einhverri mynd. Einnig má nota orð sem eru samsett úr þeim orðum sem nota skal:
				ol.letter
					li
						strong Sköpun heimsins: 
						| fjölkunnugur – forn – hrím – kvika – rekald – urðir
					li
						strong Heimsmyndin: 
						| aur – dramb – hallmæla – kaldlyndur – stoð - visna
					li
						strong Æsir og ásynjur: 
						| falla í valinn – megin (sbr. ásmegin) – heita á – fjötur – rógberi/rógur – vistir
					li
						strong Valhöll: 
						| fjölmenni – dögun – veisluföng – tíðindi – ker - dyr
					li
						strong Sleipnir og Skíðblaðnir: 
						| liðsinni – meri – ráðgast – ganga á bak orða sinna – móður (sbr. jötunmóður) – hugvit
					li
						strong För Þórs: 
						| brjóta til mergjar – ofurefli – setja í brýnnar – þyrma – fótfrár - sviptingar
					li
						strong Dauði Baldurs: 
						| þrekvirki – hvatur – grið – hlunnar – öndvegi – lend/lendar
					li
						strong Ragnarök: 
						| rjúfa (eiðrofar) – ágirnd – eiga fullt í fangi með eitthvað – vistarverur – granda - verjast einhverju

			li 
				strong Lýsið einhverjum stað í heimsmynd goðafræðinnar í einni efnisgrein.
				p Í textanum verða að koma fyrir a.m.k. ein viðlíking, ein myndhverfing, ein persónugerving og ein bein mynd. 

			li 
				strong Setjið ykkur í spor eftirfarandi persóna og skrifið niður hugsanir þeirra í þessum aðstæðum:
				ol.letter
					li Höður eftir að Baldur fellur dauður niður.
					li Loki þegar hann sér börnin sín og Angurboðu í fyrsta sinn.
					li Skaði þegar hún fær bætur eftir fall föður hennar.
					li Freyr eftir að hann sér Gerði úr Hliðskjálfi.
					li Þór þegar hann veður yfir ána Vimi.
					li Óðinn þegar hann hittir Gunnlöð í Hnitbjörgum.
					li Þór þegar hann uppgötvar að Loki hefur klippt hárið af Sif.
					li Guðrún Gjúkadóttir þegar hún ákveður refsingu fyrir mann sinn, Atla Buðlason.
					li Gunnar Gjúkason á banastundinni.
					li Sigurður í gervi Gunnars á brúðkaupsnóttinni með Brynhildi. 
				p Verkefnunum má skila sem texta eða upplestri. 

			li
				strong Endursegið eftirfarandi atburði í 1. persónu út frá sjónarhorni:
				ol.letter
					li jötunsins Hymis í veiðferð með Þór.
					li Fenrisúlfus þegar hann er bundinn. 
					li Heljar þegar hún er beðin um að hleypa Baldri aftur í heim lifanda.
					li Óðins, í gervi Bölverks, þegar hann hittir vinnumenn Gillings.
					li dverganna Fjalars og Galars þegar þeir eignast skáldamjöðinn.
					li Loka þegar hann reiðist erninum og endar í Jötunheimum.


