div.row
	.col-xs-12.columns
		h3 39. Mjöður einherja

		p Þá spurði Gangleri: 
		blockquote
			|„Hvað drekka einherjar? Er það eitthvað sem endist þeim jafnvel og maturinn eða drekka þeir vatn?

		p Þá svarar Hár: 
		blockquote
			|„Þetta er undarleg spurning. 
			|Dettur þér í hug að Alfaðir bjóði til sín konungum, jörlum og öðrum höfðingjum og gefi þeim vatn að drekka? Ég er viss um að sá sem er búinn að þola sár og sviða áður en hann deyr mun telja sig hafa keypt vatnssopann dýru verði ef hann fær ekkert betra að drekka sér til hressingar þegar hann kemur til Valhallar. 


		blockquote
			|Annað get ég sagt þér merkilegt. 
			|Uppi á Valhöll stendur geit sem heitir Heiðrún. 
			|Hún bítur lauf af greinum hins fræga trés, Léraðar. 
			|Mjöðurinn sem rennur úr spenum hennar fyllir á hverjum degi stórt ölker sem ausið er úr í veislum. 
			|Kerið er svo stórt að allir einherjar geta drukkið nægju sína af miðinum. 
			

		p Þá sagði Gangleri: 
		blockquote
			|„Þessi geit er ákaflega hentug fyrir þá. 
			|Tréð sem hún bítur af hlýtur að vera forkunnar gott.“
			

		p Þá svaraði Hár: 
		blockquote
			|„Hjörturinn Eikþyrnir er enn merkilegri. 
			|Hann stendur á þaki Valhallar og bítur af greinum trésins. 
			|Af hornum hans rennur mikill vökvi sem drýpur niður í Hvergelmi. 
			|Þaðan falla ár sem heita: Síð, Víð, Sekin, Ekin, Svöl, Gunnþró, Fjörm, Fumbulþul, Gipul, Göpul, Gömul og Geirvimul og renna þær um heimkynni ásanna. 
			|Þessar ár eru einnig nefndar: Þyn, Vin, Þöll, Höll, Gráð, Gunnþráin, Nyt, Naut, Nönn, Hrönn, Vína, Vegsveinn og Þjóðnuma.“
			
