div.row
	.col-xs-12.columns
		h3 38. Veisluföng í Valhöll
		p#heimsmynd-5x Þá sagði Gangleri: 
		blockquote 
			|„Þú segir að allir menn sem nokkurn tíma hafi fallið í orrustu séu nú með Óðni í Valhöll. 
			|Hvað gefur hann þeim að borða og drekka? Þar hlýtur að vera gríðarlegt fjölmenni.“ 

		p Þá svarar Hár:
		blockquote
			|„Satt segirðu, þar er ákaflega fjölmennt. 
			|En miklu fleiri munu enn koma og þó mun skorta liðstyrk þegar úlfurinn kemur. 
			|Aldrei verða þó fleiri en svo að kjötið af geltinum Sæhrímni endist þeim ekki til matar. 
			|Hann er soðinn á hverjum degi en er samt aftur orðinn heill að kvöldi. 
			|Líklega eru fáir svo vitrir að þeir geti svarað þessari spurningu þinni með vissu. 
			|Steikarinn heitir Andhrímnir en 
			span.has-tip data-tooltip="" title="pottur." ketillinn 
			|Eldhrímnir, eins og hér segir:“

		.row.poem
			.col-xs-12
				h4 Vísa 43
				ul
					li Andhrímnir lætur
					li í Eldhrímni
					li Sæhrímni soðinn,
					li fleska best,
					li en það fáir vita
					li við hvað einherjar alast.

		p Þá spurði Gangleri: 
		blockquote
			|„Nýtur Óðinn sömu veislufanga og einherjar?“

		p Hár svarar:
		blockquote
			|„Þann mat sem á borð hans kemur gefur hann tveimur úlfum sem hann á. 
			|Þeir heita Geri og Freki. Hann þarf engan mat. 
			|Vín er fyrir honum bæði matur og drykkur, eins og hér segir: 

		.row.poem
			.col-xs-12
				h4 Vísa 44
				ul
					li Gera og Freka
					li seður gunntaminn
					li hróðugur Herjaföður,
					li en við vín eitt
					li vopngöfugur
					li Óðinn æ lifir.

		blockquote#heimsmynd-14x
			|Tveir hrafnar sitja á öxlum hans og segja í eyru honum öll þau tíðindi sem þeir sjá eða heyra. 
			|Þeir heita Huginn og Muninn. Í 
			span.has-tip data-tooltip="" title="þegar birtir af degi fyrir sólarupprás." dögun 
			|sendir hann þá fljúgandi um allan heim og koma þeir aftur um morgunverðartíma. 
			|Með þessum hætti verður hann fróður um margt og því kalla menn hann Hrafnaguð, eins og hér segir:

		.row.poem
			.col-xs-12
				h4 Vísa 45
				ul
					li Huginn og Muninn
					li fljúga hverjan dag
					li jörmungrund yfir.
					li Óumk eg Hugin
					li að hann aftur né komi,
					li þó sjáumk eg meir um Munin.
