div.row
	.col-xs-12.columns
		h3 40. Húsakynni Valhallar

		p Þá sagði Gangleri: 
		blockquote
			|„Þetta er merkilegt sem þú sagðir nú frá. 
			|Valhöll er greinilega geysimikið hús en þar hlýtur oft að vera þröng á þingi.“

		p Þá svarar Hár: 
		blockquote
			|„Af hverju spyrðu mig ekki hversu margar dyr séu á Valhöll eða hve stórar þær séu? 
			|Ef þú vissir það myndi þér þykja undarlegt að hver sem er geti ekki gengið þar út og inn. 
			|Það er haft fyrir satt að inngangurinn sé jafnrúmur og salarkynnin innandyra. 
			|Hér getur þú heyrt hvað segir um þetta í Grímnismálum: 

		.row.poem
			.col-xs-12
				h4 Vísa 46
				ul
					li Fimm hundrað dura
					li og um fjórum tugum, 
					li svo hygg eg á Valhöll vera. 
					li Átta hundruð einherja
					li ganga senn úr einum durum
					li þá er þeir fara við vitni að vega.“
