div.row
	.col-xs-12.columns
		h3 41. Skemmtun einherja

		p Þá sagði Gangleri: 
		blockquote
			|„Mikill mannfjöldi er í Valhöll og afbragðs höfðingi þykir mér Óðinn vera úr því hann stýrir svo miklum her. 
			|En hvað hafast einherjarnir að þegar þeir eru ekki við drykkju?“

		p Hár svarar: 
		blockquote
			|„Snemma dag hvern búa þeir sig í herklæði, ganga út í garðinn og berjast. 
			|Þeir gera það að leik sínum að fella hver annan. 
			|Og þegar líður að morgunverðartíma þá ríða þeir heim til Valhallar og setjast að drykkju, sem hér segir: 

		.row.poem
			.col-xs-12
				h4 Vísa 47
				ul
					li Allir einherjar
					li Óðins túnum í
					li höggvast hverjan dag.
					li Val þeir kjósa
					li og ríða vígi frá,
					li sitja meir um sáttir saman.

		blockquote
			|En satt segirðu, Óðinn er mikill höfðingi. 
			|Mörg dæmi munu finnast um það. Það kemur fram í orðum ásanna sjálfra:“

		.row.poem
			.col-xs-12
				h4 Vísa 48
				ul
					li Askur Yggdrasils
					li hann er æðstur viða,
					li en Skíðblaðnir skipa,
					li Óðinn ása,
					li en jóa Sleipnir,
					li Bifröst brúa,
					li en Bragi skálda,
					li Hábrók hauka,
					li en hunda Garmur.
