.row.exercise.quiz
	.col-xs-12
		h3 = @quiz.name
		p = @quiz.description
		- @quiz.questions.each do |question|
			h4 = question.question
			.inner
				- question.answers.each do |answer|
					- if @answers[question.id.to_s] == answer.id.to_s
						label.checkbox.clearfix
							span.radio-button.disabled.active
								i.fa.fa-check
							-if answer.correct
								span.answer.blue = answer.answer
							- else
								span.answer = answer.answer
					- else
						label.checkbox.clearfix
							span.radio-button.disabled
								i.fa.fa-check
							-if answer.correct
								span.answer.blue = answer.answer
							- else
								span.answer = answer.answer
		.bottom
			p.correct 
				| Þú náðir 
				span.blue = @correct
				|  réttum af 
				span.blue = @count
				|  mögulegum
			== link_to "Reyna Aftur", verkefni_krossar_path(@id), :class => "btn btn-quiz"
