.row.exercise.quiz
	.col-xs-12
		h3 = @quiz.name
		p = @quiz.description
		= form_tag verkefni_krossar_path(@id) do
			.questions
				- @quiz.questions.each do |question|
					h4 = question.question
					.inner
						- question.answers.each do |answer|
							input type="radio" value="#{answer.id}" name="answers[#{question.id}]" id="#{question.id}#{answer.id}"
							label.checkbox.clearfix for="#{question.id}#{answer.id}"
								span.radio-button
									i.fa.fa-check
								span.answer = answer.answer
			.col-xs-12.col-md-6.bottom
				input.btn.btn-quiz type="submit" value="Fá Niðurstöður"

