div.row
	.col-xs-12.columns
		h3 49. Dauði Baldurs

		p Þá sagði Gangleri: 
		blockquote
			|„Hvaða fleiri atburðir hafa orðið meðal ásanna? Þór hefur unnið mikið þrekvirki í þessari ferð!“

		p Hár svarar: 
		blockquote
			|„Nú mun ég segja frá þeim atburðum sem ásunum þóttu alvarlegri. 
			|Það er upphaf þeirrar sögu að Baldur 
			|hinn góða dreymdi mikla og ógnvekjandi drauma. 
			|Þegar hann sagði ásunum frá draumunum réðu þeir ráðum sínum og ákváðu að reyna að sjá Baldri fyrir vernd gegn alls kyns háska. 
			|Frigg lét eld og vatn, járn og alls konar málma, steina, jörðina, skógana, sóttirnar, dýrin, fuglana, eitur og slöngur sverja þess eið að hlífa Baldri. 
			|En eftir að þetta hafði verið gert og allir vissu hvers kyns var skemmtu Baldur og æsirnir sér með því að láta Baldur standa upp á þingum til að aðrir gætu leikið sér að því að skjóta á hann, höggva í hann eða berja hann með grjóti. 
			|Hann sakaði ekki sama hvað gert var og hlaut hann af þessu mikinn frama. 

		p 
			|En þegar Loki Laufeyjarson sá þetta líkaði honum það illa að Baldur sakaði ekki. 
			|Hann breytti sér í konu og fór til Fensala til að hitta Frigg. 
			|Frigg spyr konuna hvort hún viti hvað æsir geri sér til skemmtunar á þinginu. 
			|Hún sagðist vita að æsirnir skemmtu sér við að skjóta að Baldri án þess að hann sakaði. 

		p Þá sagði Frigg: 
		blockquote
			|„Hvorki vopn né tré munu tortíma Baldri. 
			|Ég hef þegið eiða af þeim öllum.“ 

		p Þá spyr konan: 
		blockquote
			|„Hafa allir hlutir svarið þess eið að hlífa Baldri?“

		p Frigg svarar: 
		blockquote
			|„Það vex lítið tré fyrir vestan Valhöll sem kallað er mistilteinn. 
			|Mér þótti hann of ungur til þess að krefja hann eiðsins.“ 

		p Þá hvarf konan á braut. 

		p 	
			|Loki fann mistilteininn, sleit upp og hélt til þings. 
			|Þar stóð Höður utarlega í mannfjöldanum því hann var blindur. 
			|Loki spurði hann: „Af hverju skýtur þú ekki að Baldri?“

		p Hann svarar: 
		blockquote
			|„Vegna þess að ég sé ekki hvar Baldur er og svo er ég líka vopnlaus.“

		p Þá sagði Loki: 
		blockquote
			|„Taktu þátt í að veita Baldri sæmd. 
			|Ég mun sýna þér hvar hann stendur. 
			|Skjóttu nú að honum þessari trjágrein.“ 

		p 
			|Höður tók mistilteininn og skaut að Baldri með hjálp Loka. 
			|Greinin flaug í gegnum hann og hann féll dauður til jarðar. 
			|Er þetta mesta óhæfuverk sem unnið hefur verið meðal goða og manna. 
			|Þegar Baldur var fallinn urðu æsirnir orðlausir og horfðu í undrun sinni hver á annan og á þann sem unnið hafði verkið án þess að grípa hann höndum. 
			|Enginn gat hefnt Baldurs því þingið var svo mikill 
			span.has-tip data-tooltip="" title="helgur staður, staður sem nýtur friðhelgi" griðastaður. 
			|Þegar æsirnir reyndu að tala komu þeir ekki upp orði fyrir gráti og enginn sagt frá harmi sínum með orðum. 
			|En Óðinn tók þessum skaða verst af öllum því hann skynjaði best hversu mikill missir ásunum var í fráfalli Baldurs. 

		p 
			|Þegar goðin komu aftur til sjálfs sín spurði Frigg hvort einhver væri meðal ása sem vildi eignast allar ástir hennar og hylli og ríða til Heljar og freista þess hvort Hel vildi láta Baldur lausan og færa hann heim í Ásgarð. 
			|Það var Hermóður hinn 
			span.has-tip data-tooltip="" title="snöggur" hvati
			|, sonur Óðins, sem fékkst til fararinnar. 
			|Þá var hestur Óðins, Sleipnir, leiddur fram og steig Hermóður á bak hans og hleypti á braut. 

		p 
			|Æsirnir tóku lík Baldurs og fluttu niður að sjó. 
			|Skip Baldurs hét Hringhorni, hann var stærstur allra skipa. 
			|Goðin vildu nota hann fyrir bálför Baldurs en skipinu komu þau hvergi frá landi. 
			|Þess vegna var sent eftir tröllkonunni Hyrrokkin í Jötunheima. 
			|Hún kom ríðandi á úlfi og notaði höggorm sem taum. 
			|Hún stökk af reiðskjótanum og Óðinn kallaði til fjóra berserki til að gæta hans og urðu þeir að fella hann til að geta haldið honum. 
			|Hyrrokkin gekk að stefni skipsins og ýtti því út í fyrstu tilraun þannig að eldur skaust undan 
			span.has-tip data-tooltip="" title="viður eða bein sem sett var undir kjöl báta til að draga að eða frá landi, sbr. orðtakið að vera kominn á fremsta hlunn. " hlunnunum 
			|og öll lönd skulfu. 
			|Þá varð Þór reiður, greip hamarinn og ætlaði að brjóta höfuð hennar en goðin báðu hann að þyrma henni. 

		p 
			|Þá var lík Baldurs borið út á skipið og þegar konan hans, Nanna Nepsdóttir, sá það sprakk hún af harmi og dó. 
			|Var hún þá borin út á skipið og eldur lagður að. 
			|Þór stóð hjá og 
			span.has-tip data-tooltip="" title="gera eitthvað heilagt." vígði 
			|bálið með Mjöllni. 
			|Við fætur hans hljóp dvergur nokkur sem nefndist Litur. Þór sparkaði honum í bálið og brann hann þar. 
			|Við brennuna voru ýmsar þjóðir, fólk og skepnur. 
			|Fyrst skal nefna Óðin og með honum var Frigg ásamt valkyrjum og hröfnum hans. 
			|Freyr ók kerru en hana dró gölturinn Gullinbursti eða Slíðrugtanni. 
			|Heimdallur reið hestinum Gulltoppi og Freyja ók köttum sínum. 
			|Þar kom mikill fjöldi hrímþursa og bergrisa. 
			|Óðinn lagði á bálið 
			span.has-tip data-tooltip="" title="hringur á fingur, sbr. fingurgull. Í fornsögum getur hringur einnig merkt armband." hring 
			|sem heitir Draupnir. 
			|Hann var þess eðlis að níundu hverja nótt drupu af honum átta jafnþungir hringar. 
			|Hestur Baldurs var leiddur á bálið með öllum reiðtygjum. 

		p 
			|Frá Hermóði er það að segja að hann reið í níu nætur gegnum dimma og djúpa dali og hann sá ekkert fyrr en hann kom til árinnar Gjallar og reið yfir Gjallarbrú. 
			|Hún er þakin með lýsandi gulli. Mærin, sem gætir brúarinnar, er nefnd Móðgunnur. 
			|Hún spurði hann að nafni og ætt og sagði að daginn áður hefði fimm flokkar dauðra manna riðið yfir brúna, 

		blockquote
			|„en ekki drynur minna í brúnni undan þér einum og ekki hefur þú yfirbragð dauðra manna. 
			|Hvers vegna ríður þú um Helveg?“

		p Hann svarar: 
		blockquote
			|„Ég ríð til Heljar að leita Baldurs. 
			|Hefur þú nokkuð séð Baldur á Helvegi?“

		p Hún sagði að Baldur hafði riðið um Gjallarbrú, 
		blockquote
			|„en Helvegur liggur norður og niður.“

		p 
			|Þá reið Hermóður þar til hann kom að hliði Heljar. 
			|Hann steig af hestinum, herti hnakkgjörðina, steig á bak og keyrði hestinn áfram með 
			span.has-tip data-tooltip="" title="oddar." sporum
			|. 
			|Hesturinn stökk svo hátt yfir hliðið að hann snerti það hvergi. 
			|Þá reið Hermóður heim til hallarinnar og steig af hestinum, gekk inn í höllina og sá þar Baldur bróður 
			|sinn sitja í 
			span.has-tip data-tooltip="" title="hásæti." öndvegi
			|. 
			|Hermóður dvaldi þar um nóttina. 
			|Morguninn eftir baðst Hermóður þess af Helju að Baldur fengi að ríða heim með honum og sagði henni hve mikil sorg ríkti meðal ása. 
			|Hel sagði að nú skyldi reyna á hvort Baldur væri svo ástsæll sem sagt var og, 

		blockquote
			|„ef allir hlutir í heiminum gráta hann þá má hann fara aftur til ása en vera áfram í Helju ef nokkur mælir á móti eða vill ekki gráta.“

		p Hermóður stóð upp og Baldur leiddi hann út úr höllinni og tók hringinn Draupni til að senda Óðni til minja. 
			|Nanna sendi Frigg klæði og fleiri gjafir svo sem hring á fingur Fullu. 
			|Hermóður reið þá aftur til Ásgarðs og sagði frá öllu sem hann hafði séð og heyrt. 

		p 
			|Því næst sendu æsir erindreka um allan heim að biðja þess að Baldur væri grátinn úr Helju. 
			|Allir gerðu það, mennirnir, dýrin, jörðin og steinarnir, trén og allur málmur en eins og þú hefur séð þá gráta þessir hlutir þegar þeir koma úr frosti í hita. 
			|Sendimennirnir voru á heimleið að lokinni vel heppnaðri sendiför þegar þeir hitta fyrir tröllkonu í helli einum. 
			|Hún var nefnd Þökk. 
			|Þeir biðja hana að gráta Baldur úr Helju en hún segir: 

		.row.poem
			.col-xs-12
				h4 Vísa 51
				ul
					li 
						|Þökk mun 
						span.has-tip data-tooltip="" title="gráta ekki."
							|gráta
							br
							|þurrum tárum
					li 
						|
						span.has-tip data-tooltip="" title="það að Baldur sé brenndur." Baldurs bálfarar
						|. 
					li 
						|
						span.has-tip data-tooltip="" title="lifandi." Kviks 
						|né dauðs
					li 
						|
						span.has-tip data-tooltip="" title="naut ég ekki, fá ekkert gott frá." nautka eg 
						span.has-tip data-tooltip="" title="Baldur." Karls sonar
						|. 
					li Haldi Hel því er hefur. 

		p En það er mál manna að þetta hafi verið Loki Laufeyjarson sem stendur á bak við flest illvirki meðal ása. 


