div.row
	.col-xs-12.columns
		h3 50. Refsing Loka

		p Þá sagði Gangleri: 
		blockquote
			|„Loki hefur áorkað miklu úr því hann olli fyrst dauða Baldurs og kom svo í veg fyrir að hann væri leystur úr Helju. 
			|Komu æsir ekki fram hefndum fyrir þetta?

		p Hár svarar: 
		blockquote
			|„Hann fékk að gjalda fyrir þetta á þann hátt að hann mun lengi þjást. 
			|Þegar goðin voru orðin honum eins reið og vænta mátti þá flúði hann til fjalla og faldi sig, gerði sér hús með fernum dyrum svo hann gæti séð í allar áttir. 
			|Á daginn breytti hann sér oft í lax og faldi sig í Fránangursfossi. 
			|Hann reyndi að ímynda sér hvaða vélabrögðum æsir myndu beita til að góma hann í fossinum. 
			|Á meðan hann dvaldi í húsinu tók hann garn og hnýtti á það möskva svo úr varð net en eldur brann í húsinu hjá honum. 
			|Þá veitti hann því athygli að æsirnir voru skammt undan en Óðinn hafði séð úr Hliðskjálfinni hvar hann var. 
			|Hann stóð strax upp og hljóp út í ána en kastaði netinu á eldinn.

		blockquote
			|Þegar æsirnir komu til hússins þá gekk sá fremstur, sem var vitrastur, en hann hét Kvasir. 
			|Um leið og hann sá leifarnar af netinu í eldinum áttaði hann sig á því að þetta væri tæki til að veiða fiska og sagði ásunum. 
			|Því næst gerðu þeir sér net eftir öskuleifunum af neti Loka. 
			|Þegar netið var tilbúið fóru æsirnir til árinnar og lögðu það í fossinn. 
			|Þór hélt í annan endann á netinu en allir æsirnir í hinn og drógu það niður eftir ánni. 
			|Loki faldi sig milli tveggja steina. 
			|Þeir drógu netið yfir hann en urðu varir við eitthvað kvikt og fóru því í annað sinn upp til fossins og köstuðu netinu út. 
			|Þeir settu þunga hluti á netið svo ekkert kæmist undir það. 
			|Loki synti undan netinu en er hann sá að stutt var til sjávar þá stökk hann yfir netið og synti upp að fossinum. 
			|Æsirnir sáu för hans og fóru aftur upp til fossins. 
			|Þeir skiptu liðinu í tvennt en Þór óð eftir miðri ánni. 
			|Þannig fóru þeir eftir ánni niður að sjónum. 
			|Loki sá að hann átti tvo kosti: Það var honum lífsháski að synda út í sjó en hinn kosturinn var að stökkva aftur yfir netið og það gerði hann. 
			|Þór náði taki á honum en hann rann í gegnum greipar hans uns höndin nam staðar við sporðinn. 
			|Af þessum sökum er laxinn afturmjór. 

		blockquote
			|Nú var Loka ekki sýnd nokkur miskunn heldur var farið með hann í nálægan helli. 
			|Þar tóku þeir þrjár hellur, reistu á rönd og brutu gat á hverja hellu. 
			|Svo tóku þeir syni Loka, Vála og Nara eða Narfa. 
			|Breyttu Vála í úlf og tætti hann Narfa bróður sinn í sundur. 
			|Þeir notuðu þarmana úr Narfa til að binda Loka ofan á steinana þrjá – einn stendur undir herðunum, annar undir 
			span.has-tip data-tooltip="" title="mjóbak." lendunum 
			|og sá þriðji undir hnésbótum – þessi bönd urðu að járni. 

		blockquote
			|Skaði tók eiturorm og festi yfir hann svo eitur ormsins myndi drjúpa í andlitið á honum. 
			|Sigyn, kona Loka, stendur hjá honum og heldur á skál undir eiturdropana. 
			|En þegar skálin fyllist þá fer hún og tæmir hana. 
			|Á meðan drýpur eitrið í andlit hans. 
			|Þá kippist hann svo fast við að jörðin skelfur. 
			|Það kallið þið jarðskjálfta. 
			|Þarna liggur hann bundinn til ragnaraka.“ 


