.row
	.col-md-12
		h3 Um útgáfuna
		p Snorraedda.is er rafræn útgáfa af Gylfaginningu og frásagnarköflum Skáldskaparmála úr Snorra-Eddu. Útgáfan er ætluð til kennslu í grunn- og framhaldsskólum. Texti Gylfaginningar hefur verið endurskrifaður og færður til nútímahorfs til að gera hann aðgengilegri fyrir ungt fólk og aðra sem eru óvanir lestri íslenskra fornbókmennta. Texti frásagnarkafla Skáldskaparmála er óbreyttur frá fyrri útgáfum Snorra-Eddu sem gefnar hafa verið út með nútímastafsetningu til notkunar í skólum.
		p Snorraedda.is er html5 vefur sem er sniðinn að flestum gerðum tölva, spjaldtölva og snjallsíma. Vefurinn er hugsaður sem rafbók með orðskýringum en hægt er að smella á þau orð sem feitletruð eru í textanum og kalla þannig fram skýringar á þeim. Vefurinn er einnig hljóðbók þar sem hægt er að hlusta á textann lesinn upphátt. Vefnum fylgja ýmis verkefni auk gagnvirkra krossaprófa úr efninu.
		p Þessi útgáfa er unnin með styrk frá menntamálaráðuneytinu en umsjón með henni höfðu Gylfi Hafsteinsson og Þröstur Geir Árnason íslenskukennarar við Verzlunarskóla Íslands.