.row.exercise.quiz
	.col-xs-12
		h3 = @quiz.name
		.bottom
			p.correct 
				| Þú náðir 
				span.blue = @correct
				|  réttum af 
				span.blue = @count
				|  mögulegum
			== link_to "Reyna Aftur", verkefni_tengi_path(@id), :class => "btn btn-quiz"
