.row.exercise.connect
	.col-xs-12
		h3 = @quiz.name
		p Til að tengja saman ýtir þú á einn hlut í einni töflu og svo hlutinn í hinni töflunni. Til að breyta um tengingu getur þú ýtt á hlut aftur og þá losnar sú tenging.
	.col-xs-6
		table.table#first
			tbody
				- @left.each do |connection|
					tr id="#{connection.id}"
						td =connection.answer

	.col-xs-6.clearfix
		table.table#second
			tbody
				- @right.each do |connection|
					tr id="#{connection.id}"
						td =connection.answer
	.col-xs-12.col-md-6
		= form_tag verkefni_tengi_path(@id), :class => "form" do
			input.btn.btn-quiz type="submit" value="Fá Niðurstöður"

coffee:
	colors = []
	getColor = ->
		rc = ((Math.floor((240-149)*Math.random()) + 150) for i in [1..3])
		for c in colors
			for i in [0..2]
				if (c[i] + 10) < rc[i] and (c[i] - 10) > rc[i]
					return getColor()
		colors.push rc
		return rc
	randomColor = ->
		c = getColor()
		return "rgb(#{c[0]},#{c[1]},#{c[2]})"
	color = ''
	field = ''
	$current = null
	$form = $('.form')
	clearLink = (self) ->
		$el = $("##{self.data('id')}")
		$el.css('background-color','').removeData('id')
		if $el.data('input')?
			$el.data('input').val('')
	$('.connect tr').on 'touchstart click', (e) ->
		e.preventDefault()
		e.stopPropagation()
		$this = $(this)
		if color isnt '' and field isnt ''
			return if field is $this.parent().parent().attr('id')
			$this.css('background-color', color)
			if $this.data('id')?
				clearLink($this)
			if $this.data('input')?
				$this.data('input').val('')
			$this.data('id',$current.attr('id'))

			$current.data('id',$this.attr('id'))
			$current.data('input').val($this.attr('id'))
			color = ''
			field = ''
			return
		$current = $this
		field = $this.parent().parent().attr('id')

		if $this.data('id')? 
			clearLink($this)
			color = $this.css('background-color')
		else
			color = randomColor()

		if not $this.data('input')?
			input = $('<input>').attr('type','hidden').attr('name',"answers[#{$this.attr('id')}]").appendTo($form)
			$this.data('input', input)
		$this.css('background-color',color)

	