/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_directory .
 */

 @import "bootstrap";

 @import "font-awesome";

 body {
 	padding-top: 40px;
 	padding-bottom: 40px;
 	background-color: #386c83;

	font-weight: 300;
	color: white;
 }
 .logo {
 	img {
	 	margin: 0 auto;
	 	display: block;
 	}
 }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 1.5px;
}
@import 'shared';

 .links {
 	margin: 10px auto 0;
 	// display: inline-block;
 	ul {
 		// margin-left: 7%;
 		width: 85%;
 		margin: auto;
 		padding: 0;

 	}
 	li {
 		// display: inline;
 		display: inline-block;
 		list-style-type: none;
 		// margin-left: 5px;
 		margin-top: 5px;
 		width: 50%;
		color: white;
 		a {
 			color: white;
 			text-decoration: none;
 		}

		
 	}
 	// li:not(:last-child) {
 	// 	&:after {
		// 	margin-left: 5px;
		// 	content: "|";
		// }
 	// }
 	li:only-child {
 		margin-left: 25%;
 	}
 }

 .link {
 	margin-top: 10px;
 	text-decoration: none;
 	color: white;
 	display: block;
 	text-align: center;
 	&:hover {
 		color: white;
	 	text-decoration: none;
 	}
 }

