// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

@import "font-awesome";
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 50px;

	font-weight: 300;
	// color: #386c83;
	color: #adadad;

	margin: 0 0 60px; /* bottom = footer height + gutter */

}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 1.5px;
	color: #386c83;
}

.center {
	margin: 0 auto;
	float: none;
}

.gray {
	color: #b7b7b7;
}

.navbar {
	background-color: #386c83;
	border: 0;
	.navbar-nav {
		&>li{
			&>a {
				color: white !important;
			}
		}
	}
	.navbar-collapse {
		border: 0;
	}
	.navbar-toggle {
		border: 0;
	}
}
.heading {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	width: 100% !important;
	h1 {
		font-size: 4.5em;
		text-transform: uppercase;
	}
	.macbook {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 741px;
		margin-top: 50px;
	}
	.icon {
		margin-bottom: 10px;
		// color: #386c83;
	}
	.row {
		position: relative;
	}

	.overlay {
		width: 100%;
		height: 100%;
		z-index: 50;
		background-color: #386c83;
		background-color: rgba(56, 108, 131, 0.98);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility:hidden;
		-webkit-transition: opacity 1s ease-in-out;
		   -moz-transition: opacity 1s ease-in-out;
		    -ms-transition: opacity 1s ease-in-out;
		     -o-transition: opacity 1s ease-in-out;
		        transition: opacity 1s ease-in-out;
		&.active {
			visibility:visible;
			zoom: 1;
			filter: alpha(opacity=100);
			opacity: 1;
		}
		.close {
			position: absolute;
			right: 10px;
			top: 10px;
			font-size: 2em;
			color: white;
			font-weight: 300;
			z-index: 100;
		}
	}
}

.subfeature {
	background: image-url('sub-bg.png') no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	width: 100%;
	height: 400px;
	text-align: center;
	color: white;
	padding-top: 8%;
	h2 {
		text-transform: uppercase;
		font-size: 3em;
		color: white;

	}
	p {
		font-size: 1em;
	}
}
@media (min-width: 470px) {
	.subfeature h2 {
		font-size: 4em;
	}
}

.signup {
	.ipad {
		width: 100%;
		max-width: 402px;
		max-height: 375px;
		margin: 0 auto;
		display: block;
	}
	.register {
		padding-top: 80px;
		h3 {
			font-size: 3em;
			text-transform: uppercase;
		}
		a {
			display: block;
			width: 100%;
			background-color: #386c83;
			text-align: center;
			padding: 15px 0;
			color: white;
			text-decoration: none;
			margin-bottom: 20px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	padding-top: 0.5em;
    // padding: 1em 15px;
    text-align: center;
    color: white;
    width: 100%;
    background-color: #386c83;
}


@import 'shared';



