

.form-signin {
 	max-width: 330px;
 	padding: 15px;
 	margin: 0 auto;
	.checkbox {
 		font-weight: normal;
	 	margin-bottom: 10px;
 	}
 	.form-control {
	 	position: relative;
	 	font-size: 16px;
	 	height: auto;
	 	padding: 10px;
	 	-webkit-box-sizing: border-box;
	 	-moz-box-sizing: border-box;
	 	box-sizing: border-box;
	 	border-left: none;
	 	color: black;
	}
	.form-control:focus {
		border-color: #cccccc;
	 	z-index: 2;
	 	-webkit-box-shadow: none;
	 	box-shadow: none;
	}

	.btn {
		background-color: #d6be91;
		border: none;
		border-radius: 3px;
		font-weight: 300;
		&.register {
			background-color: #718e60;
		}
	}
	.form-control:-moz-placeholder {
		font-weight: 300;
    	color: #999999;
    }
  	.form-control::-moz-placeholder {
  		font-weight: 300;
    	color: #999999;
    	opacity: 1;
    }
    .form-control:-ms-input-placeholder {
    	font-weight: 300;
	    color: #999999;
	}
	.form-control::-webkit-input-placeholder {
		font-weight: 300;
		color: #999999; 
	}
}
.input-group {
 	width: 100%;
 	.input-group-addon {
 		width: 36px;
 		background: white;
 	}
 	&.top {
	 	margin-bottom: -1px;
	 	border-bottom-left-radius: 0;
	 	border-bottom-right-radius: 0;
	 	span, input {
	 		border-bottom-left-radius: 0;
	 		border-bottom-right-radius: 0;
	 	}
	 }
 	&.bottom {
	 	margin-bottom: 10px;
	 	border-top-left-radius: 0;
	 	border-top-right-radius: 0;
	 	span, input {
	 		border-top-left-radius: 0;
	 		border-top-right-radius: 0;
	 		border-top: none;
	 	}
	}
	&.center {
		margin-bottom: 0;
		border-radius: 0;
		span, input {
			border-radius: 0;
		}
	}

	&.none {
		margin-bottom: 10px;
	}
 }