doctype html
/! paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
head
  meta charset="utf8"
  meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
  meta property="og:title" content="Snorra Edda"
  meta property="og:url" content="#{request.url}"
  meta property="og:image" content=""
  meta property="og:description" content="Snorra Edda"
  title Snorra Edda

  meta content="" name="description"
  meta content="" name="author"

  meta content="width=device-width initial-scale=1.0" name="viewport"
  /! stops apple adding anchor tags to phone numbers
  meta content="telephone=no" name="format-detection"

  link href="http://gmpg.org/xfn/11" rel="profile"
  link href="" rel="pingback"
  link href="humans.txt" rel="author"

  link href="/favicon.ico" rel="shortcut icon"
  link href="/apple-touch-icon.png" rel="apple-touch-icon"

  
  == stylesheet_link_tag    "admin/application", media: "all", "data-turbolinks-track" => true 
  == csrf_meta_tags
  == javascript_include_tag "admin/application", "data-turbolinks-track" => true 

body
  /! start container
  .navbar.navbar-default.navbar-fixed-top role="navigation"
    .container
      .navbar-header
        button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="/admin" Snorra Edda
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            == link_to "Notendur", admin_users_path
          li
            == link_to "Krossaspurningar", admin_quizzes_path
          li
            == link_to "Tengispurningar", admin_connect_quizzes_path
        ul.nav.navbar-nav.pull-right
          li 
            a href="#" == current_user.email
          li
            == link_to "Útskráning", destroy_user_session_path, :method => :delete

  .container.admin
    == yield

  
  /![if lt IE 7 ]
    | <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    | <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
</html>

