= form_for @connection, url: @url do |f|
	.form-group
		== f.label :Svar
		== f.text_field :answer, :class => "form-control", :placeholder => "Svar"

	.form-group
		= f.label :location, :class => 'checkbox' do
		      = f.check_box :location
		      | Hægri/Vinstri?
    .form-group
    	== f.label :Tenging
    	== f.collection_select(:connect_id, @quiz.connections.all, :id, :answer, prompt: true)
	== f.submit "Skrá krossaspurningar", :class => "btn btn-primary"