table.table.table-hover
	thead
		tr
			th Svar
			th Staðsetning
			th Tenging
			th Breyta
			th Eyða
	tbody
		- @connections.each do |connection|
			tr
				td = connection.answer
				td = connection.location? ? 'Hægri' : 'Vinstri'
				td = connection.connection.nil? ? "" : connection.connection.answer
				td = link_to 'Breyta', edit_admin_connect_quiz_connect_connection_path(@quiz,connection), :class => 'btn btn-success'
				td = link_to 'Eyða', admin_connect_quiz_connect_connection_path(@quiz,connection), method: :delete, :class => 'btn btn-danger', data: { :confirm => 'Ertu viss? Þú getur ekki afturkallað þetta skref.' }
= link_to 'Ný tenging', new_admin_connect_quiz_connect_connection_path(@quiz) ,:class => 'btn btn-primary'