p
  | Velkominn 
  = @email
  | !
p
  | Þú getur staðfest aðganginn þinn hér fyrir neðan.
p
  = link_to 'Staðfesta aðgang', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
