p
  | Sæll 
  = @resource.email
  | !
p
  | Einhver hefur beðið um slóð til að breyta lykilorði þínu. Þú getur gert það hér fyrir neðan.
p
  = link_to 'Breyta lykilorði', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
p
  | Ef þú baðst ekki um þetta, vinsamlegast hunsaðu þennan póst.
p
  | Lykilorði þínu verður ekki breytt fyrr en þú ýtir á slóðina fyrir ofan og býrð til nýtt.
