/ = link_to 'Allir út!', admin_user_logout_path, :method => :delete, :class => 'btn btn-danger', data: { :confirm => 'Ertu viss? Þú getur ekki afturkallað þetta skref.' }
table.table.table-hover
	thead
		tr
			th Email
			th Greitt?
			th Admin?
			th Greiðsla
			th Eyða notanda
	tbody
		- @users.each do |user|
			tr
				td = user.email
				td = user.purchased? ? ('Já' + (user.sale_id.nil? ? '(Ógreitt)' : '')) : 'Nei'
				td 
					= link_to((user.admin ? 'Já' : 'Nei'), admin_user_admin_path(user), :method => (user.admin ? :delete : :get), :title => 'Breyta réttindum')
				td
					-if not user.purchased?
						= link_to 'Sleppa við greiðslu', admin_user_purchase_path(user), :method => :get, :class => 'btn btn-info'
					-elsif user.purchased? and user.sale_id.nil?
						= link_to 'Loka fyrir fríaðgang', admin_user_purchase_path(user), :method => :delete, :class => 'btn btn-warning'
					-else
						| &nbsp;
				td
					= link_to 'Eyða', admin_user_path(user), method: :delete, :class => 'btn btn-danger', data: { :confirm => 'Ertu viss? Þú getur ekki afturkallað þetta skref.' }