div.fixed
  nav.top-bar
    section.top-bar-section
      ul.left
        li.divider
        li.has-dropdown.active
          a href="#" Kaflaskipti
          ul.dropdown
            li
              == link_to "Sköpun heimsins", skopunheimsins_path()
            li
              == link_to "Heimsmyndin", heimsmyndin_path()
            li
              == link_to "Æsir og ásynjur", aesirogasynjur_path()
            li
              == link_to "Valhöll", valholl_path()
            li
              == link_to "Sleipnir og Skíðblaðnir", sleipnirogskidbladnir_path()
            li
              == link_to "För Þórs til Útgarða-Loka", forthorstilutgardaloka_path()
            li
              == link_to "Dauði Baldurs", daudibaldurs_path()
            li
              == link_to "Ragnarök", ragnarok_path()
      ul.right
        - if user_signed_in?
          li
            == link_to('Logout', destroy_user_session_path)
        - else
          li
            == link_to('Login', new_user_session_path)
        li.divider
        - if user_signed_in?
          li
            == link_to('Edit registration', edit_user_registration_path)
        - else
          li
            == link_to('Register', new_user_registration_path)