doctype html
/! paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
head
  meta charset="utf8"
  meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
  meta property="og:title" content="Snorra Edda"
  meta property="og:url" content="#{request.url}"
  meta property="og:image" content="#{image_path("macbook.png")}"
  meta property="og:description" content="Snorra Edda"
  title Snorra Edda

  meta content="" name="description"
  meta content="" name="author"

  meta content="width=device-width, initial-scale=1.0" name="viewport"
  /! stops apple adding anchor tags to phone numbers
  meta content="telephone=no" name="format-detection"

  link href="http://gmpg.org/xfn/11" rel="profile"
  link href="" rel="pingback"
  link href="humans.txt" rel="author"

  link href="/favicon.png" rel="shortcut icon"
  link href="/apple-touch-icon.png" rel="apple-touch-icon"

  link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'

  
  == stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true 
  == csrf_meta_tags
  == javascript_include_tag "home", "data-turbolinks-track" => true 

body
  .navbar-wrapper
    .container
      .navbar.navbar-inverse.navbar-fixed-top role="navigation"
        .container
          .navbar-header
            button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand href="/"
              == image_tag "snorraedda.png", alt: "Snorra Edda"
          .navbar-collapse.collapse
            ul.pull-right.nav.navbar-nav
              li
                a href="#register" Stofna aðgang
              li
                a href="#login" Innskráning
  .container.heading
    .row
      .overlay#login
        .overlay-inner
          a.close href="#" &times;
          == render "login"
      .overlay#register
        .overlay-inner
          a.close href="#" &times;
          == render "register"
      .col-md-8.center
        h1 Snorra-Edda.is
        p Rafræn útgáfa Gylfaginningar og frásagnarkafla Skáldskaparmála úr Snorra-Eddu. 
      .col-md-10.center
        == image_tag "macbook.png", :class => "macbook"
      .col-md-2.center.icon
        i.fa.fa-2x.fa-chevron-down
  .container.subfeature
    .row
      .col-md-6.center
        h2
          span.gray Verkefni 
          | og gagnvirk próf
      .col-md-8.center
        p.lead Útgáfan er ætluð til kennslu í grunn- og framhaldsskólum. Stærsti hluti textans hefur verið endurskrifaður á nútímamáli. Vefurinn er einnig hljóðbók og honum fylgja ýmis verkefni og gagnvirk  próf. Hann hentar jafnt fartölvum, spjaldtölvum og símum. Vefurinn er styrktur af menntamálaráðuneytinu.
  .container.signup
    .row.center
      .col-xs-12.col-md-5.col-md-offset-1
        == image_tag "ipad.png", :class => "ipad"
      .col-xs-12.col-md-5.register
        h3 Nýskráning
        p Aðgangur að vefnum kostar 1890 kr. og er hægt að greiða fyrir hann í greiðslugátt. Hver notandi býr sér til notendanafn og fær aðgangsorð þegar greiðsla hefur verið innt af hendi.
        a href="#register" Stofna aðgang

  .container.footer
    == render 'layouts/footer'
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47953016-1', 'snorraedda.is');
    ga('send', 'pageview');
  
  /![if lt IE 7 ]
    | <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    | <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
</html>

